pipeline/AR_2_ADLS_To_SQL.json
{
	"name": "AR_2_ADLS_To_SQL",
	"properties": {
		"activities": [
			{
				"name": "Copy RA_BATCH_SOURCES_ALL To SQL",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookup Generic File Timestamp",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"additionalColumns": [
							{
								"name": "_M_TIMESTAMP",
								"value": {
									"value": "@utcnow()",
									"type": "Expression"
								}
							},
							{
								"name": "_M_PIPELINE",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							{
								"name": "_M_DATETIME",
								"value": {
									"value": "@formatDateTime(utcnow())",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"modifiedDatetimeStart": {
								"value": "@activity('Lookup Generic File Timestamp').output.FirstRow.WATERMARK_DATETIME",
								"type": "Expression"
							},
							"wildcardFolderPath": "bfguk_erp_prod/schemas/AR/RA_BATCH_SOURCES_ALL",
							"wildcardFileName": "*",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": {
							"value": "begin try\ntruncate table [stg].[RA_BATCH_SOURCES_ALL]\nend try\nbegin catch \nselect null\nend catch",
							"type": "Expression"
						},
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "BATCH_SOURCE_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "batch_source_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "LAST_UPDATE_DATE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "last_update_date",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "LAST_UPDATED_BY",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "last_updated_by",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CREATION_DATE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "creation_date",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CREATED_BY",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "created_by",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "LAST_UPDATE_LOGIN",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "last_update_login",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "NAME",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "name",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ORG_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "org_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "DESCRIPTION",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "description",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "STATUS",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "status",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "LAST_BATCH_NUM",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "last_batch_num",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "DEFAULT_INV_TRX_TYPE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "default_inv_trx_type",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE_CATEGORY",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "attribute_category",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE1",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "attribute1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE2",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "attribute2",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE3",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "attribute3",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE4",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "attribute4",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE5",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "attribute5",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE6",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "attribute6",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE7",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "attribute7",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE8",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "attribute8",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE9",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "attribute9",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE10",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "attribute10",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ACCOUNTING_FLEXFIELD_RULE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "accounting_flexfield_rule",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ACCOUNTING_RULE_RULE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "accounting_rule_rule",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "AGREEMENT_RULE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "agreement_rule",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "AUTO_BATCH_NUMBERING_FLAG",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "auto_batch_numbering_flag",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "AUTO_TRX_NUMBERING_FLAG",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "auto_trx_numbering_flag",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "BATCH_SOURCE_TYPE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "batch_source_type",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "BILL_ADDRESS_RULE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "bill_address_rule",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "BILL_CONTACT_RULE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "bill_contact_rule",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "BILL_CUSTOMER_RULE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "bill_customer_rule",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CREATE_CLEARING_FLAG",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "create_clearing_flag",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CUST_TRX_TYPE_RULE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "cust_trx_type_rule",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "DERIVE_DATE_FLAG",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "derive_date_flag",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "END_DATE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "end_date",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "FOB_POINT_RULE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "fob_point_rule",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GL_DATE_PERIOD_RULE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "gl_date_period_rule",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "INVALID_LINES_RULE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "invalid_lines_rule",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "INVALID_TAX_RATE_RULE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "invalid_tax_rate_rule",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "INVENTORY_ITEM_RULE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "inventory_item_rule",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "INVOICING_RULE_RULE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "invoicing_rule_rule",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "MEMO_REASON_RULE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "memo_reason_rule",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "REV_ACC_ALLOCATION_RULE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "rev_acc_allocation_rule",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SALESPERSON_RULE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "salesperson_rule",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SALES_CREDIT_RULE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "sales_credit_rule",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SALES_CREDIT_TYPE_RULE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "sales_credit_type_rule",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SALES_TERRITORY_RULE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "sales_territory_rule",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SHIP_ADDRESS_RULE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ship_address_rule",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SHIP_CONTACT_RULE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ship_contact_rule",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SHIP_CUSTOMER_RULE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ship_customer_rule",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SHIP_VIA_RULE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ship_via_rule",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SOLD_CUSTOMER_RULE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "sold_customer_rule",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "START_DATE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "start_date",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "TERM_RULE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "term_rule",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "UNIT_OF_MEASURE_RULE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "unit_of_measure_rule",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE11",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "attribute11",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE12",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "attribute12",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE13",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "attribute13",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE14",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "attribute14",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE15",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "attribute15",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CUSTOMER_BANK_ACCOUNT_RULE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "customer_bank_account_rule",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "MEMO_LINE_RULE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "memo_line_rule",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RECEIPT_METHOD_RULE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "receipt_method_rule",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RELATED_DOCUMENT_RULE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "related_document_rule",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ALLOW_SALES_CREDIT_FLAG",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "allow_sales_credit_flag",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GROUPING_RULE_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "grouping_rule_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CREDIT_MEMO_BATCH_SOURCE_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "credit_memo_batch_source_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE1",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "global_attribute1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE2",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "global_attribute2",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE3",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "global_attribute3",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE4",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "global_attribute4",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE5",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "global_attribute5",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE6",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "global_attribute6",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE7",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "global_attribute7",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE8",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "global_attribute8",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE9",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "global_attribute9",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE10",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "global_attribute10",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE11",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "global_attribute11",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE12",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "global_attribute12",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE13",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "global_attribute13",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE14",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "global_attribute14",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE15",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "global_attribute15",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE16",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "global_attribute16",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE17",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "global_attribute17",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE18",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "global_attribute18",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE19",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "global_attribute19",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE20",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "global_attribute20",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE_CATEGORY",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "global_attribute_category",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "COPY_DOC_NUMBER_FLAG",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "copy_doc_number_flag",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "DEFAULT_REFERENCE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "default_reference",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "COPY_INV_TIDFF_TO_CM_FLAG",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "copy_inv_tidff_to_cm_flag",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RECEIPT_HANDLING_OPTION",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "receipt_handling_option",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ALLOW_DUPLICATE_TRX_NUM_FLAG",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "allow_duplicate_trx_num_flag",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "LEGAL_ENTITY_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "legal_entity_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GEN_LINE_LEVEL_BAL_FLAG",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "gen_line_level_bal_flag",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PAYMENT_DET_DEF_HIERARCHY",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "payment_det_def_hierarchy",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ZD_EDITION_NAME",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "zd_edition_name",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ZD_SYNC",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "zd_sync",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "_M_TIMESTAMP",
									"type": "String"
								},
								"sink": {
									"name": "_m_timestamp",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "_M_PIPELINE",
									"type": "String"
								},
								"sink": {
									"name": "_m_pipeline",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "_M_DATETIME",
									"type": "String"
								},
								"sink": {
									"name": "_m_datetime",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ADLS_RA_BATCH_SOURCES_ALL",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SQL_RA_BATCH_SOURCES_ALL",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy RA_CUSTOMER_TRX_ALL To SQL",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy RA_BATCH_SOURCES_ALL To SQL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"additionalColumns": [
							{
								"name": "_M_TIMESTAMP",
								"value": {
									"value": "@utcnow()",
									"type": "Expression"
								}
							},
							{
								"name": "_M_PIPELINE",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							{
								"name": "_M_DATETIME",
								"value": {
									"value": "@formatDateTime(utcnow())",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"modifiedDatetimeStart": {
								"value": "@activity('Lookup Generic File Timestamp').output.FirstRow.WATERMARK_DATETIME",
								"type": "Expression"
							},
							"wildcardFolderPath": "bfguk_erp_prod/schemas/AR/RA_CUSTOMER_TRX_ALL",
							"wildcardFileName": "*",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": {
							"value": "begin try\ntruncate table [stg].[RA_CUSTOMER_TRX_ALL]\nend try\nbegin catch \nselect null\nend catch",
							"type": "Expression"
						},
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "CUSTOMER_TRX_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "customer_trx_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "LAST_UPDATE_DATE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "last_update_date",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "LAST_UPDATED_BY",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "last_updated_by",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CREATION_DATE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "creation_date",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CREATED_BY",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "created_by",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "LAST_UPDATE_LOGIN",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "last_update_login",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "TRX_NUMBER",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "trx_number",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CUST_TRX_TYPE_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "cust_trx_type_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "TRX_DATE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "trx_date",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SET_OF_BOOKS_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "set_of_books_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "BILL_TO_CONTACT_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "bill_to_contact_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "BATCH_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "batch_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "BATCH_SOURCE_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "batch_source_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "REASON_CODE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "reason_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SOLD_TO_CUSTOMER_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "sold_to_customer_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SOLD_TO_CONTACT_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "sold_to_contact_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SOLD_TO_SITE_USE_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "sold_to_site_use_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "BILL_TO_CUSTOMER_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "bill_to_customer_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "BILL_TO_SITE_USE_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "bill_to_site_use_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SHIP_TO_CUSTOMER_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ship_to_customer_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SHIP_TO_CONTACT_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ship_to_contact_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SHIP_TO_SITE_USE_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ship_to_site_use_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SHIPMENT_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "shipment_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "REMIT_TO_ADDRESS_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "remit_to_address_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "TERM_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "term_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "TERM_DUE_DATE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "term_due_date",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PREVIOUS_CUSTOMER_TRX_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "previous_customer_trx_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PRIMARY_SALESREP_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "primary_salesrep_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PRINTING_ORIGINAL_DATE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "printing_original_date",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PRINTING_LAST_PRINTED",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "printing_last_printed",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PRINTING_OPTION",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "printing_option",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PRINTING_COUNT",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "printing_count",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PRINTING_PENDING",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "printing_pending",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PURCHASE_ORDER",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "purchase_order",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PURCHASE_ORDER_REVISION",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "purchase_order_revision",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PURCHASE_ORDER_DATE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "purchase_order_date",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CUSTOMER_REFERENCE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "customer_reference",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CUSTOMER_REFERENCE_DATE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "customer_reference_date",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "COMMENTS",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "comments",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "INTERNAL_NOTES",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "internal_notes",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "EXCHANGE_RATE_TYPE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "exchange_rate_type",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "EXCHANGE_DATE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "exchange_date",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "EXCHANGE_RATE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "exchange_rate",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "TERRITORY_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "territory_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "INVOICE_CURRENCY_CODE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "invoice_currency_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "INITIAL_CUSTOMER_TRX_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "initial_customer_trx_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "AGREEMENT_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "agreement_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "END_DATE_COMMITMENT",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "end_date_commitment",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "START_DATE_COMMITMENT",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "start_date_commitment",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "LAST_PRINTED_SEQUENCE_NUM",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "last_printed_sequence_num",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE_CATEGORY",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "attribute_category",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE1",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "attribute1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE2",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "attribute2",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE3",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "attribute3",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE4",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "attribute4",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE5",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "attribute5",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE6",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "attribute6",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE7",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "attribute7",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE8",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "attribute8",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE9",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "attribute9",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE10",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "attribute10",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ORIG_SYSTEM_BATCH_NAME",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "orig_system_batch_name",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "POST_REQUEST_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "post_request_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "REQUEST_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "request_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PROGRAM_APPLICATION_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "program_application_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PROGRAM_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "program_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PROGRAM_UPDATE_DATE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "program_update_date",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "FINANCE_CHARGES",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "finance_charges",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "COMPLETE_FLAG",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "complete_flag",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "POSTING_CONTROL_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "posting_control_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "BILL_TO_ADDRESS_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "bill_to_address_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RA_POST_LOOP_NUMBER",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ra_post_loop_number",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SHIP_TO_ADDRESS_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ship_to_address_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CREDIT_METHOD_FOR_RULES",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "credit_method_for_rules",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CREDIT_METHOD_FOR_INSTALLMENTS",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "credit_method_for_installments",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RECEIPT_METHOD_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "receipt_method_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE11",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "attribute11",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE12",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "attribute12",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE13",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "attribute13",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE14",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "attribute14",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE15",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "attribute15",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RELATED_CUSTOMER_TRX_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "related_customer_trx_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "INVOICING_RULE_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "invoicing_rule_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SHIP_VIA",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ship_via",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SHIP_DATE_ACTUAL",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ship_date_actual",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "WAYBILL_NUMBER",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "waybill_number",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "FOB_POINT",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "fob_point",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CUSTOMER_BANK_ACCOUNT_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "customer_bank_account_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "INTERFACE_HEADER_ATTRIBUTE1",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "interface_header_attribute1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "INTERFACE_HEADER_ATTRIBUTE2",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "interface_header_attribute2",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "INTERFACE_HEADER_ATTRIBUTE3",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "interface_header_attribute3",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "INTERFACE_HEADER_ATTRIBUTE4",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "interface_header_attribute4",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "INTERFACE_HEADER_ATTRIBUTE5",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "interface_header_attribute5",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "INTERFACE_HEADER_ATTRIBUTE6",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "interface_header_attribute6",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "INTERFACE_HEADER_ATTRIBUTE7",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "interface_header_attribute7",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "INTERFACE_HEADER_ATTRIBUTE8",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "interface_header_attribute8",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "INTERFACE_HEADER_CONTEXT",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "interface_header_context",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "DEFAULT_USSGL_TRX_CODE_CONTEXT",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "default_ussgl_trx_code_context",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "INTERFACE_HEADER_ATTRIBUTE10",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "interface_header_attribute10",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "INTERFACE_HEADER_ATTRIBUTE11",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "interface_header_attribute11",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "INTERFACE_HEADER_ATTRIBUTE12",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "interface_header_attribute12",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "INTERFACE_HEADER_ATTRIBUTE13",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "interface_header_attribute13",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "INTERFACE_HEADER_ATTRIBUTE14",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "interface_header_attribute14",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "INTERFACE_HEADER_ATTRIBUTE15",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "interface_header_attribute15",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "INTERFACE_HEADER_ATTRIBUTE9",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "interface_header_attribute9",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "DEFAULT_USSGL_TRANSACTION_CODE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "default_ussgl_transaction_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RECURRED_FROM_TRX_NUMBER",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "recurred_from_trx_number",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "STATUS_TRX",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "status_trx",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "DOC_SEQUENCE_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "doc_sequence_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "DOC_SEQUENCE_VALUE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "doc_sequence_value",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PAYING_CUSTOMER_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "paying_customer_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PAYING_SITE_USE_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "paying_site_use_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RELATED_BATCH_SOURCE_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "related_batch_source_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "DEFAULT_TAX_EXEMPT_FLAG",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "default_tax_exempt_flag",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CREATED_FROM",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "created_from",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ORG_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "org_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "WH_UPDATE_DATE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "wh_update_date",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE1",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "global_attribute1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE2",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "global_attribute2",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE3",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "global_attribute3",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE4",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "global_attribute4",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE5",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "global_attribute5",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE6",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "global_attribute6",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE7",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "global_attribute7",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE8",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "global_attribute8",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE9",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "global_attribute9",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE10",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "global_attribute10",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE11",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "global_attribute11",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE12",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "global_attribute12",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE13",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "global_attribute13",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE14",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "global_attribute14",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE15",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "global_attribute15",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE16",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "global_attribute16",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE17",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "global_attribute17",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE18",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "global_attribute18",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE19",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "global_attribute19",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE20",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "global_attribute20",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE21",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "global_attribute21",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE22",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "global_attribute22",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE23",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "global_attribute23",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE24",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "global_attribute24",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE25",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "global_attribute25",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE26",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "global_attribute26",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE27",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "global_attribute27",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE28",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "global_attribute28",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE29",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "global_attribute29",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE30",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "global_attribute30",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE_CATEGORY",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "global_attribute_category",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "EDI_PROCESSED_FLAG",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "edi_processed_flag",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "EDI_PROCESSED_STATUS",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "edi_processed_status",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "MRC_EXCHANGE_RATE_TYPE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "mrc_exchange_rate_type",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "MRC_EXCHANGE_DATE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "mrc_exchange_date",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "MRC_EXCHANGE_RATE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "mrc_exchange_rate",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PAYMENT_SERVER_ORDER_NUM",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "payment_server_order_num",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "APPROVAL_CODE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "approval_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ADDRESS_VERIFICATION_CODE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "address_verification_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "OLD_TRX_NUMBER",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "old_trx_number",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "BR_AMOUNT",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "br_amount",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "BR_UNPAID_FLAG",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "br_unpaid_flag",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "BR_ON_HOLD_FLAG",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "br_on_hold_flag",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "DRAWEE_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "drawee_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "DRAWEE_CONTACT_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "drawee_contact_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "DRAWEE_SITE_USE_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "drawee_site_use_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "REMITTANCE_BANK_ACCOUNT_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "remittance_bank_account_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "OVERRIDE_REMIT_ACCOUNT_FLAG",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "override_remit_account_flag",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "DRAWEE_BANK_ACCOUNT_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "drawee_bank_account_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SPECIAL_INSTRUCTIONS",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "special_instructions",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "REMITTANCE_BATCH_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "remittance_batch_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PREPAYMENT_FLAG",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "prepayment_flag",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CT_REFERENCE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ct_reference",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CONTRACT_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "contract_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "BILL_TEMPLATE_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "bill_template_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "REVERSED_CASH_RECEIPT_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "reversed_cash_receipt_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CC_ERROR_CODE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "cc_error_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CC_ERROR_TEXT",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "cc_error_text",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CC_ERROR_FLAG",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "cc_error_flag",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "UPGRADE_METHOD",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "upgrade_method",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "LEGAL_ENTITY_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "legal_entity_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "REMIT_BANK_ACCT_USE_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "remit_bank_acct_use_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PAYMENT_TRXN_EXTENSION_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "payment_trxn_extension_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "AX_ACCOUNTED_FLAG",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ax_accounted_flag",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "APPLICATION_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "application_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PAYMENT_ATTRIBUTES",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "payment_attributes",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "BILLING_DATE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "billing_date",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "INTEREST_HEADER_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "interest_header_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "LATE_CHARGES_ASSESSED",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "late_charges_assessed",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "REV_REC_APPLICATION",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "rev_rec_application",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "DOCUMENT_TYPE_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "document_type_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "DOCUMENT_CREATION_DATE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "document_creation_date",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SRC_INVOICING_RULE_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "src_invoicing_rule_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "BILLING_EXT_REQUEST",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "billing_ext_request",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "_M_TIMESTAMP",
									"type": "String"
								},
								"sink": {
									"name": "_m_timestamp",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "_M_PIPELINE",
									"type": "String"
								},
								"sink": {
									"name": "_m_pipeline",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "_M_DATETIME",
									"type": "String"
								},
								"sink": {
									"name": "_m_datetime",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ADLS_RA_CUSTOMER_TRX_ALL",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SQL_RA_CUSTOMER_TRX_ALL",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy RA_CUSTOMER_TRX_LINES_ALL To SQL",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookup RA_CUSTOMER_TRX_LINES_ALL ADLS Timestamp",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Copy RA_CUST_TRX_TYPES_ALL To SQL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"additionalColumns": [
							{
								"name": "_M_TIMESTAMP",
								"value": {
									"value": "@utcnow()",
									"type": "Expression"
								}
							},
							{
								"name": "_M_PIPELINE",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							{
								"name": "_M_DATETIME",
								"value": {
									"value": "@formatDateTime(utcnow())",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"modifiedDatetimeStart": {
								"value": "@activity('Lookup RA_CUSTOMER_TRX_LINES_ALL ADLS Timestamp').output.FirstRow.WATERMARK_DATETIME",
								"type": "Expression"
							},
							"wildcardFolderPath": "bfguk_erp_prod/schemas/AR/RA_CUSTOMER_TRX_LINES_ALL",
							"wildcardFileName": "*",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": {
							"value": "begin try\ntruncate table [stg].[RA_CUSTOMER_TRX_LINES_ALL]\nend try\nbegin catch \nselect null\nend catch",
							"type": "Expression"
						},
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "CUSTOMER_TRX_LINE_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "customer_trx_line_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "LAST_UPDATE_DATE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "last_update_date",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "LAST_UPDATED_BY",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "last_updated_by",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CREATION_DATE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "creation_date",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CREATED_BY",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "created_by",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "LAST_UPDATE_LOGIN",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "last_update_login",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CUSTOMER_TRX_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "customer_trx_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "LINE_NUMBER",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "line_number",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SET_OF_BOOKS_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "set_of_books_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "REASON_CODE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "reason_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "INVENTORY_ITEM_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "inventory_item_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "DESCRIPTION",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "description",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PREVIOUS_CUSTOMER_TRX_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "previous_customer_trx_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PREVIOUS_CUSTOMER_TRX_LINE_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "previous_customer_trx_line_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "QUANTITY_ORDERED",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "quantity_ordered",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "QUANTITY_CREDITED",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "quantity_credited",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "QUANTITY_INVOICED",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "quantity_invoiced",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "UNIT_STANDARD_PRICE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "unit_standard_price",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "UNIT_SELLING_PRICE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "unit_selling_price",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SALES_ORDER",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "sales_order",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SALES_ORDER_REVISION",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "sales_order_revision",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SALES_ORDER_LINE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "sales_order_line",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SALES_ORDER_DATE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "sales_order_date",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ACCOUNTING_RULE_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "accounting_rule_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ACCOUNTING_RULE_DURATION",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "accounting_rule_duration",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "LINE_TYPE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "line_type",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE_CATEGORY",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "attribute_category",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE1",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "attribute1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE2",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "attribute2",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE3",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "attribute3",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE4",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "attribute4",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE5",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "attribute5",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE6",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "attribute6",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE7",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "attribute7",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE8",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "attribute8",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE9",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "attribute9",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE10",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "attribute10",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "REQUEST_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "request_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PROGRAM_APPLICATION_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "program_application_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PROGRAM_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "program_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PROGRAM_UPDATE_DATE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "program_update_date",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RULE_START_DATE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "rule_start_date",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "INITIAL_CUSTOMER_TRX_LINE_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "initial_customer_trx_line_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "INTERFACE_LINE_CONTEXT",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "interface_line_context",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "INTERFACE_LINE_ATTRIBUTE1",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "interface_line_attribute1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "INTERFACE_LINE_ATTRIBUTE2",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "interface_line_attribute2",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "INTERFACE_LINE_ATTRIBUTE3",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "interface_line_attribute3",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "INTERFACE_LINE_ATTRIBUTE4",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "interface_line_attribute4",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "INTERFACE_LINE_ATTRIBUTE5",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "interface_line_attribute5",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "INTERFACE_LINE_ATTRIBUTE6",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "interface_line_attribute6",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "INTERFACE_LINE_ATTRIBUTE7",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "interface_line_attribute7",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "INTERFACE_LINE_ATTRIBUTE8",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "interface_line_attribute8",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SALES_ORDER_SOURCE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "sales_order_source",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "TAXABLE_FLAG",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "taxable_flag",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "EXTENDED_AMOUNT",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "extended_amount",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "REVENUE_AMOUNT",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "revenue_amount",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "AUTORULE_COMPLETE_FLAG",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "autorule_complete_flag",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "LINK_TO_CUST_TRX_LINE_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "link_to_cust_trx_line_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE11",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "attribute11",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE12",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "attribute12",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE13",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "attribute13",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE14",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "attribute14",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE15",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "attribute15",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "TAX_PRECEDENCE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "tax_precedence",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "TAX_RATE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "tax_rate",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_EXCEPTION_RATE_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "item_exception_rate_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "TAX_EXEMPTION_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "tax_exemption_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "MEMO_LINE_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "memo_line_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "AUTORULE_DURATION_PROCESSED",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "autorule_duration_processed",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "UOM_CODE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "uom_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "DEFAULT_USSGL_TRANSACTION_CODE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "default_ussgl_transaction_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "DEFAULT_USSGL_TRX_CODE_CONTEXT",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "default_ussgl_trx_code_context",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "INTERFACE_LINE_ATTRIBUTE10",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "interface_line_attribute10",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "INTERFACE_LINE_ATTRIBUTE11",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "interface_line_attribute11",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "INTERFACE_LINE_ATTRIBUTE12",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "interface_line_attribute12",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "INTERFACE_LINE_ATTRIBUTE13",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "interface_line_attribute13",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "INTERFACE_LINE_ATTRIBUTE14",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "interface_line_attribute14",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "INTERFACE_LINE_ATTRIBUTE15",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "interface_line_attribute15",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "INTERFACE_LINE_ATTRIBUTE9",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "interface_line_attribute9",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "VAT_TAX_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "vat_tax_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "AUTOTAX",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "autotax",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "LAST_PERIOD_TO_CREDIT",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "last_period_to_credit",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_CONTEXT",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "item_context",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "TAX_EXEMPT_FLAG",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "tax_exempt_flag",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "TAX_EXEMPT_NUMBER",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "tax_exempt_number",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "TAX_EXEMPT_REASON_CODE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "tax_exempt_reason_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "TAX_VENDOR_RETURN_CODE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "tax_vendor_return_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SALES_TAX_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "sales_tax_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "LOCATION_SEGMENT_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "location_segment_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "MOVEMENT_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "movement_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ORG_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "org_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "WH_UPDATE_DATE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "wh_update_date",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE1",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "global_attribute1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE2",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "global_attribute2",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE3",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "global_attribute3",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE4",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "global_attribute4",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE5",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "global_attribute5",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE6",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "global_attribute6",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE7",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "global_attribute7",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE8",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "global_attribute8",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE9",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "global_attribute9",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE10",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "global_attribute10",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE11",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "global_attribute11",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE12",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "global_attribute12",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE13",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "global_attribute13",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE14",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "global_attribute14",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE15",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "global_attribute15",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE16",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "global_attribute16",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE17",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "global_attribute17",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE18",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "global_attribute18",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE19",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "global_attribute19",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE20",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "global_attribute20",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE_CATEGORY",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "global_attribute_category",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GROSS_UNIT_SELLING_PRICE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "gross_unit_selling_price",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GROSS_EXTENDED_AMOUNT",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "gross_extended_amount",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "AMOUNT_INCLUDES_TAX_FLAG",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "amount_includes_tax_flag",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "TAXABLE_AMOUNT",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "taxable_amount",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "WAREHOUSE_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "warehouse_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "TRANSLATED_DESCRIPTION",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "translated_description",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "EXTENDED_ACCTD_AMOUNT",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "extended_acctd_amount",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "BR_REF_CUSTOMER_TRX_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "br_ref_customer_trx_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "BR_REF_PAYMENT_SCHEDULE_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "br_ref_payment_schedule_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "BR_ADJUSTMENT_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "br_adjustment_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "MRC_EXTENDED_ACCTD_AMOUNT",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "mrc_extended_acctd_amount",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PAYMENT_SET_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "payment_set_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CONTRACT_LINE_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "contract_line_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SOURCE_DATA_KEY1",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "source_data_key1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SOURCE_DATA_KEY2",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "source_data_key2",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SOURCE_DATA_KEY3",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "source_data_key3",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SOURCE_DATA_KEY4",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "source_data_key4",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SOURCE_DATA_KEY5",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "source_data_key5",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "INVOICED_LINE_ACCTG_LEVEL",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "invoiced_line_acctg_level",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "OVERRIDE_AUTO_ACCOUNTING_FLAG",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "override_auto_accounting_flag",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SHIP_TO_CUSTOMER_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ship_to_customer_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SHIP_TO_ADDRESS_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ship_to_address_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SHIP_TO_SITE_USE_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ship_to_site_use_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SHIP_TO_CONTACT_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ship_to_contact_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "HISTORICAL_FLAG",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "historical_flag",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "TAX_LINE_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "tax_line_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "LINE_RECOVERABLE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "line_recoverable",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "TAX_RECOVERABLE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "tax_recoverable",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "TAX_CLASSIFICATION_CODE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "tax_classification_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "AMOUNT_DUE_REMAINING",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "amount_due_remaining",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ACCTD_AMOUNT_DUE_REMAINING",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "acctd_amount_due_remaining",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "AMOUNT_DUE_ORIGINAL",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "amount_due_original",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ACCTD_AMOUNT_DUE_ORIGINAL",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "acctd_amount_due_original",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CHRG_AMOUNT_REMAINING",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "chrg_amount_remaining",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CHRG_ACCTD_AMOUNT_REMAINING",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "chrg_acctd_amount_remaining",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "FRT_ADJ_REMAINING",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "frt_adj_remaining",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "FRT_ADJ_ACCTD_REMAINING",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "frt_adj_acctd_remaining",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "FRT_ED_AMOUNT",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "frt_ed_amount",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "FRT_ED_ACCTD_AMOUNT",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "frt_ed_acctd_amount",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "FRT_UNED_AMOUNT",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "frt_uned_amount",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "FRT_UNED_ACCTD_AMOUNT",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "frt_uned_acctd_amount",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "DEFERRAL_EXCLUSION_FLAG",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "deferral_exclusion_flag",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RULE_END_DATE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "rule_end_date",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PAYMENT_TRXN_EXTENSION_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "payment_trxn_extension_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "INTEREST_LINE_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "interest_line_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "DOC_LINE_ID_INT_1",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "doc_line_id_int_1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "DOC_LINE_ID_INT_2",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "doc_line_id_int_2",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "DOC_LINE_ID_INT_3",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "doc_line_id_int_3",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "DOC_LINE_ID_INT_4",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "doc_line_id_int_4",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "DOC_LINE_ID_INT_5",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "doc_line_id_int_5",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "DOC_LINE_ID_CHAR_1",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "doc_line_id_char_1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "DOC_LINE_ID_CHAR_2",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "doc_line_id_char_2",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "DOC_LINE_ID_CHAR_3",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "doc_line_id_char_3",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "DOC_LINE_ID_CHAR_4",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "doc_line_id_char_4",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "DOC_LINE_ID_CHAR_5",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "doc_line_id_char_5",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "TAX_CALC_ACCTD_AMT",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "tax_calc_acctd_amt",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "_M_TIMESTAMP",
									"type": "String"
								},
								"sink": {
									"name": "_m_timestamp",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "_M_PIPELINE",
									"type": "String"
								},
								"sink": {
									"name": "_m_pipeline",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "_M_DATETIME",
									"type": "String"
								},
								"sink": {
									"name": "_m_datetime",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ADLS_RA_CUSTOMER_TRX_LINES_ALL",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SQL_RA_CUSTOMER_TRX_LINES_ALL",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy RA_CUST_TRX_LINE_GL_DIST_ALL To SQL",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy RA_CUSTOMER_TRX_ALL To SQL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"additionalColumns": [
							{
								"name": "_M_TIMESTAMP",
								"value": {
									"value": "@utcnow()",
									"type": "Expression"
								}
							},
							{
								"name": "_M_PIPELINE",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							{
								"name": "_M_DATETIME",
								"value": {
									"value": "@formatDateTime(utcnow())",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"modifiedDatetimeStart": {
								"value": "@activity('Lookup Generic File Timestamp').output.FirstRow.WATERMARK_DATETIME",
								"type": "Expression"
							},
							"wildcardFolderPath": "bfguk_erp_prod/schemas/AR/RA_CUST_TRX_LINE_GL_DIST_ALL",
							"wildcardFileName": "*",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": {
							"value": "begin try\ntruncate table [stg].[RA_CUST_TRX_LINE_GL_DIST_ALL]\nend try\nbegin catch \nselect null\nend catch",
							"type": "Expression"
						},
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "CUST_TRX_LINE_GL_DIST_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "cust_trx_line_gl_dist_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CUSTOMER_TRX_LINE_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "customer_trx_line_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CODE_COMBINATION_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "code_combination_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SET_OF_BOOKS_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "set_of_books_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "LAST_UPDATE_DATE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "last_update_date",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "LAST_UPDATED_BY",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "last_updated_by",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CREATION_DATE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "creation_date",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CREATED_BY",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "created_by",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "LAST_UPDATE_LOGIN",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "last_update_login",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PERCENT",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "percent",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "AMOUNT",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "amount",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GL_DATE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "gl_date",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GL_POSTED_DATE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "gl_posted_date",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CUST_TRX_LINE_SALESREP_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "cust_trx_line_salesrep_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "COMMENTS",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "comments",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE_CATEGORY",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "attribute_category",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE1",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "attribute1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE2",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "attribute2",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE3",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "attribute3",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE4",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "attribute4",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE5",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "attribute5",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE6",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "attribute6",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE7",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "attribute7",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE8",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "attribute8",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE9",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "attribute9",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE10",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "attribute10",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "REQUEST_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "request_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PROGRAM_APPLICATION_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "program_application_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PROGRAM_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "program_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PROGRAM_UPDATE_DATE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "program_update_date",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CONCATENATED_SEGMENTS",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "concatenated_segments",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ORIGINAL_GL_DATE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "original_gl_date",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "POST_REQUEST_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "post_request_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "POSTING_CONTROL_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "posting_control_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ACCOUNT_CLASS",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "account_class",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RA_POST_LOOP_NUMBER",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ra_post_loop_number",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CUSTOMER_TRX_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "customer_trx_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ACCOUNT_SET_FLAG",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "account_set_flag",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ACCTD_AMOUNT",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "acctd_amount",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "USSGL_TRANSACTION_CODE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ussgl_transaction_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "USSGL_TRANSACTION_CODE_CONTEXT",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ussgl_transaction_code_context",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE11",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "attribute11",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE12",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "attribute12",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE13",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "attribute13",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE14",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "attribute14",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE15",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "attribute15",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "LATEST_REC_FLAG",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "latest_rec_flag",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ORG_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "org_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "MRC_ACCOUNT_CLASS",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "mrc_account_class",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "MRC_CUSTOMER_TRX_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "mrc_customer_trx_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "MRC_AMOUNT",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "mrc_amount",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "MRC_GL_POSTED_DATE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "mrc_gl_posted_date",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "MRC_POSTING_CONTROL_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "mrc_posting_control_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "MRC_ACCTD_AMOUNT",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "mrc_acctd_amount",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "COLLECTED_TAX_CCID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "collected_tax_ccid",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "COLLECTED_TAX_CONCAT_SEG",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "collected_tax_concat_seg",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "REVENUE_ADJUSTMENT_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "revenue_adjustment_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "REV_ADJ_CLASS_TEMP",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "rev_adj_class_temp",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "REC_OFFSET_FLAG",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "rec_offset_flag",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "EVENT_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "event_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "USER_GENERATED_FLAG",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "user_generated_flag",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ROUNDING_CORRECTION_FLAG",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "rounding_correction_flag",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "COGS_REQUEST_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "cogs_request_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CCID_CHANGE_FLAG",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ccid_change_flag",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE1",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "global_attribute1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE2",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "global_attribute2",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE3",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "global_attribute3",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE4",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "global_attribute4",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE5",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "global_attribute5",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE6",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "global_attribute6",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE7",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "global_attribute7",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE8",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "global_attribute8",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE9",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "global_attribute9",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE10",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "global_attribute10",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE11",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "global_attribute11",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE12",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "global_attribute12",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE13",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "global_attribute13",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE14",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "global_attribute14",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE15",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "global_attribute15",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE16",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "global_attribute16",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE17",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "global_attribute17",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE18",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "global_attribute18",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE19",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "global_attribute19",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE20",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "global_attribute20",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE21",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "global_attribute21",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE22",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "global_attribute22",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE23",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "global_attribute23",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE24",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "global_attribute24",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE25",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "global_attribute25",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE26",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "global_attribute26",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE27",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "global_attribute27",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE28",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "global_attribute28",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE29",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "global_attribute29",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE30",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "global_attribute30",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE_CATEGORY",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "global_attribute_category",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "_M_TIMESTAMP",
									"type": "String"
								},
								"sink": {
									"name": "_m_timestamp",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "_M_PIPELINE",
									"type": "String"
								},
								"sink": {
									"name": "_m_pipeline",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "_M_DATETIME",
									"type": "String"
								},
								"sink": {
									"name": "_m_datetime",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ADLS_RA_CUST_TRX_LINE_GL_DIST_ALL",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SQL_RA_CUST_TRX_LINE_GL_DIST_ALL",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy RA_CUST_TRX_TYPES_ALL To SQL",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy RA_CUST_TRX_LINE_GL_DIST_ALL To SQL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"additionalColumns": [
							{
								"name": "_M_TIMESTAMP",
								"value": {
									"value": "@utcnow()",
									"type": "Expression"
								}
							},
							{
								"name": "_M_PIPELINE",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							{
								"name": "_M_DATETIME",
								"value": {
									"value": "@formatDateTime(utcnow())",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"modifiedDatetimeStart": {
								"value": "@activity('Lookup Generic File Timestamp').output.FirstRow.WATERMARK_DATETIME",
								"type": "Expression"
							},
							"wildcardFolderPath": "bfguk_erp_prod/schemas/AR/RA_CUST_TRX_TYPES_ALL",
							"wildcardFileName": "*",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": {
							"value": "begin try\ntruncate table [stg].[RA_CUST_TRX_TYPES_ALL]\nend try\nbegin catch \nselect null\nend catch",
							"type": "Expression"
						},
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "CUST_TRX_TYPE_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "cust_trx_type_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "LAST_UPDATE_DATE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "last_update_date",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "LAST_UPDATED_BY",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "last_updated_by",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CREATION_DATE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "creation_date",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CREATED_BY",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "created_by",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "LAST_UPDATE_LOGIN",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "last_update_login",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "POST_TO_GL",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "post_to_gl",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ACCOUNTING_AFFECT_FLAG",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "accounting_affect_flag",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CREDIT_MEMO_TYPE_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "credit_memo_type_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "STATUS",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "status",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "NAME",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "name",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "DESCRIPTION",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "description",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "TYPE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "type",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "DEFAULT_TERM",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "default_term",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "DEFAULT_PRINTING_OPTION",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "default_printing_option",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "DEFAULT_STATUS",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "default_status",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GL_ID_REV",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "gl_id_rev",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GL_ID_FREIGHT",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "gl_id_freight",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GL_ID_REC",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "gl_id_rec",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SUBSEQUENT_TRX_TYPE_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "subsequent_trx_type_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SET_OF_BOOKS_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "set_of_books_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE_CATEGORY",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "attribute_category",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE1",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "attribute1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE2",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "attribute2",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE3",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "attribute3",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE4",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "attribute4",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE5",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "attribute5",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE6",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "attribute6",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE7",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "attribute7",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE8",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "attribute8",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE9",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "attribute9",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE10",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "attribute10",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ALLOW_FREIGHT_FLAG",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "allow_freight_flag",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ALLOW_OVERAPPLICATION_FLAG",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "allow_overapplication_flag",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CREATION_SIGN",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "creation_sign",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "END_DATE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "end_date",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GL_ID_CLEARING",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "gl_id_clearing",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GL_ID_TAX",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "gl_id_tax",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GL_ID_UNBILLED",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "gl_id_unbilled",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GL_ID_UNEARNED",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "gl_id_unearned",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "START_DATE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "start_date",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "TAX_CALCULATION_FLAG",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "tax_calculation_flag",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE11",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "attribute11",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE12",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "attribute12",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE13",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "attribute13",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE14",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "attribute14",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE15",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "attribute15",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "NATURAL_APPLICATION_ONLY_FLAG",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "natural_application_only_flag",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ORG_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "org_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE1",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "global_attribute1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE2",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "global_attribute2",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE3",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "global_attribute3",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE4",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "global_attribute4",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE5",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "global_attribute5",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE6",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "global_attribute6",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE7",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "global_attribute7",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE8",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "global_attribute8",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE9",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "global_attribute9",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE10",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "global_attribute10",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE11",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "global_attribute11",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE12",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "global_attribute12",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE13",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "global_attribute13",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE14",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "global_attribute14",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE15",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "global_attribute15",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE16",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "global_attribute16",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE17",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "global_attribute17",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE18",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "global_attribute18",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE19",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "global_attribute19",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE20",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "global_attribute20",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE_CATEGORY",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "global_attribute_category",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RULE_SET_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "rule_set_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SIGNED_FLAG",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "signed_flag",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "DRAWEE_ISSUED_FLAG",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "drawee_issued_flag",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "MAGNETIC_FORMAT_CODE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "magnetic_format_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "FORMAT_PROGRAM_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "format_program_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GL_ID_UNPAID_REC",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "gl_id_unpaid_rec",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GL_ID_REMITTANCE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "gl_id_remittance",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GL_ID_FACTOR",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "gl_id_factor",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ALLOCATE_TAX_FREIGHT",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "allocate_tax_freight",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "LEGAL_ENTITY_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "legal_entity_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "EXCLUDE_FROM_LATE_CHARGES",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "exclude_from_late_charges",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ADJ_POST_TO_GL",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "adj_post_to_gl",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ZD_EDITION_NAME",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "zd_edition_name",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ZD_SYNC",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "zd_sync",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "_M_TIMESTAMP",
									"type": "String"
								},
								"sink": {
									"name": "_m_timestamp",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "_M_PIPELINE",
									"type": "String"
								},
								"sink": {
									"name": "_m_pipeline",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "_M_DATETIME",
									"type": "String"
								},
								"sink": {
									"name": "_m_datetime",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ADLS_RA_CUST_TRX_TYPES_ALL",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SQL_RA_CUST_TRX_TYPES_ALL",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Lookup Generic File Timestamp",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select WATERMARK_DATETIME \nfrom [dbo].[WATERMARK] \nwhere OWNER_NAME = '@{variables('ADF_OWNER_NAME')}'\nand TABLE_NAME = '@{variables('Table_Generic')}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "WATERMARK",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Update Generic ADLS Watermark",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Update RA_CUSTOMER_TRX_LINES_ALL ADLS Watermark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[UpdateWatermark]",
					"storedProcedureParameters": {
						"LastModifiedtime": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "Datetime"
						},
						"OWNER_NAME": {
							"value": {
								"value": "@variables('ADF_OWNER_NAME')",
								"type": "Expression"
							},
							"type": "String"
						},
						"TABLE_NAME": {
							"value": {
								"value": "@variables('Table_Generic')",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "BFG_SQL_DB",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Lookup RA_CUSTOMER_TRX_LINES_ALL ADLS Timestamp",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select WATERMARK_DATETIME \nfrom [dbo].[WATERMARK] \nwhere OWNER_NAME = '@{variables('ADF_OWNER_NAME')}'\nand TABLE_NAME = '@{variables('Table_RA_CUSTOMER_TRX_LINES_ALL')}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "WATERMARK",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Update RA_CUSTOMER_TRX_LINES_ALL ADLS Watermark",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy RA_CUSTOMER_TRX_LINES_ALL To SQL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[UpdateWatermark]",
					"storedProcedureParameters": {
						"LastModifiedtime": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "Datetime"
						},
						"OWNER_NAME": {
							"value": {
								"value": "@variables('ADF_OWNER_NAME')",
								"type": "Expression"
							},
							"type": "String"
						},
						"TABLE_NAME": {
							"value": {
								"value": "@variables('Table_RA_CUSTOMER_TRX_LINES_ALL')",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "BFG_SQL_DB",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"ADF_OWNER_NAME": {
				"type": "String",
				"defaultValue": "ADF"
			},
			"Table_Generic": {
				"type": "String",
				"defaultValue": "AR_2_TABLES"
			},
			"Table_RA_CUSTOMER_TRX_LINES_ALL": {
				"type": "String",
				"defaultValue": "RA_CUSTOMER_TRX_LINES_ALL"
			}
		},
		"annotations": []
	}
}