pipeline/BFG_GL_1_ODB_To_ADLS_old.json
{
	"name": "BFG_GL_1_ODB_To_ADLS_old",
	"properties": {
		"activities": [
			{
				"name": "Copy GL_CODE_COMBINATIONS to ADLS",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy GL_PERIODS to ADLS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings",
							"metadata": [
								{
									"name": "_M_TIMESTAMP",
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									}
								},
								{
									"name": "_M_PIPELINE",
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									}
								},
								{
									"name": "_M_DATETIME",
									"value": {
										"value": "@formatDateTime(utcnow())",
										"type": "Expression"
									}
								}
							]
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "CODE_COMBINATION_ID",
									"type": "Decimal"
								},
								"sink": {
									"name": "CODE_COMBINATION_ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "LAST_UPDATE_DATE",
									"type": "DateTime"
								},
								"sink": {
									"name": "LAST_UPDATE_DATE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "LAST_UPDATED_BY",
									"type": "Double"
								},
								"sink": {
									"name": "LAST_UPDATED_BY",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "CHART_OF_ACCOUNTS_ID",
									"type": "Decimal"
								},
								"sink": {
									"name": "CHART_OF_ACCOUNTS_ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "DETAIL_POSTING_ALLOWED_FLAG",
									"type": "String"
								},
								"sink": {
									"name": "DETAIL_POSTING_ALLOWED_FLAG",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "DETAIL_BUDGETING_ALLOWED_FLAG",
									"type": "String"
								},
								"sink": {
									"name": "DETAIL_BUDGETING_ALLOWED_FLAG",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ACCOUNT_TYPE",
									"type": "String"
								},
								"sink": {
									"name": "ACCOUNT_TYPE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ENABLED_FLAG",
									"type": "String"
								},
								"sink": {
									"name": "ENABLED_FLAG",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SUMMARY_FLAG",
									"type": "String"
								},
								"sink": {
									"name": "SUMMARY_FLAG",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SEGMENT1",
									"type": "String"
								},
								"sink": {
									"name": "SEGMENT1",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SEGMENT2",
									"type": "String"
								},
								"sink": {
									"name": "SEGMENT2",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SEGMENT3",
									"type": "String"
								},
								"sink": {
									"name": "SEGMENT3",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SEGMENT4",
									"type": "String"
								},
								"sink": {
									"name": "SEGMENT4",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SEGMENT5",
									"type": "String"
								},
								"sink": {
									"name": "SEGMENT5",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SEGMENT6",
									"type": "String"
								},
								"sink": {
									"name": "SEGMENT6",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SEGMENT7",
									"type": "String"
								},
								"sink": {
									"name": "SEGMENT7",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SEGMENT8",
									"type": "String"
								},
								"sink": {
									"name": "SEGMENT8",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SEGMENT9",
									"type": "String"
								},
								"sink": {
									"name": "SEGMENT9",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SEGMENT10",
									"type": "String"
								},
								"sink": {
									"name": "SEGMENT10",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SEGMENT11",
									"type": "String"
								},
								"sink": {
									"name": "SEGMENT11",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SEGMENT12",
									"type": "String"
								},
								"sink": {
									"name": "SEGMENT12",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SEGMENT13",
									"type": "String"
								},
								"sink": {
									"name": "SEGMENT13",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SEGMENT14",
									"type": "String"
								},
								"sink": {
									"name": "SEGMENT14",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SEGMENT15",
									"type": "String"
								},
								"sink": {
									"name": "SEGMENT15",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SEGMENT16",
									"type": "String"
								},
								"sink": {
									"name": "SEGMENT16",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SEGMENT17",
									"type": "String"
								},
								"sink": {
									"name": "SEGMENT17",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SEGMENT18",
									"type": "String"
								},
								"sink": {
									"name": "SEGMENT18",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SEGMENT19",
									"type": "String"
								},
								"sink": {
									"name": "SEGMENT19",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SEGMENT20",
									"type": "String"
								},
								"sink": {
									"name": "SEGMENT20",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SEGMENT21",
									"type": "String"
								},
								"sink": {
									"name": "SEGMENT21",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SEGMENT22",
									"type": "String"
								},
								"sink": {
									"name": "SEGMENT22",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SEGMENT23",
									"type": "String"
								},
								"sink": {
									"name": "SEGMENT23",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SEGMENT24",
									"type": "String"
								},
								"sink": {
									"name": "SEGMENT24",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SEGMENT25",
									"type": "String"
								},
								"sink": {
									"name": "SEGMENT25",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SEGMENT26",
									"type": "String"
								},
								"sink": {
									"name": "SEGMENT26",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SEGMENT27",
									"type": "String"
								},
								"sink": {
									"name": "SEGMENT27",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SEGMENT28",
									"type": "String"
								},
								"sink": {
									"name": "SEGMENT28",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SEGMENT29",
									"type": "String"
								},
								"sink": {
									"name": "SEGMENT29",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SEGMENT30",
									"type": "String"
								},
								"sink": {
									"name": "SEGMENT30",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "DESCRIPTION",
									"type": "String"
								},
								"sink": {
									"name": "DESCRIPTION",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "TEMPLATE_ID",
									"type": "Decimal"
								},
								"sink": {
									"name": "TEMPLATE_ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ALLOCATION_CREATE_FLAG",
									"type": "String"
								},
								"sink": {
									"name": "ALLOCATION_CREATE_FLAG",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "START_DATE_ACTIVE",
									"type": "DateTime"
								},
								"sink": {
									"name": "START_DATE_ACTIVE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "END_DATE_ACTIVE",
									"type": "DateTime"
								},
								"sink": {
									"name": "END_DATE_ACTIVE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE1",
									"type": "String"
								},
								"sink": {
									"name": "ATTRIBUTE1",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE2",
									"type": "String"
								},
								"sink": {
									"name": "ATTRIBUTE2",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE3",
									"type": "String"
								},
								"sink": {
									"name": "ATTRIBUTE3",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE4",
									"type": "String"
								},
								"sink": {
									"name": "ATTRIBUTE4",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE5",
									"type": "String"
								},
								"sink": {
									"name": "ATTRIBUTE5",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE6",
									"type": "String"
								},
								"sink": {
									"name": "ATTRIBUTE6",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE7",
									"type": "String"
								},
								"sink": {
									"name": "ATTRIBUTE7",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE8",
									"type": "String"
								},
								"sink": {
									"name": "ATTRIBUTE8",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE9",
									"type": "String"
								},
								"sink": {
									"name": "ATTRIBUTE9",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE10",
									"type": "String"
								},
								"sink": {
									"name": "ATTRIBUTE10",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "CONTEXT",
									"type": "String"
								},
								"sink": {
									"name": "CONTEXT",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SEGMENT_ATTRIBUTE1",
									"type": "String"
								},
								"sink": {
									"name": "SEGMENT_ATTRIBUTE1",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SEGMENT_ATTRIBUTE2",
									"type": "String"
								},
								"sink": {
									"name": "SEGMENT_ATTRIBUTE2",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SEGMENT_ATTRIBUTE3",
									"type": "String"
								},
								"sink": {
									"name": "SEGMENT_ATTRIBUTE3",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SEGMENT_ATTRIBUTE4",
									"type": "String"
								},
								"sink": {
									"name": "SEGMENT_ATTRIBUTE4",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SEGMENT_ATTRIBUTE5",
									"type": "String"
								},
								"sink": {
									"name": "SEGMENT_ATTRIBUTE5",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SEGMENT_ATTRIBUTE6",
									"type": "String"
								},
								"sink": {
									"name": "SEGMENT_ATTRIBUTE6",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SEGMENT_ATTRIBUTE7",
									"type": "String"
								},
								"sink": {
									"name": "SEGMENT_ATTRIBUTE7",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SEGMENT_ATTRIBUTE8",
									"type": "String"
								},
								"sink": {
									"name": "SEGMENT_ATTRIBUTE8",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SEGMENT_ATTRIBUTE9",
									"type": "String"
								},
								"sink": {
									"name": "SEGMENT_ATTRIBUTE9",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SEGMENT_ATTRIBUTE10",
									"type": "String"
								},
								"sink": {
									"name": "SEGMENT_ATTRIBUTE10",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SEGMENT_ATTRIBUTE11",
									"type": "String"
								},
								"sink": {
									"name": "SEGMENT_ATTRIBUTE11",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SEGMENT_ATTRIBUTE12",
									"type": "String"
								},
								"sink": {
									"name": "SEGMENT_ATTRIBUTE12",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SEGMENT_ATTRIBUTE13",
									"type": "String"
								},
								"sink": {
									"name": "SEGMENT_ATTRIBUTE13",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SEGMENT_ATTRIBUTE14",
									"type": "String"
								},
								"sink": {
									"name": "SEGMENT_ATTRIBUTE14",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SEGMENT_ATTRIBUTE15",
									"type": "String"
								},
								"sink": {
									"name": "SEGMENT_ATTRIBUTE15",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SEGMENT_ATTRIBUTE16",
									"type": "String"
								},
								"sink": {
									"name": "SEGMENT_ATTRIBUTE16",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SEGMENT_ATTRIBUTE17",
									"type": "String"
								},
								"sink": {
									"name": "SEGMENT_ATTRIBUTE17",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SEGMENT_ATTRIBUTE18",
									"type": "String"
								},
								"sink": {
									"name": "SEGMENT_ATTRIBUTE18",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SEGMENT_ATTRIBUTE19",
									"type": "String"
								},
								"sink": {
									"name": "SEGMENT_ATTRIBUTE19",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SEGMENT_ATTRIBUTE20",
									"type": "String"
								},
								"sink": {
									"name": "SEGMENT_ATTRIBUTE20",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SEGMENT_ATTRIBUTE21",
									"type": "String"
								},
								"sink": {
									"name": "SEGMENT_ATTRIBUTE21",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SEGMENT_ATTRIBUTE22",
									"type": "String"
								},
								"sink": {
									"name": "SEGMENT_ATTRIBUTE22",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SEGMENT_ATTRIBUTE23",
									"type": "String"
								},
								"sink": {
									"name": "SEGMENT_ATTRIBUTE23",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SEGMENT_ATTRIBUTE24",
									"type": "String"
								},
								"sink": {
									"name": "SEGMENT_ATTRIBUTE24",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SEGMENT_ATTRIBUTE25",
									"type": "String"
								},
								"sink": {
									"name": "SEGMENT_ATTRIBUTE25",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SEGMENT_ATTRIBUTE26",
									"type": "String"
								},
								"sink": {
									"name": "SEGMENT_ATTRIBUTE26",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SEGMENT_ATTRIBUTE27",
									"type": "String"
								},
								"sink": {
									"name": "SEGMENT_ATTRIBUTE27",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SEGMENT_ATTRIBUTE28",
									"type": "String"
								},
								"sink": {
									"name": "SEGMENT_ATTRIBUTE28",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SEGMENT_ATTRIBUTE29",
									"type": "String"
								},
								"sink": {
									"name": "SEGMENT_ATTRIBUTE29",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SEGMENT_ATTRIBUTE30",
									"type": "String"
								},
								"sink": {
									"name": "SEGMENT_ATTRIBUTE30",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SEGMENT_ATTRIBUTE31",
									"type": "String"
								},
								"sink": {
									"name": "SEGMENT_ATTRIBUTE31",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SEGMENT_ATTRIBUTE32",
									"type": "String"
								},
								"sink": {
									"name": "SEGMENT_ATTRIBUTE32",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SEGMENT_ATTRIBUTE33",
									"type": "String"
								},
								"sink": {
									"name": "SEGMENT_ATTRIBUTE33",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SEGMENT_ATTRIBUTE34",
									"type": "String"
								},
								"sink": {
									"name": "SEGMENT_ATTRIBUTE34",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SEGMENT_ATTRIBUTE35",
									"type": "String"
								},
								"sink": {
									"name": "SEGMENT_ATTRIBUTE35",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SEGMENT_ATTRIBUTE36",
									"type": "String"
								},
								"sink": {
									"name": "SEGMENT_ATTRIBUTE36",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SEGMENT_ATTRIBUTE37",
									"type": "String"
								},
								"sink": {
									"name": "SEGMENT_ATTRIBUTE37",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SEGMENT_ATTRIBUTE38",
									"type": "String"
								},
								"sink": {
									"name": "SEGMENT_ATTRIBUTE38",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SEGMENT_ATTRIBUTE39",
									"type": "String"
								},
								"sink": {
									"name": "SEGMENT_ATTRIBUTE39",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SEGMENT_ATTRIBUTE40",
									"type": "String"
								},
								"sink": {
									"name": "SEGMENT_ATTRIBUTE40",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SEGMENT_ATTRIBUTE41",
									"type": "String"
								},
								"sink": {
									"name": "SEGMENT_ATTRIBUTE41",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SEGMENT_ATTRIBUTE42",
									"type": "String"
								},
								"sink": {
									"name": "SEGMENT_ATTRIBUTE42",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "REFERENCE1",
									"type": "String"
								},
								"sink": {
									"name": "REFERENCE1",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "REFERENCE2",
									"type": "String"
								},
								"sink": {
									"name": "REFERENCE2",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "REFERENCE3",
									"type": "String"
								},
								"sink": {
									"name": "REFERENCE3",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "REFERENCE4",
									"type": "String"
								},
								"sink": {
									"name": "REFERENCE4",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "REFERENCE5",
									"type": "String"
								},
								"sink": {
									"name": "REFERENCE5",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "JGZZ_RECON_FLAG",
									"type": "String"
								},
								"sink": {
									"name": "JGZZ_RECON_FLAG",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "JGZZ_RECON_CONTEXT",
									"type": "String"
								},
								"sink": {
									"name": "JGZZ_RECON_CONTEXT",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PRESERVE_FLAG",
									"type": "String"
								},
								"sink": {
									"name": "PRESERVE_FLAG",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "REFRESH_FLAG",
									"type": "String"
								},
								"sink": {
									"name": "REFRESH_FLAG",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "IGI_BALANCED_BUDGET_FLAG",
									"type": "String"
								},
								"sink": {
									"name": "IGI_BALANCED_BUDGET_FLAG",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "COMPANY_COST_CENTER_ORG_ID",
									"type": "Decimal"
								},
								"sink": {
									"name": "COMPANY_COST_CENTER_ORG_ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "REVALUATION_ID",
									"type": "Decimal"
								},
								"sink": {
									"name": "REVALUATION_ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "LEDGER_SEGMENT",
									"type": "String"
								},
								"sink": {
									"name": "LEDGER_SEGMENT",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "LEDGER_TYPE_CODE",
									"type": "String"
								},
								"sink": {
									"name": "LEDGER_TYPE_CODE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ALTERNATE_CODE_COMBINATION_ID",
									"type": "Decimal"
								},
								"sink": {
									"name": "ALTERNATE_CODE_COMBINATION_ID",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "BFG_ODB_GL_CODE_COMBINATIONS",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ADLS_GL_CODE_COMBINATIONS",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy GL_IMPORT_REFERENCES to ADLS",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy GL_CODE_COMBINATIONS to ADLS",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Lookup SQL GL_IMPORT_REFERENCES Watermark",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Lookup ODB GL_IMPORT_REFERENCES New Watermark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "select\t\t\t*\nfrom\t\t\t@{variables('ODB_OWNER_NAME')}.@{variables('Table_GL_IMPORT_REFERENCES')}\nwhere\t\t\tLAST_UPDATE_DATE >= '@{formatDateTime(subtractFromTime(activity('Lookup SQL GL_IMPORT_REFERENCES Watermark').output.FirstRow.WATERMARK_DATETIME, 1, 'Day'), 'dd/MMM/yy')}'",
							"type": "Expression"
						},
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings",
							"metadata": [
								{
									"name": "_M_TIMESTAMP",
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									}
								},
								{
									"name": "_M_PIPELINE",
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									}
								},
								{
									"name": "_M_DATETIME",
									"value": {
										"value": "@formatDateTime(utcnow())",
										"type": "Expression"
									}
								}
							]
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "JE_BATCH_ID",
									"type": "Decimal"
								},
								"sink": {
									"name": "JE_BATCH_ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "JE_HEADER_ID",
									"type": "Decimal"
								},
								"sink": {
									"name": "JE_HEADER_ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "JE_LINE_NUM",
									"type": "Decimal"
								},
								"sink": {
									"name": "JE_LINE_NUM",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "LAST_UPDATE_DATE",
									"type": "DateTime"
								},
								"sink": {
									"name": "LAST_UPDATE_DATE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "LAST_UPDATED_BY",
									"type": "Decimal"
								},
								"sink": {
									"name": "LAST_UPDATED_BY",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "CREATION_DATE",
									"type": "DateTime"
								},
								"sink": {
									"name": "CREATION_DATE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "CREATED_BY",
									"type": "Decimal"
								},
								"sink": {
									"name": "CREATED_BY",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "LAST_UPDATE_LOGIN",
									"type": "Decimal"
								},
								"sink": {
									"name": "LAST_UPDATE_LOGIN",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "REFERENCE_1",
									"type": "String"
								},
								"sink": {
									"name": "REFERENCE_1",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "REFERENCE_2",
									"type": "String"
								},
								"sink": {
									"name": "REFERENCE_2",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "REFERENCE_3",
									"type": "String"
								},
								"sink": {
									"name": "REFERENCE_3",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "REFERENCE_4",
									"type": "String"
								},
								"sink": {
									"name": "REFERENCE_4",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "REFERENCE_5",
									"type": "String"
								},
								"sink": {
									"name": "REFERENCE_5",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "REFERENCE_6",
									"type": "String"
								},
								"sink": {
									"name": "REFERENCE_6",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "REFERENCE_7",
									"type": "String"
								},
								"sink": {
									"name": "REFERENCE_7",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "REFERENCE_8",
									"type": "String"
								},
								"sink": {
									"name": "REFERENCE_8",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "REFERENCE_9",
									"type": "String"
								},
								"sink": {
									"name": "REFERENCE_9",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "REFERENCE_10",
									"type": "String"
								},
								"sink": {
									"name": "REFERENCE_10",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SUBLEDGER_DOC_SEQUENCE_ID",
									"type": "Double"
								},
								"sink": {
									"name": "SUBLEDGER_DOC_SEQUENCE_ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SUBLEDGER_DOC_SEQUENCE_VALUE",
									"type": "Double"
								},
								"sink": {
									"name": "SUBLEDGER_DOC_SEQUENCE_VALUE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "GL_SL_LINK_ID",
									"type": "Double"
								},
								"sink": {
									"name": "GL_SL_LINK_ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "GL_SL_LINK_TABLE",
									"type": "String"
								},
								"sink": {
									"name": "GL_SL_LINK_TABLE",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "BFG_ODB_GL_IMPORT_REFERENCES",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ADLS_GL_IMPORT_REFERENCES",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy GL_JE_HEADERS to ADLS",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy GL_IMPORT_REFERENCES to ADLS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings",
							"metadata": [
								{
									"name": "_M_TIMESTAMP",
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									}
								},
								{
									"name": "_M_PIPELINE",
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									}
								},
								{
									"name": "_M_DATETIME",
									"value": {
										"value": "@formatDateTime(utcnow())",
										"type": "Expression"
									}
								}
							]
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "JE_HEADER_ID",
									"type": "Decimal"
								},
								"sink": {
									"name": "JE_HEADER_ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "LAST_UPDATE_DATE",
									"type": "DateTime"
								},
								"sink": {
									"name": "LAST_UPDATE_DATE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "LAST_UPDATED_BY",
									"type": "Decimal"
								},
								"sink": {
									"name": "LAST_UPDATED_BY",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "LEDGER_ID",
									"type": "Decimal"
								},
								"sink": {
									"name": "LEDGER_ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "JE_CATEGORY",
									"type": "String"
								},
								"sink": {
									"name": "JE_CATEGORY",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "JE_SOURCE",
									"type": "String"
								},
								"sink": {
									"name": "JE_SOURCE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PERIOD_NAME",
									"type": "String"
								},
								"sink": {
									"name": "PERIOD_NAME",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "NAME",
									"type": "String"
								},
								"sink": {
									"name": "NAME",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "CURRENCY_CODE",
									"type": "String"
								},
								"sink": {
									"name": "CURRENCY_CODE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "STATUS",
									"type": "String"
								},
								"sink": {
									"name": "STATUS",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "DATE_CREATED",
									"type": "DateTime"
								},
								"sink": {
									"name": "DATE_CREATED",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ACCRUAL_REV_FLAG",
									"type": "String"
								},
								"sink": {
									"name": "ACCRUAL_REV_FLAG",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "MULTI_BAL_SEG_FLAG",
									"type": "String"
								},
								"sink": {
									"name": "MULTI_BAL_SEG_FLAG",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ACTUAL_FLAG",
									"type": "String"
								},
								"sink": {
									"name": "ACTUAL_FLAG",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "DEFAULT_EFFECTIVE_DATE",
									"type": "DateTime"
								},
								"sink": {
									"name": "DEFAULT_EFFECTIVE_DATE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "TAX_STATUS_CODE",
									"type": "String"
								},
								"sink": {
									"name": "TAX_STATUS_CODE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "CONVERSION_FLAG",
									"type": "String"
								},
								"sink": {
									"name": "CONVERSION_FLAG",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "CREATION_DATE",
									"type": "DateTime"
								},
								"sink": {
									"name": "CREATION_DATE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "CREATED_BY",
									"type": "Decimal"
								},
								"sink": {
									"name": "CREATED_BY",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "LAST_UPDATE_LOGIN",
									"type": "Decimal"
								},
								"sink": {
									"name": "LAST_UPDATE_LOGIN",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ENCUMBRANCE_TYPE_ID",
									"type": "Decimal"
								},
								"sink": {
									"name": "ENCUMBRANCE_TYPE_ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "BUDGET_VERSION_ID",
									"type": "Decimal"
								},
								"sink": {
									"name": "BUDGET_VERSION_ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "BALANCED_JE_FLAG",
									"type": "String"
								},
								"sink": {
									"name": "BALANCED_JE_FLAG",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "BALANCING_SEGMENT_VALUE",
									"type": "String"
								},
								"sink": {
									"name": "BALANCING_SEGMENT_VALUE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "JE_BATCH_ID",
									"type": "Decimal"
								},
								"sink": {
									"name": "JE_BATCH_ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "FROM_RECURRING_HEADER_ID",
									"type": "Decimal"
								},
								"sink": {
									"name": "FROM_RECURRING_HEADER_ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "UNIQUE_DATE",
									"type": "String"
								},
								"sink": {
									"name": "UNIQUE_DATE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "EARLIEST_POSTABLE_DATE",
									"type": "DateTime"
								},
								"sink": {
									"name": "EARLIEST_POSTABLE_DATE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "POSTED_DATE",
									"type": "DateTime"
								},
								"sink": {
									"name": "POSTED_DATE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ACCRUAL_REV_EFFECTIVE_DATE",
									"type": "DateTime"
								},
								"sink": {
									"name": "ACCRUAL_REV_EFFECTIVE_DATE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ACCRUAL_REV_PERIOD_NAME",
									"type": "String"
								},
								"sink": {
									"name": "ACCRUAL_REV_PERIOD_NAME",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ACCRUAL_REV_STATUS",
									"type": "String"
								},
								"sink": {
									"name": "ACCRUAL_REV_STATUS",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ACCRUAL_REV_JE_HEADER_ID",
									"type": "Decimal"
								},
								"sink": {
									"name": "ACCRUAL_REV_JE_HEADER_ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ACCRUAL_REV_CHANGE_SIGN_FLAG",
									"type": "String"
								},
								"sink": {
									"name": "ACCRUAL_REV_CHANGE_SIGN_FLAG",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "DESCRIPTION",
									"type": "String"
								},
								"sink": {
									"name": "DESCRIPTION",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "CONTROL_TOTAL",
									"type": "Double"
								},
								"sink": {
									"name": "CONTROL_TOTAL",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "RUNNING_TOTAL_DR",
									"type": "Double"
								},
								"sink": {
									"name": "RUNNING_TOTAL_DR",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "RUNNING_TOTAL_CR",
									"type": "Double"
								},
								"sink": {
									"name": "RUNNING_TOTAL_CR",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "RUNNING_TOTAL_ACCOUNTED_DR",
									"type": "Double"
								},
								"sink": {
									"name": "RUNNING_TOTAL_ACCOUNTED_DR",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "RUNNING_TOTAL_ACCOUNTED_CR",
									"type": "Double"
								},
								"sink": {
									"name": "RUNNING_TOTAL_ACCOUNTED_CR",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "CURRENCY_CONVERSION_RATE",
									"type": "Double"
								},
								"sink": {
									"name": "CURRENCY_CONVERSION_RATE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "CURRENCY_CONVERSION_TYPE",
									"type": "String"
								},
								"sink": {
									"name": "CURRENCY_CONVERSION_TYPE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "CURRENCY_CONVERSION_DATE",
									"type": "DateTime"
								},
								"sink": {
									"name": "CURRENCY_CONVERSION_DATE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "EXTERNAL_REFERENCE",
									"type": "String"
								},
								"sink": {
									"name": "EXTERNAL_REFERENCE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PARENT_JE_HEADER_ID",
									"type": "Decimal"
								},
								"sink": {
									"name": "PARENT_JE_HEADER_ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "REVERSED_JE_HEADER_ID",
									"type": "Decimal"
								},
								"sink": {
									"name": "REVERSED_JE_HEADER_ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ORIGINATING_BAL_SEG_VALUE",
									"type": "String"
								},
								"sink": {
									"name": "ORIGINATING_BAL_SEG_VALUE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "INTERCOMPANY_MODE",
									"type": "Decimal"
								},
								"sink": {
									"name": "INTERCOMPANY_MODE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "DR_BAL_SEG_VALUE",
									"type": "String"
								},
								"sink": {
									"name": "DR_BAL_SEG_VALUE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "CR_BAL_SEG_VALUE",
									"type": "String"
								},
								"sink": {
									"name": "CR_BAL_SEG_VALUE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE1",
									"type": "String"
								},
								"sink": {
									"name": "ATTRIBUTE1",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE2",
									"type": "String"
								},
								"sink": {
									"name": "ATTRIBUTE2",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE3",
									"type": "String"
								},
								"sink": {
									"name": "ATTRIBUTE3",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE4",
									"type": "String"
								},
								"sink": {
									"name": "ATTRIBUTE4",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE5",
									"type": "String"
								},
								"sink": {
									"name": "ATTRIBUTE5",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE6",
									"type": "String"
								},
								"sink": {
									"name": "ATTRIBUTE6",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE7",
									"type": "String"
								},
								"sink": {
									"name": "ATTRIBUTE7",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE8",
									"type": "String"
								},
								"sink": {
									"name": "ATTRIBUTE8",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE9",
									"type": "String"
								},
								"sink": {
									"name": "ATTRIBUTE9",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE10",
									"type": "String"
								},
								"sink": {
									"name": "ATTRIBUTE10",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "CONTEXT",
									"type": "String"
								},
								"sink": {
									"name": "CONTEXT",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE_CATEGORY",
									"type": "String"
								},
								"sink": {
									"name": "GLOBAL_ATTRIBUTE_CATEGORY",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE1",
									"type": "String"
								},
								"sink": {
									"name": "GLOBAL_ATTRIBUTE1",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE2",
									"type": "String"
								},
								"sink": {
									"name": "GLOBAL_ATTRIBUTE2",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE3",
									"type": "String"
								},
								"sink": {
									"name": "GLOBAL_ATTRIBUTE3",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE4",
									"type": "String"
								},
								"sink": {
									"name": "GLOBAL_ATTRIBUTE4",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE5",
									"type": "String"
								},
								"sink": {
									"name": "GLOBAL_ATTRIBUTE5",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE6",
									"type": "String"
								},
								"sink": {
									"name": "GLOBAL_ATTRIBUTE6",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE7",
									"type": "String"
								},
								"sink": {
									"name": "GLOBAL_ATTRIBUTE7",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE8",
									"type": "String"
								},
								"sink": {
									"name": "GLOBAL_ATTRIBUTE8",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE9",
									"type": "String"
								},
								"sink": {
									"name": "GLOBAL_ATTRIBUTE9",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "GLOBAL_ATTRIBUTE10",
									"type": "String"
								},
								"sink": {
									"name": "GLOBAL_ATTRIBUTE10",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "USSGL_TRANSACTION_CODE",
									"type": "String"
								},
								"sink": {
									"name": "USSGL_TRANSACTION_CODE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "CONTEXT2",
									"type": "String"
								},
								"sink": {
									"name": "CONTEXT2",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "DOC_SEQUENCE_ID",
									"type": "Double"
								},
								"sink": {
									"name": "DOC_SEQUENCE_ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "DOC_SEQUENCE_VALUE",
									"type": "Double"
								},
								"sink": {
									"name": "DOC_SEQUENCE_VALUE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "JGZZ_RECON_CONTEXT",
									"type": "String"
								},
								"sink": {
									"name": "JGZZ_RECON_CONTEXT",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "JGZZ_RECON_REF",
									"type": "String"
								},
								"sink": {
									"name": "JGZZ_RECON_REF",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "REFERENCE_DATE",
									"type": "DateTime"
								},
								"sink": {
									"name": "REFERENCE_DATE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "LOCAL_DOC_SEQUENCE_ID",
									"type": "Double"
								},
								"sink": {
									"name": "LOCAL_DOC_SEQUENCE_ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "LOCAL_DOC_SEQUENCE_VALUE",
									"type": "Double"
								},
								"sink": {
									"name": "LOCAL_DOC_SEQUENCE_VALUE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "DISPLAY_ALC_JOURNAL_FLAG",
									"type": "String"
								},
								"sink": {
									"name": "DISPLAY_ALC_JOURNAL_FLAG",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "JE_FROM_SLA_FLAG",
									"type": "String"
								},
								"sink": {
									"name": "JE_FROM_SLA_FLAG",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "POSTING_ACCT_SEQ_VERSION_ID",
									"type": "Double"
								},
								"sink": {
									"name": "POSTING_ACCT_SEQ_VERSION_ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "POSTING_ACCT_SEQ_ASSIGN_ID",
									"type": "Double"
								},
								"sink": {
									"name": "POSTING_ACCT_SEQ_ASSIGN_ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "POSTING_ACCT_SEQ_VALUE",
									"type": "Double"
								},
								"sink": {
									"name": "POSTING_ACCT_SEQ_VALUE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "CLOSE_ACCT_SEQ_VERSION_ID",
									"type": "Double"
								},
								"sink": {
									"name": "CLOSE_ACCT_SEQ_VERSION_ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "CLOSE_ACCT_SEQ_ASSIGN_ID",
									"type": "Double"
								},
								"sink": {
									"name": "CLOSE_ACCT_SEQ_ASSIGN_ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "CLOSE_ACCT_SEQ_VALUE",
									"type": "Double"
								},
								"sink": {
									"name": "CLOSE_ACCT_SEQ_VALUE",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "BFG_ODB_GL_JE_HEADERS",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ADLS_GL_JE_HEADERS",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy GL_LEDGERS to ADLS",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy GL_JE_HEADERS to ADLS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings",
							"metadata": [
								{
									"name": "_M_TIMESTAMP",
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									}
								},
								{
									"name": "_M_PIPELINE",
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									}
								},
								{
									"name": "_M_DATETIME",
									"value": {
										"value": "@formatDateTime(utcnow())",
										"type": "Expression"
									}
								}
							]
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "LEDGER_ID",
									"type": "Decimal"
								},
								"sink": {
									"name": "LEDGER_ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "NAME",
									"type": "String"
								},
								"sink": {
									"name": "NAME",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SHORT_NAME",
									"type": "String"
								},
								"sink": {
									"name": "SHORT_NAME",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "DESCRIPTION",
									"type": "String"
								},
								"sink": {
									"name": "DESCRIPTION",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "LEDGER_CATEGORY_CODE",
									"type": "String"
								},
								"sink": {
									"name": "LEDGER_CATEGORY_CODE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ALC_LEDGER_TYPE_CODE",
									"type": "String"
								},
								"sink": {
									"name": "ALC_LEDGER_TYPE_CODE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "OBJECT_TYPE_CODE",
									"type": "String"
								},
								"sink": {
									"name": "OBJECT_TYPE_CODE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "LE_LEDGER_TYPE_CODE",
									"type": "String"
								},
								"sink": {
									"name": "LE_LEDGER_TYPE_CODE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "COMPLETION_STATUS_CODE",
									"type": "String"
								},
								"sink": {
									"name": "COMPLETION_STATUS_CODE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "CONFIGURATION_ID",
									"type": "Decimal"
								},
								"sink": {
									"name": "CONFIGURATION_ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "CHART_OF_ACCOUNTS_ID",
									"type": "Decimal"
								},
								"sink": {
									"name": "CHART_OF_ACCOUNTS_ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "CURRENCY_CODE",
									"type": "String"
								},
								"sink": {
									"name": "CURRENCY_CODE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PERIOD_SET_NAME",
									"type": "String"
								},
								"sink": {
									"name": "PERIOD_SET_NAME",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ACCOUNTED_PERIOD_TYPE",
									"type": "String"
								},
								"sink": {
									"name": "ACCOUNTED_PERIOD_TYPE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "FIRST_LEDGER_PERIOD_NAME",
									"type": "String"
								},
								"sink": {
									"name": "FIRST_LEDGER_PERIOD_NAME",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "RET_EARN_CODE_COMBINATION_ID",
									"type": "Decimal"
								},
								"sink": {
									"name": "RET_EARN_CODE_COMBINATION_ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SUSPENSE_ALLOWED_FLAG",
									"type": "String"
								},
								"sink": {
									"name": "SUSPENSE_ALLOWED_FLAG",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ALLOW_INTERCOMPANY_POST_FLAG",
									"type": "String"
								},
								"sink": {
									"name": "ALLOW_INTERCOMPANY_POST_FLAG",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "TRACK_ROUNDING_IMBALANCE_FLAG",
									"type": "String"
								},
								"sink": {
									"name": "TRACK_ROUNDING_IMBALANCE_FLAG",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ENABLE_AVERAGE_BALANCES_FLAG",
									"type": "String"
								},
								"sink": {
									"name": "ENABLE_AVERAGE_BALANCES_FLAG",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "CUM_TRANS_CODE_COMBINATION_ID",
									"type": "Decimal"
								},
								"sink": {
									"name": "CUM_TRANS_CODE_COMBINATION_ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "RES_ENCUMB_CODE_COMBINATION_ID",
									"type": "Decimal"
								},
								"sink": {
									"name": "RES_ENCUMB_CODE_COMBINATION_ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "NET_INCOME_CODE_COMBINATION_ID",
									"type": "Decimal"
								},
								"sink": {
									"name": "NET_INCOME_CODE_COMBINATION_ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ROUNDING_CODE_COMBINATION_ID",
									"type": "Decimal"
								},
								"sink": {
									"name": "ROUNDING_CODE_COMBINATION_ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ENABLE_BUDGETARY_CONTROL_FLAG",
									"type": "String"
								},
								"sink": {
									"name": "ENABLE_BUDGETARY_CONTROL_FLAG",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "REQUIRE_BUDGET_JOURNALS_FLAG",
									"type": "String"
								},
								"sink": {
									"name": "REQUIRE_BUDGET_JOURNALS_FLAG",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ENABLE_JE_APPROVAL_FLAG",
									"type": "String"
								},
								"sink": {
									"name": "ENABLE_JE_APPROVAL_FLAG",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ENABLE_AUTOMATIC_TAX_FLAG",
									"type": "String"
								},
								"sink": {
									"name": "ENABLE_AUTOMATIC_TAX_FLAG",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "CONSOLIDATION_LEDGER_FLAG",
									"type": "String"
								},
								"sink": {
									"name": "CONSOLIDATION_LEDGER_FLAG",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "TRANSLATE_EOD_FLAG",
									"type": "String"
								},
								"sink": {
									"name": "TRANSLATE_EOD_FLAG",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "TRANSLATE_QATD_FLAG",
									"type": "String"
								},
								"sink": {
									"name": "TRANSLATE_QATD_FLAG",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "TRANSLATE_YATD_FLAG",
									"type": "String"
								},
								"sink": {
									"name": "TRANSLATE_YATD_FLAG",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "TRANSACTION_CALENDAR_ID",
									"type": "Decimal"
								},
								"sink": {
									"name": "TRANSACTION_CALENDAR_ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "DAILY_TRANSLATION_RATE_TYPE",
									"type": "String"
								},
								"sink": {
									"name": "DAILY_TRANSLATION_RATE_TYPE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "AUTOMATICALLY_CREATED_FLAG",
									"type": "String"
								},
								"sink": {
									"name": "AUTOMATICALLY_CREATED_FLAG",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "BAL_SEG_VALUE_OPTION_CODE",
									"type": "String"
								},
								"sink": {
									"name": "BAL_SEG_VALUE_OPTION_CODE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "BAL_SEG_COLUMN_NAME",
									"type": "String"
								},
								"sink": {
									"name": "BAL_SEG_COLUMN_NAME",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "MGT_SEG_VALUE_OPTION_CODE",
									"type": "String"
								},
								"sink": {
									"name": "MGT_SEG_VALUE_OPTION_CODE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "MGT_SEG_COLUMN_NAME",
									"type": "String"
								},
								"sink": {
									"name": "MGT_SEG_COLUMN_NAME",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "BAL_SEG_VALUE_SET_ID",
									"type": "Decimal"
								},
								"sink": {
									"name": "BAL_SEG_VALUE_SET_ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "MGT_SEG_VALUE_SET_ID",
									"type": "Decimal"
								},
								"sink": {
									"name": "MGT_SEG_VALUE_SET_ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "IMPLICIT_ACCESS_SET_ID",
									"type": "Decimal"
								},
								"sink": {
									"name": "IMPLICIT_ACCESS_SET_ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "CRITERIA_SET_ID",
									"type": "Decimal"
								},
								"sink": {
									"name": "CRITERIA_SET_ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "FUTURE_ENTERABLE_PERIODS_LIMIT",
									"type": "Decimal"
								},
								"sink": {
									"name": "FUTURE_ENTERABLE_PERIODS_LIMIT",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "LEDGER_ATTRIBUTES",
									"type": "String"
								},
								"sink": {
									"name": "LEDGER_ATTRIBUTES",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "IMPLICIT_LEDGER_SET_ID",
									"type": "Decimal"
								},
								"sink": {
									"name": "IMPLICIT_LEDGER_SET_ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "LATEST_OPENED_PERIOD_NAME",
									"type": "String"
								},
								"sink": {
									"name": "LATEST_OPENED_PERIOD_NAME",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "LATEST_ENCUMBRANCE_YEAR",
									"type": "Decimal"
								},
								"sink": {
									"name": "LATEST_ENCUMBRANCE_YEAR",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PERIOD_AVERAGE_RATE_TYPE",
									"type": "String"
								},
								"sink": {
									"name": "PERIOD_AVERAGE_RATE_TYPE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PERIOD_END_RATE_TYPE",
									"type": "String"
								},
								"sink": {
									"name": "PERIOD_END_RATE_TYPE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "BUDGET_PERIOD_AVG_RATE_TYPE",
									"type": "String"
								},
								"sink": {
									"name": "BUDGET_PERIOD_AVG_RATE_TYPE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "BUDGET_PERIOD_END_RATE_TYPE",
									"type": "String"
								},
								"sink": {
									"name": "BUDGET_PERIOD_END_RATE_TYPE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SLA_ACCOUNTING_METHOD_CODE",
									"type": "String"
								},
								"sink": {
									"name": "SLA_ACCOUNTING_METHOD_CODE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SLA_ACCOUNTING_METHOD_TYPE",
									"type": "String"
								},
								"sink": {
									"name": "SLA_ACCOUNTING_METHOD_TYPE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SLA_DESCRIPTION_LANGUAGE",
									"type": "String"
								},
								"sink": {
									"name": "SLA_DESCRIPTION_LANGUAGE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SLA_ENTERED_CUR_BAL_SUS_CCID",
									"type": "Decimal"
								},
								"sink": {
									"name": "SLA_ENTERED_CUR_BAL_SUS_CCID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SLA_SEQUENCING_FLAG",
									"type": "String"
								},
								"sink": {
									"name": "SLA_SEQUENCING_FLAG",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SLA_BAL_BY_LEDGER_CURR_FLAG",
									"type": "String"
								},
								"sink": {
									"name": "SLA_BAL_BY_LEDGER_CURR_FLAG",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SLA_LEDGER_CUR_BAL_SUS_CCID",
									"type": "Decimal"
								},
								"sink": {
									"name": "SLA_LEDGER_CUR_BAL_SUS_CCID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ENABLE_SECONDARY_TRACK_FLAG",
									"type": "String"
								},
								"sink": {
									"name": "ENABLE_SECONDARY_TRACK_FLAG",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ENABLE_REVAL_SS_TRACK_FLAG",
									"type": "String"
								},
								"sink": {
									"name": "ENABLE_REVAL_SS_TRACK_FLAG",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "LAST_UPDATE_DATE",
									"type": "DateTime"
								},
								"sink": {
									"name": "LAST_UPDATE_DATE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "LAST_UPDATED_BY",
									"type": "Decimal"
								},
								"sink": {
									"name": "LAST_UPDATED_BY",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "CREATION_DATE",
									"type": "DateTime"
								},
								"sink": {
									"name": "CREATION_DATE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "CREATED_BY",
									"type": "Decimal"
								},
								"sink": {
									"name": "CREATED_BY",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "LAST_UPDATE_LOGIN",
									"type": "Decimal"
								},
								"sink": {
									"name": "LAST_UPDATE_LOGIN",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "CONTEXT",
									"type": "String"
								},
								"sink": {
									"name": "CONTEXT",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE1",
									"type": "String"
								},
								"sink": {
									"name": "ATTRIBUTE1",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE2",
									"type": "String"
								},
								"sink": {
									"name": "ATTRIBUTE2",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE3",
									"type": "String"
								},
								"sink": {
									"name": "ATTRIBUTE3",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE4",
									"type": "String"
								},
								"sink": {
									"name": "ATTRIBUTE4",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE5",
									"type": "String"
								},
								"sink": {
									"name": "ATTRIBUTE5",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE6",
									"type": "String"
								},
								"sink": {
									"name": "ATTRIBUTE6",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE7",
									"type": "String"
								},
								"sink": {
									"name": "ATTRIBUTE7",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE8",
									"type": "String"
								},
								"sink": {
									"name": "ATTRIBUTE8",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE9",
									"type": "String"
								},
								"sink": {
									"name": "ATTRIBUTE9",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE10",
									"type": "String"
								},
								"sink": {
									"name": "ATTRIBUTE10",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE11",
									"type": "String"
								},
								"sink": {
									"name": "ATTRIBUTE11",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE12",
									"type": "String"
								},
								"sink": {
									"name": "ATTRIBUTE12",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE13",
									"type": "String"
								},
								"sink": {
									"name": "ATTRIBUTE13",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE14",
									"type": "String"
								},
								"sink": {
									"name": "ATTRIBUTE14",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE15",
									"type": "String"
								},
								"sink": {
									"name": "ATTRIBUTE15",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ENABLE_RECONCILIATION_FLAG",
									"type": "String"
								},
								"sink": {
									"name": "ENABLE_RECONCILIATION_FLAG",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "CREATE_JE_FLAG",
									"type": "String"
								},
								"sink": {
									"name": "CREATE_JE_FLAG",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SLA_LEDGER_CASH_BASIS_FLAG",
									"type": "String"
								},
								"sink": {
									"name": "SLA_LEDGER_CASH_BASIS_FLAG",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "COMPLETE_FLAG",
									"type": "String"
								},
								"sink": {
									"name": "COMPLETE_FLAG",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "COMMITMENT_BUDGET_FLAG",
									"type": "String"
								},
								"sink": {
									"name": "COMMITMENT_BUDGET_FLAG",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "NET_CLOSING_BAL_FLAG",
									"type": "String"
								},
								"sink": {
									"name": "NET_CLOSING_BAL_FLAG",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "AUTOMATE_SEC_JRNL_REV_FLAG",
									"type": "String"
								},
								"sink": {
									"name": "AUTOMATE_SEC_JRNL_REV_FLAG",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "BFG_ODB_GL_LEDGERS",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ADLS_GL_LEDGERS",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy GL_PERIODS to ADLS",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings",
							"metadata": [
								{
									"name": "_M_TIMESTAMP",
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									}
								},
								{
									"name": "_M_PIPELINE",
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									}
								},
								{
									"name": "_M_DATETIME",
									"value": {
										"value": "@formatDateTime(utcnow())",
										"type": "Expression"
									}
								}
							]
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "PERIOD_SET_NAME",
									"type": "String"
								},
								"sink": {
									"name": "PERIOD_SET_NAME",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PERIOD_NAME",
									"type": "String"
								},
								"sink": {
									"name": "PERIOD_NAME",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "LAST_UPDATE_DATE",
									"type": "DateTime"
								},
								"sink": {
									"name": "LAST_UPDATE_DATE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "LAST_UPDATED_BY",
									"type": "Decimal"
								},
								"sink": {
									"name": "LAST_UPDATED_BY",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "START_DATE",
									"type": "DateTime"
								},
								"sink": {
									"name": "START_DATE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "END_DATE",
									"type": "DateTime"
								},
								"sink": {
									"name": "END_DATE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "YEAR_START_DATE",
									"type": "DateTime"
								},
								"sink": {
									"name": "YEAR_START_DATE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "QUARTER_START_DATE",
									"type": "DateTime"
								},
								"sink": {
									"name": "QUARTER_START_DATE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PERIOD_TYPE",
									"type": "String"
								},
								"sink": {
									"name": "PERIOD_TYPE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PERIOD_YEAR",
									"type": "Decimal"
								},
								"sink": {
									"name": "PERIOD_YEAR",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PERIOD_NUM",
									"type": "Decimal"
								},
								"sink": {
									"name": "PERIOD_NUM",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "QUARTER_NUM",
									"type": "Decimal"
								},
								"sink": {
									"name": "QUARTER_NUM",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ENTERED_PERIOD_NAME",
									"type": "String"
								},
								"sink": {
									"name": "ENTERED_PERIOD_NAME",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ADJUSTMENT_PERIOD_FLAG",
									"type": "String"
								},
								"sink": {
									"name": "ADJUSTMENT_PERIOD_FLAG",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "CREATION_DATE",
									"type": "DateTime"
								},
								"sink": {
									"name": "CREATION_DATE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "CREATED_BY",
									"type": "Decimal"
								},
								"sink": {
									"name": "CREATED_BY",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "LAST_UPDATE_LOGIN",
									"type": "Decimal"
								},
								"sink": {
									"name": "LAST_UPDATE_LOGIN",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "DESCRIPTION",
									"type": "String"
								},
								"sink": {
									"name": "DESCRIPTION",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE1",
									"type": "String"
								},
								"sink": {
									"name": "ATTRIBUTE1",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE2",
									"type": "String"
								},
								"sink": {
									"name": "ATTRIBUTE2",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE3",
									"type": "String"
								},
								"sink": {
									"name": "ATTRIBUTE3",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE4",
									"type": "String"
								},
								"sink": {
									"name": "ATTRIBUTE4",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE5",
									"type": "String"
								},
								"sink": {
									"name": "ATTRIBUTE5",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE6",
									"type": "String"
								},
								"sink": {
									"name": "ATTRIBUTE6",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE7",
									"type": "String"
								},
								"sink": {
									"name": "ATTRIBUTE7",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE8",
									"type": "String"
								},
								"sink": {
									"name": "ATTRIBUTE8",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "CONTEXT",
									"type": "String"
								},
								"sink": {
									"name": "CONTEXT",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ZD_EDITION_NAME",
									"type": "String"
								},
								"sink": {
									"name": "ZD_EDITION_NAME",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ZD_SYNC",
									"type": "String"
								},
								"sink": {
									"name": "ZD_SYNC",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "BFG_ODB_GL_PERIODS",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ADLS_GL_PERIODS",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Lookup SQL GL_IMPORT_REFERENCES Watermark",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select WATERMARK_DATETIME \nfrom [dbo].[WATERMARK] \nwhere OWNER_NAME = '@{variables('SQL_OWNER_NAME')}'\nand TABLE_NAME = '@{variables('Table_GL_IMPORT_REFERENCES')}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "WATERMARK",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Update GL_IMPORT_REFERENCES Watermark",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy GL_IMPORT_REFERENCES to ADLS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[UpdateWatermark]",
					"storedProcedureParameters": {
						"LastModifiedtime": {
							"value": {
								"value": "@activity('Lookup ODB GL_IMPORT_REFERENCES New Watermark').output.FirstRow.LAST_UPDATE_DATE",
								"type": "Expression"
							}
						},
						"OWNER_NAME": {
							"value": {
								"value": "@variables('SQL_OWNER_NAME')",
								"type": "Expression"
							}
						},
						"TABLE_NAME": {
							"value": {
								"value": "@variables('Table_GL_IMPORT_REFERENCES')",
								"type": "Expression"
							}
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "BFG_SQL_DB",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Lookup ODB GL_IMPORT_REFERENCES New Watermark",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "select\t\t\tmax(cast(LAST_UPDATE_DATE as timestamp)) as LAST_UPDATE_DATE\nfrom\t\t\t@{variables('ODB_OWNER_NAME')}.@{variables('Table_GL_IMPORT_REFERENCES')}\n--where LAST_UPDATE_DATE >= '@{getPastTime(10, 'Day', 'dd/MMM/yy')}'",
							"type": "Expression"
						},
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "BFG_ODB_RA_CUSTOMER_TRX_LINES_ALL",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Archive GL_PERIODS",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy GL_LEDGERS to ADLS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"modifiedDatetimeStart": "2022-05-01T00:00:00.000Z",
							"modifiedDatetimeEnd": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"wildcardFolderPath": "bfguk_erp_prod/schemas/GL/GL_PERIODS",
							"wildcardFileName": "*",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"parallelCopies": 1,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ADLS_GL_PERIODS",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ARCHIVE_GL_PERIODS",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Delete GL_PERIODS",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "Archive GL_PERIODS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ADLS_GL_PERIODS",
						"type": "DatasetReference"
					},
					"logStorageSettings": {
						"linkedServiceName": {
							"referenceName": "BFG_AZURE_STORAGE",
							"type": "LinkedServiceReference"
						},
						"path": "raw/oracle_erp/logging"
					},
					"enableLogging": true,
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"modifiedDatetimeStart": "2022-05-01T00:00:00.000Z",
						"modifiedDatetimeEnd": {
							"value": "@pipeline().TriggerTime",
							"type": "Expression"
						},
						"wildcardFileName": "*",
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "Archive GL_CODE_COMBINATIONS",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy GL_LEDGERS to ADLS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"modifiedDatetimeStart": "2022-05-01T00:00:00.000Z",
							"modifiedDatetimeEnd": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"wildcardFolderPath": "bfguk_erp_prod/schemas/GL/GL_CODE_COMBINATIONS",
							"wildcardFileName": "*",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"parallelCopies": 1,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ADLS_GL_CODE_COMBINATIONS",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ARCHIVE_GL_CODE_COMBINATIONS",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Delete GL_CODE_COMBINATIONS",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "Archive GL_CODE_COMBINATIONS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ADLS_GL_CODE_COMBINATIONS",
						"type": "DatasetReference"
					},
					"logStorageSettings": {
						"linkedServiceName": {
							"referenceName": "BFG_AZURE_STORAGE",
							"type": "LinkedServiceReference"
						},
						"path": "raw/oracle_erp/logging"
					},
					"enableLogging": true,
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"modifiedDatetimeStart": "2022-05-01T00:00:00.000Z",
						"modifiedDatetimeEnd": {
							"value": "@pipeline().TriggerTime",
							"type": "Expression"
						},
						"wildcardFileName": "*",
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "Archive GL_JE_HEADERS",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy GL_LEDGERS to ADLS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"modifiedDatetimeStart": "2022-05-01T00:00:00.000Z",
							"modifiedDatetimeEnd": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"wildcardFolderPath": "bfguk_erp_prod/schemas/GL/GL_JE_HEADERS",
							"wildcardFileName": "*",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"parallelCopies": 1,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ADLS_GL_JE_HEADERS",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ARCHIVE_GL_JE_HEADERS",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Delete GL_JE_HEADERS",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "Archive GL_JE_HEADERS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ADLS_GL_JE_HEADERS",
						"type": "DatasetReference"
					},
					"logStorageSettings": {
						"linkedServiceName": {
							"referenceName": "BFG_AZURE_STORAGE",
							"type": "LinkedServiceReference"
						},
						"path": "raw/oracle_erp/logging"
					},
					"enableLogging": true,
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"modifiedDatetimeStart": "2022-05-01T00:00:00.000Z",
						"modifiedDatetimeEnd": {
							"value": "@pipeline().TriggerTime",
							"type": "Expression"
						},
						"wildcardFileName": "*",
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "Archive GL_LEDGERS",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy GL_LEDGERS to ADLS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"modifiedDatetimeStart": "2022-05-01T00:00:00.000Z",
							"modifiedDatetimeEnd": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"wildcardFolderPath": "bfguk_erp_prod/schemas/GL/GL_LEDGERS",
							"wildcardFileName": "*",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"parallelCopies": 1,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ADLS_GL_LEDGERS",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ARCHIVE_GL_LEDGERS",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Delete GL_LEDGERS",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "Archive GL_LEDGERS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ADLS_GL_LEDGERS",
						"type": "DatasetReference"
					},
					"logStorageSettings": {
						"linkedServiceName": {
							"referenceName": "BFG_AZURE_STORAGE",
							"type": "LinkedServiceReference"
						},
						"path": "raw/oracle_erp/logging"
					},
					"enableLogging": true,
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"modifiedDatetimeStart": "2022-05-01T00:00:00.000Z",
						"modifiedDatetimeEnd": {
							"value": "@pipeline().TriggerTime",
							"type": "Expression"
						},
						"wildcardFileName": "*",
						"enablePartitionDiscovery": false
					}
				}
			}
		],
		"variables": {
			"ODB_OWNER_NAME": {
				"type": "String",
				"defaultValue": "GL"
			},
			"Table_Generic": {
				"type": "String",
				"defaultValue": "GL_TABLES"
			},
			"Table_GL_IMPORT_REFERENCES": {
				"type": "String",
				"defaultValue": "GL_IMPORT_REFERENCES"
			},
			"ADF_OWNER_NAME": {
				"type": "String",
				"defaultValue": "ADF"
			},
			"SQL_OWNER_NAME": {
				"type": "String",
				"defaultValue": "stg"
			}
		},
		"annotations": []
	}
}