pipeline/BFG_ONT_ODB_To_ADLS.json
{
  "name": "BFG_ONT_ODB_To_ADLS",
  "properties": {
    "activities": [
      {
        "name": "Copy OE_ORDER_HEADERS_ALL to ADLS",
        "type": "Copy",
        "dependsOn": [],
        "policy": {
          "timeout": "7.00:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "source": {
            "type": "OracleSource",
            "partitionOption": "None",
            "queryTimeout": "02:00:00"
          },
          "sink": {
            "type": "DelimitedTextSink",
            "storeSettings": {
              "type": "AzureBlobStorageWriteSettings",
              "metadata": [
                {
                  "name": "_M_TIMESTAMP",
                  "value": {
                    "value": "@utcnow()",
                    "type": "Expression"
                  }
                },
                {
                  "name": "_M_PIPELINE",
                  "value": {
                    "value": "@pipeline().Pipeline",
                    "type": "Expression"
                  }
                },
                {
                  "name": "_M_DATETIME",
                  "value": {
                    "value": "@formatDateTime(utcnow())",
                    "type": "Expression"
                  }
                }
              ]
            },
            "formatSettings": {
              "type": "DelimitedTextWriteSettings",
              "quoteAllText": true,
              "fileExtension": ".txt"
            }
          },
          "enableStaging": false,
          "translator": {
            "type": "TabularTranslator",
            "mappings": [
              {
                "source": {
                  "name": "HEADER_ID",
                  "type": "Double"
                },
                "sink": {
                  "name": "HEADER_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ORG_ID",
                  "type": "Double"
                },
                "sink": {
                  "name": "ORG_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ORDER_TYPE_ID",
                  "type": "Double"
                },
                "sink": {
                  "name": "ORDER_TYPE_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ORDER_NUMBER",
                  "type": "Double"
                },
                "sink": {
                  "name": "ORDER_NUMBER",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "VERSION_NUMBER",
                  "type": "Double"
                },
                "sink": {
                  "name": "VERSION_NUMBER",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "EXPIRATION_DATE",
                  "type": "DateTime"
                },
                "sink": {
                  "name": "EXPIRATION_DATE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ORDER_SOURCE_ID",
                  "type": "Double"
                },
                "sink": {
                  "name": "ORDER_SOURCE_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "SOURCE_DOCUMENT_TYPE_ID",
                  "type": "Double"
                },
                "sink": {
                  "name": "SOURCE_DOCUMENT_TYPE_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ORIG_SYS_DOCUMENT_REF",
                  "type": "String"
                },
                "sink": {
                  "name": "ORIG_SYS_DOCUMENT_REF",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "SOURCE_DOCUMENT_ID",
                  "type": "Double"
                },
                "sink": {
                  "name": "SOURCE_DOCUMENT_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ORDERED_DATE",
                  "type": "DateTime"
                },
                "sink": {
                  "name": "ORDERED_DATE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "REQUEST_DATE",
                  "type": "DateTime"
                },
                "sink": {
                  "name": "REQUEST_DATE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "PRICING_DATE",
                  "type": "DateTime"
                },
                "sink": {
                  "name": "PRICING_DATE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "SHIPMENT_PRIORITY_CODE",
                  "type": "String"
                },
                "sink": {
                  "name": "SHIPMENT_PRIORITY_CODE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "DEMAND_CLASS_CODE",
                  "type": "String"
                },
                "sink": {
                  "name": "DEMAND_CLASS_CODE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "PRICE_LIST_ID",
                  "type": "Double"
                },
                "sink": {
                  "name": "PRICE_LIST_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "TAX_EXEMPT_FLAG",
                  "type": "String"
                },
                "sink": {
                  "name": "TAX_EXEMPT_FLAG",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "TAX_EXEMPT_NUMBER",
                  "type": "String"
                },
                "sink": {
                  "name": "TAX_EXEMPT_NUMBER",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "TAX_EXEMPT_REASON_CODE",
                  "type": "String"
                },
                "sink": {
                  "name": "TAX_EXEMPT_REASON_CODE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "CONVERSION_RATE",
                  "type": "Double"
                },
                "sink": {
                  "name": "CONVERSION_RATE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "CONVERSION_TYPE_CODE",
                  "type": "String"
                },
                "sink": {
                  "name": "CONVERSION_TYPE_CODE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "CONVERSION_RATE_DATE",
                  "type": "DateTime"
                },
                "sink": {
                  "name": "CONVERSION_RATE_DATE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "PARTIAL_SHIPMENTS_ALLOWED",
                  "type": "String"
                },
                "sink": {
                  "name": "PARTIAL_SHIPMENTS_ALLOWED",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "SHIP_TOLERANCE_ABOVE",
                  "type": "Double"
                },
                "sink": {
                  "name": "SHIP_TOLERANCE_ABOVE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "SHIP_TOLERANCE_BELOW",
                  "type": "Double"
                },
                "sink": {
                  "name": "SHIP_TOLERANCE_BELOW",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "TRANSACTIONAL_CURR_CODE",
                  "type": "String"
                },
                "sink": {
                  "name": "TRANSACTIONAL_CURR_CODE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "AGREEMENT_ID",
                  "type": "Double"
                },
                "sink": {
                  "name": "AGREEMENT_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "TAX_POINT_CODE",
                  "type": "String"
                },
                "sink": {
                  "name": "TAX_POINT_CODE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "CUST_PO_NUMBER",
                  "type": "String"
                },
                "sink": {
                  "name": "CUST_PO_NUMBER",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "INVOICING_RULE_ID",
                  "type": "Decimal"
                },
                "sink": {
                  "name": "INVOICING_RULE_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ACCOUNTING_RULE_ID",
                  "type": "Decimal"
                },
                "sink": {
                  "name": "ACCOUNTING_RULE_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "PAYMENT_TERM_ID",
                  "type": "Decimal"
                },
                "sink": {
                  "name": "PAYMENT_TERM_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "SHIPPING_METHOD_CODE",
                  "type": "String"
                },
                "sink": {
                  "name": "SHIPPING_METHOD_CODE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "FREIGHT_CARRIER_CODE",
                  "type": "String"
                },
                "sink": {
                  "name": "FREIGHT_CARRIER_CODE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "FOB_POINT_CODE",
                  "type": "String"
                },
                "sink": {
                  "name": "FOB_POINT_CODE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "FREIGHT_TERMS_CODE",
                  "type": "String"
                },
                "sink": {
                  "name": "FREIGHT_TERMS_CODE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "SOLD_FROM_ORG_ID",
                  "type": "Double"
                },
                "sink": {
                  "name": "SOLD_FROM_ORG_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "SOLD_TO_ORG_ID",
                  "type": "Double"
                },
                "sink": {
                  "name": "SOLD_TO_ORG_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "SHIP_FROM_ORG_ID",
                  "type": "Double"
                },
                "sink": {
                  "name": "SHIP_FROM_ORG_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "SHIP_TO_ORG_ID",
                  "type": "Double"
                },
                "sink": {
                  "name": "SHIP_TO_ORG_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "INVOICE_TO_ORG_ID",
                  "type": "Double"
                },
                "sink": {
                  "name": "INVOICE_TO_ORG_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "DELIVER_TO_ORG_ID",
                  "type": "Double"
                },
                "sink": {
                  "name": "DELIVER_TO_ORG_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "SOLD_TO_CONTACT_ID",
                  "type": "Double"
                },
                "sink": {
                  "name": "SOLD_TO_CONTACT_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "SHIP_TO_CONTACT_ID",
                  "type": "Double"
                },
                "sink": {
                  "name": "SHIP_TO_CONTACT_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "INVOICE_TO_CONTACT_ID",
                  "type": "Double"
                },
                "sink": {
                  "name": "INVOICE_TO_CONTACT_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "DELIVER_TO_CONTACT_ID",
                  "type": "Double"
                },
                "sink": {
                  "name": "DELIVER_TO_CONTACT_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "CREATION_DATE",
                  "type": "DateTime"
                },
                "sink": {
                  "name": "CREATION_DATE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "CREATED_BY",
                  "type": "Double"
                },
                "sink": {
                  "name": "CREATED_BY",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "LAST_UPDATED_BY",
                  "type": "Double"
                },
                "sink": {
                  "name": "LAST_UPDATED_BY",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "LAST_UPDATE_DATE",
                  "type": "DateTime"
                },
                "sink": {
                  "name": "LAST_UPDATE_DATE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "LAST_UPDATE_LOGIN",
                  "type": "Double"
                },
                "sink": {
                  "name": "LAST_UPDATE_LOGIN",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "PROGRAM_APPLICATION_ID",
                  "type": "Double"
                },
                "sink": {
                  "name": "PROGRAM_APPLICATION_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "PROGRAM_ID",
                  "type": "Double"
                },
                "sink": {
                  "name": "PROGRAM_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "PROGRAM_UPDATE_DATE",
                  "type": "DateTime"
                },
                "sink": {
                  "name": "PROGRAM_UPDATE_DATE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "REQUEST_ID",
                  "type": "Double"
                },
                "sink": {
                  "name": "REQUEST_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "CONTEXT",
                  "type": "String"
                },
                "sink": {
                  "name": "CONTEXT",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ATTRIBUTE1",
                  "type": "String"
                },
                "sink": {
                  "name": "ATTRIBUTE1",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ATTRIBUTE2",
                  "type": "String"
                },
                "sink": {
                  "name": "ATTRIBUTE2",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ATTRIBUTE3",
                  "type": "String"
                },
                "sink": {
                  "name": "ATTRIBUTE3",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ATTRIBUTE4",
                  "type": "String"
                },
                "sink": {
                  "name": "ATTRIBUTE4",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ATTRIBUTE5",
                  "type": "String"
                },
                "sink": {
                  "name": "ATTRIBUTE5",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ATTRIBUTE6",
                  "type": "String"
                },
                "sink": {
                  "name": "ATTRIBUTE6",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ATTRIBUTE7",
                  "type": "String"
                },
                "sink": {
                  "name": "ATTRIBUTE7",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ATTRIBUTE8",
                  "type": "String"
                },
                "sink": {
                  "name": "ATTRIBUTE8",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ATTRIBUTE9",
                  "type": "String"
                },
                "sink": {
                  "name": "ATTRIBUTE9",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ATTRIBUTE10",
                  "type": "String"
                },
                "sink": {
                  "name": "ATTRIBUTE10",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ATTRIBUTE11",
                  "type": "String"
                },
                "sink": {
                  "name": "ATTRIBUTE11",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ATTRIBUTE12",
                  "type": "String"
                },
                "sink": {
                  "name": "ATTRIBUTE12",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ATTRIBUTE13",
                  "type": "String"
                },
                "sink": {
                  "name": "ATTRIBUTE13",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ATTRIBUTE14",
                  "type": "String"
                },
                "sink": {
                  "name": "ATTRIBUTE14",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ATTRIBUTE15",
                  "type": "String"
                },
                "sink": {
                  "name": "ATTRIBUTE15",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "GLOBAL_ATTRIBUTE_CATEGORY",
                  "type": "String"
                },
                "sink": {
                  "name": "GLOBAL_ATTRIBUTE_CATEGORY",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "GLOBAL_ATTRIBUTE1",
                  "type": "String"
                },
                "sink": {
                  "name": "GLOBAL_ATTRIBUTE1",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "GLOBAL_ATTRIBUTE2",
                  "type": "String"
                },
                "sink": {
                  "name": "GLOBAL_ATTRIBUTE2",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "GLOBAL_ATTRIBUTE3",
                  "type": "String"
                },
                "sink": {
                  "name": "GLOBAL_ATTRIBUTE3",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "GLOBAL_ATTRIBUTE4",
                  "type": "String"
                },
                "sink": {
                  "name": "GLOBAL_ATTRIBUTE4",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "GLOBAL_ATTRIBUTE5",
                  "type": "String"
                },
                "sink": {
                  "name": "GLOBAL_ATTRIBUTE5",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "GLOBAL_ATTRIBUTE6",
                  "type": "String"
                },
                "sink": {
                  "name": "GLOBAL_ATTRIBUTE6",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "GLOBAL_ATTRIBUTE7",
                  "type": "String"
                },
                "sink": {
                  "name": "GLOBAL_ATTRIBUTE7",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "GLOBAL_ATTRIBUTE8",
                  "type": "String"
                },
                "sink": {
                  "name": "GLOBAL_ATTRIBUTE8",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "GLOBAL_ATTRIBUTE9",
                  "type": "String"
                },
                "sink": {
                  "name": "GLOBAL_ATTRIBUTE9",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "GLOBAL_ATTRIBUTE10",
                  "type": "String"
                },
                "sink": {
                  "name": "GLOBAL_ATTRIBUTE10",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "GLOBAL_ATTRIBUTE11",
                  "type": "String"
                },
                "sink": {
                  "name": "GLOBAL_ATTRIBUTE11",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "GLOBAL_ATTRIBUTE12",
                  "type": "String"
                },
                "sink": {
                  "name": "GLOBAL_ATTRIBUTE12",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "GLOBAL_ATTRIBUTE13",
                  "type": "String"
                },
                "sink": {
                  "name": "GLOBAL_ATTRIBUTE13",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "GLOBAL_ATTRIBUTE14",
                  "type": "String"
                },
                "sink": {
                  "name": "GLOBAL_ATTRIBUTE14",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "GLOBAL_ATTRIBUTE15",
                  "type": "String"
                },
                "sink": {
                  "name": "GLOBAL_ATTRIBUTE15",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "GLOBAL_ATTRIBUTE16",
                  "type": "String"
                },
                "sink": {
                  "name": "GLOBAL_ATTRIBUTE16",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "GLOBAL_ATTRIBUTE17",
                  "type": "String"
                },
                "sink": {
                  "name": "GLOBAL_ATTRIBUTE17",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "GLOBAL_ATTRIBUTE18",
                  "type": "String"
                },
                "sink": {
                  "name": "GLOBAL_ATTRIBUTE18",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "GLOBAL_ATTRIBUTE19",
                  "type": "String"
                },
                "sink": {
                  "name": "GLOBAL_ATTRIBUTE19",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "GLOBAL_ATTRIBUTE20",
                  "type": "String"
                },
                "sink": {
                  "name": "GLOBAL_ATTRIBUTE20",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "CANCELLED_FLAG",
                  "type": "String"
                },
                "sink": {
                  "name": "CANCELLED_FLAG",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "OPEN_FLAG",
                  "type": "String"
                },
                "sink": {
                  "name": "OPEN_FLAG",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "BOOKED_FLAG",
                  "type": "String"
                },
                "sink": {
                  "name": "BOOKED_FLAG",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "SALESREP_ID",
                  "type": "Decimal"
                },
                "sink": {
                  "name": "SALESREP_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "RETURN_REASON_CODE",
                  "type": "String"
                },
                "sink": {
                  "name": "RETURN_REASON_CODE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ORDER_DATE_TYPE_CODE",
                  "type": "String"
                },
                "sink": {
                  "name": "ORDER_DATE_TYPE_CODE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "EARLIEST_SCHEDULE_LIMIT",
                  "type": "Double"
                },
                "sink": {
                  "name": "EARLIEST_SCHEDULE_LIMIT",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "LATEST_SCHEDULE_LIMIT",
                  "type": "Double"
                },
                "sink": {
                  "name": "LATEST_SCHEDULE_LIMIT",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "PAYMENT_TYPE_CODE",
                  "type": "String"
                },
                "sink": {
                  "name": "PAYMENT_TYPE_CODE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "PAYMENT_AMOUNT",
                  "type": "Double"
                },
                "sink": {
                  "name": "PAYMENT_AMOUNT",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "CHECK_NUMBER",
                  "type": "String"
                },
                "sink": {
                  "name": "CHECK_NUMBER",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "CREDIT_CARD_CODE",
                  "type": "String"
                },
                "sink": {
                  "name": "CREDIT_CARD_CODE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "CREDIT_CARD_HOLDER_NAME",
                  "type": "String"
                },
                "sink": {
                  "name": "CREDIT_CARD_HOLDER_NAME",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "CREDIT_CARD_NUMBER",
                  "type": "String"
                },
                "sink": {
                  "name": "CREDIT_CARD_NUMBER",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "CREDIT_CARD_EXPIRATION_DATE",
                  "type": "DateTime"
                },
                "sink": {
                  "name": "CREDIT_CARD_EXPIRATION_DATE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "CREDIT_CARD_APPROVAL_CODE",
                  "type": "String"
                },
                "sink": {
                  "name": "CREDIT_CARD_APPROVAL_CODE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "SALES_CHANNEL_CODE",
                  "type": "String"
                },
                "sink": {
                  "name": "SALES_CHANNEL_CODE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "FIRST_ACK_CODE",
                  "type": "String"
                },
                "sink": {
                  "name": "FIRST_ACK_CODE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "FIRST_ACK_DATE",
                  "type": "DateTime"
                },
                "sink": {
                  "name": "FIRST_ACK_DATE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "LAST_ACK_CODE",
                  "type": "String"
                },
                "sink": {
                  "name": "LAST_ACK_CODE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "LAST_ACK_DATE",
                  "type": "DateTime"
                },
                "sink": {
                  "name": "LAST_ACK_DATE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ORDER_CATEGORY_CODE",
                  "type": "String"
                },
                "sink": {
                  "name": "ORDER_CATEGORY_CODE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "CHANGE_SEQUENCE",
                  "type": "String"
                },
                "sink": {
                  "name": "CHANGE_SEQUENCE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "DROP_SHIP_FLAG",
                  "type": "String"
                },
                "sink": {
                  "name": "DROP_SHIP_FLAG",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "CUSTOMER_PAYMENT_TERM_ID",
                  "type": "Double"
                },
                "sink": {
                  "name": "CUSTOMER_PAYMENT_TERM_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "SHIPPING_INSTRUCTIONS",
                  "type": "String"
                },
                "sink": {
                  "name": "SHIPPING_INSTRUCTIONS",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "PACKING_INSTRUCTIONS",
                  "type": "String"
                },
                "sink": {
                  "name": "PACKING_INSTRUCTIONS",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "TP_CONTEXT",
                  "type": "String"
                },
                "sink": {
                  "name": "TP_CONTEXT",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "TP_ATTRIBUTE1",
                  "type": "String"
                },
                "sink": {
                  "name": "TP_ATTRIBUTE1",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "TP_ATTRIBUTE2",
                  "type": "String"
                },
                "sink": {
                  "name": "TP_ATTRIBUTE2",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "TP_ATTRIBUTE3",
                  "type": "String"
                },
                "sink": {
                  "name": "TP_ATTRIBUTE3",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "TP_ATTRIBUTE4",
                  "type": "String"
                },
                "sink": {
                  "name": "TP_ATTRIBUTE4",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "TP_ATTRIBUTE5",
                  "type": "String"
                },
                "sink": {
                  "name": "TP_ATTRIBUTE5",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "TP_ATTRIBUTE6",
                  "type": "String"
                },
                "sink": {
                  "name": "TP_ATTRIBUTE6",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "TP_ATTRIBUTE7",
                  "type": "String"
                },
                "sink": {
                  "name": "TP_ATTRIBUTE7",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "TP_ATTRIBUTE8",
                  "type": "String"
                },
                "sink": {
                  "name": "TP_ATTRIBUTE8",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "TP_ATTRIBUTE9",
                  "type": "String"
                },
                "sink": {
                  "name": "TP_ATTRIBUTE9",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "TP_ATTRIBUTE10",
                  "type": "String"
                },
                "sink": {
                  "name": "TP_ATTRIBUTE10",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "TP_ATTRIBUTE11",
                  "type": "String"
                },
                "sink": {
                  "name": "TP_ATTRIBUTE11",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "TP_ATTRIBUTE12",
                  "type": "String"
                },
                "sink": {
                  "name": "TP_ATTRIBUTE12",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "TP_ATTRIBUTE13",
                  "type": "String"
                },
                "sink": {
                  "name": "TP_ATTRIBUTE13",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "TP_ATTRIBUTE14",
                  "type": "String"
                },
                "sink": {
                  "name": "TP_ATTRIBUTE14",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "TP_ATTRIBUTE15",
                  "type": "String"
                },
                "sink": {
                  "name": "TP_ATTRIBUTE15",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "FLOW_STATUS_CODE",
                  "type": "String"
                },
                "sink": {
                  "name": "FLOW_STATUS_CODE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "MARKETING_SOURCE_CODE_ID",
                  "type": "Double"
                },
                "sink": {
                  "name": "MARKETING_SOURCE_CODE_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "CREDIT_CARD_APPROVAL_DATE",
                  "type": "DateTime"
                },
                "sink": {
                  "name": "CREDIT_CARD_APPROVAL_DATE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "UPGRADED_FLAG",
                  "type": "String"
                },
                "sink": {
                  "name": "UPGRADED_FLAG",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "CUSTOMER_PREFERENCE_SET_CODE",
                  "type": "String"
                },
                "sink": {
                  "name": "CUSTOMER_PREFERENCE_SET_CODE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "BOOKED_DATE",
                  "type": "DateTime"
                },
                "sink": {
                  "name": "BOOKED_DATE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "LOCK_CONTROL",
                  "type": "Double"
                },
                "sink": {
                  "name": "LOCK_CONTROL",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "PRICE_REQUEST_CODE",
                  "type": "String"
                },
                "sink": {
                  "name": "PRICE_REQUEST_CODE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "BATCH_ID",
                  "type": "Double"
                },
                "sink": {
                  "name": "BATCH_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "XML_MESSAGE_ID",
                  "type": "Double"
                },
                "sink": {
                  "name": "XML_MESSAGE_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ACCOUNTING_RULE_DURATION",
                  "type": "Decimal"
                },
                "sink": {
                  "name": "ACCOUNTING_RULE_DURATION",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ATTRIBUTE16",
                  "type": "String"
                },
                "sink": {
                  "name": "ATTRIBUTE16",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ATTRIBUTE17",
                  "type": "String"
                },
                "sink": {
                  "name": "ATTRIBUTE17",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ATTRIBUTE18",
                  "type": "String"
                },
                "sink": {
                  "name": "ATTRIBUTE18",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ATTRIBUTE19",
                  "type": "String"
                },
                "sink": {
                  "name": "ATTRIBUTE19",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ATTRIBUTE20",
                  "type": "String"
                },
                "sink": {
                  "name": "ATTRIBUTE20",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "BLANKET_NUMBER",
                  "type": "Double"
                },
                "sink": {
                  "name": "BLANKET_NUMBER",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "SALES_DOCUMENT_TYPE_CODE",
                  "type": "String"
                },
                "sink": {
                  "name": "SALES_DOCUMENT_TYPE_CODE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "SOLD_TO_PHONE_ID",
                  "type": "Double"
                },
                "sink": {
                  "name": "SOLD_TO_PHONE_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "FULFILLMENT_SET_NAME",
                  "type": "String"
                },
                "sink": {
                  "name": "FULFILLMENT_SET_NAME",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "LINE_SET_NAME",
                  "type": "String"
                },
                "sink": {
                  "name": "LINE_SET_NAME",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "DEFAULT_FULFILLMENT_SET",
                  "type": "String"
                },
                "sink": {
                  "name": "DEFAULT_FULFILLMENT_SET",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "TRANSACTION_PHASE_CODE",
                  "type": "String"
                },
                "sink": {
                  "name": "TRANSACTION_PHASE_CODE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "SALES_DOCUMENT_NAME",
                  "type": "String"
                },
                "sink": {
                  "name": "SALES_DOCUMENT_NAME",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "QUOTE_NUMBER",
                  "type": "Double"
                },
                "sink": {
                  "name": "QUOTE_NUMBER",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "QUOTE_DATE",
                  "type": "DateTime"
                },
                "sink": {
                  "name": "QUOTE_DATE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "USER_STATUS_CODE",
                  "type": "String"
                },
                "sink": {
                  "name": "USER_STATUS_CODE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "DRAFT_SUBMITTED_FLAG",
                  "type": "String"
                },
                "sink": {
                  "name": "DRAFT_SUBMITTED_FLAG",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "SOURCE_DOCUMENT_VERSION_NUMBER",
                  "type": "Double"
                },
                "sink": {
                  "name": "SOURCE_DOCUMENT_VERSION_NUMBER",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "SOLD_TO_SITE_USE_ID",
                  "type": "Double"
                },
                "sink": {
                  "name": "SOLD_TO_SITE_USE_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "SUPPLIER_SIGNATURE",
                  "type": "String"
                },
                "sink": {
                  "name": "SUPPLIER_SIGNATURE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "SUPPLIER_SIGNATURE_DATE",
                  "type": "DateTime"
                },
                "sink": {
                  "name": "SUPPLIER_SIGNATURE_DATE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "CUSTOMER_SIGNATURE",
                  "type": "String"
                },
                "sink": {
                  "name": "CUSTOMER_SIGNATURE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "CUSTOMER_SIGNATURE_DATE",
                  "type": "DateTime"
                },
                "sink": {
                  "name": "CUSTOMER_SIGNATURE_DATE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "MINISITE_ID",
                  "type": "Double"
                },
                "sink": {
                  "name": "MINISITE_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "END_CUSTOMER_ID",
                  "type": "Double"
                },
                "sink": {
                  "name": "END_CUSTOMER_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "END_CUSTOMER_CONTACT_ID",
                  "type": "Double"
                },
                "sink": {
                  "name": "END_CUSTOMER_CONTACT_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "END_CUSTOMER_SITE_USE_ID",
                  "type": "Double"
                },
                "sink": {
                  "name": "END_CUSTOMER_SITE_USE_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "IB_OWNER",
                  "type": "String"
                },
                "sink": {
                  "name": "IB_OWNER",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "IB_CURRENT_LOCATION",
                  "type": "String"
                },
                "sink": {
                  "name": "IB_CURRENT_LOCATION",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "IB_INSTALLED_AT_LOCATION",
                  "type": "String"
                },
                "sink": {
                  "name": "IB_INSTALLED_AT_LOCATION",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ORDER_FIRMED_DATE",
                  "type": "DateTime"
                },
                "sink": {
                  "name": "ORDER_FIRMED_DATE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "INST_ID",
                  "type": "Double"
                },
                "sink": {
                  "name": "INST_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              }
            ],
            "typeConversion": true,
            "typeConversionSettings": {
              "allowDataTruncation": true,
              "treatBooleanAsNumber": false
            }
          }
        },
        "inputs": [
          {
            "referenceName": "BFG_ODB_OE_ORDER_HEADERS_ALL",
            "type": "DatasetReference"
          }
        ],
        "outputs": [
          {
            "referenceName": "ADLS_OE_ORDER_HEADERS_ALL",
            "type": "DatasetReference"
          }
        ]
      },
      {
        "name": "Copy OE_ORDER_LINES_ALL to ADLS",
        "type": "Copy",
        "dependsOn": [
          {
            "activity": "Copy OE_ORDER_HEADERS_ALL to ADLS",
            "dependencyConditions": ["Succeeded"]
          },
          {
            "activity": "Lookup SQL OE_ORDER_LINES_ALL Watermark",
            "dependencyConditions": ["Succeeded"]
          },
          {
            "activity": "Lookup ODB OE_ORDER_HEADER_LINES_ALL New Watermark",
            "dependencyConditions": ["Succeeded"]
          }
        ],
        "policy": {
          "timeout": "7.00:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "source": {
            "type": "OracleSource",
            "oracleReaderQuery": {
              "value": "select\t\t\t*\nfrom\t\t\t@{variables('ODB_OWNER_NAME')}.@{variables('Table_OE_ORDER_LINES_ALL')}\nwhere\t\t\tLAST_UPDATE_DATE >= '@{formatDateTime(subtractFromTime(activity('Lookup SQL OE_ORDER_LINES_ALL Watermark').output.FirstRow.WATERMARK_DATETIME, 1, 'Day'), 'dd/MMM/yy')}'",
              "type": "Expression"
            },
            "partitionOption": "None",
            "queryTimeout": "02:00:00"
          },
          "sink": {
            "type": "DelimitedTextSink",
            "storeSettings": {
              "type": "AzureBlobStorageWriteSettings",
              "metadata": [
                {
                  "name": "_M_TIMESTAMP",
                  "value": {
                    "value": "@utcnow()",
                    "type": "Expression"
                  }
                },
                {
                  "name": "_M_PIPELINE",
                  "value": {
                    "value": "@pipeline().Pipeline",
                    "type": "Expression"
                  }
                },
                {
                  "name": "_M_DATETIME",
                  "value": {
                    "value": "@formatDateTime(utcnow())",
                    "type": "Expression"
                  }
                }
              ]
            },
            "formatSettings": {
              "type": "DelimitedTextWriteSettings",
              "quoteAllText": true,
              "fileExtension": ".txt"
            }
          },
          "enableStaging": false,
          "translator": {
            "type": "TabularTranslator",
            "mappings": [
              {
                "source": {
                  "name": "LINE_ID",
                  "type": "Double"
                },
                "sink": {
                  "name": "LINE_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ORG_ID",
                  "type": "Double"
                },
                "sink": {
                  "name": "ORG_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "HEADER_ID",
                  "type": "Double"
                },
                "sink": {
                  "name": "HEADER_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "LINE_TYPE_ID",
                  "type": "Double"
                },
                "sink": {
                  "name": "LINE_TYPE_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "LINE_NUMBER",
                  "type": "Double"
                },
                "sink": {
                  "name": "LINE_NUMBER",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ORDERED_ITEM",
                  "type": "String"
                },
                "sink": {
                  "name": "ORDERED_ITEM",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "REQUEST_DATE",
                  "type": "DateTime"
                },
                "sink": {
                  "name": "REQUEST_DATE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "PROMISE_DATE",
                  "type": "DateTime"
                },
                "sink": {
                  "name": "PROMISE_DATE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "SCHEDULE_SHIP_DATE",
                  "type": "DateTime"
                },
                "sink": {
                  "name": "SCHEDULE_SHIP_DATE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ORDER_QUANTITY_UOM",
                  "type": "String"
                },
                "sink": {
                  "name": "ORDER_QUANTITY_UOM",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "PRICING_QUANTITY",
                  "type": "Double"
                },
                "sink": {
                  "name": "PRICING_QUANTITY",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "PRICING_QUANTITY_UOM",
                  "type": "String"
                },
                "sink": {
                  "name": "PRICING_QUANTITY_UOM",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "CANCELLED_QUANTITY",
                  "type": "Double"
                },
                "sink": {
                  "name": "CANCELLED_QUANTITY",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "SHIPPED_QUANTITY",
                  "type": "Double"
                },
                "sink": {
                  "name": "SHIPPED_QUANTITY",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ORDERED_QUANTITY",
                  "type": "Double"
                },
                "sink": {
                  "name": "ORDERED_QUANTITY",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "FULFILLED_QUANTITY",
                  "type": "Double"
                },
                "sink": {
                  "name": "FULFILLED_QUANTITY",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "SHIPPING_QUANTITY",
                  "type": "Double"
                },
                "sink": {
                  "name": "SHIPPING_QUANTITY",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "SHIPPING_QUANTITY_UOM",
                  "type": "String"
                },
                "sink": {
                  "name": "SHIPPING_QUANTITY_UOM",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "DELIVERY_LEAD_TIME",
                  "type": "Double"
                },
                "sink": {
                  "name": "DELIVERY_LEAD_TIME",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "TAX_EXEMPT_FLAG",
                  "type": "String"
                },
                "sink": {
                  "name": "TAX_EXEMPT_FLAG",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "TAX_EXEMPT_NUMBER",
                  "type": "String"
                },
                "sink": {
                  "name": "TAX_EXEMPT_NUMBER",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "TAX_EXEMPT_REASON_CODE",
                  "type": "String"
                },
                "sink": {
                  "name": "TAX_EXEMPT_REASON_CODE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "SHIP_FROM_ORG_ID",
                  "type": "Double"
                },
                "sink": {
                  "name": "SHIP_FROM_ORG_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "SHIP_TO_ORG_ID",
                  "type": "Double"
                },
                "sink": {
                  "name": "SHIP_TO_ORG_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "INVOICE_TO_ORG_ID",
                  "type": "Double"
                },
                "sink": {
                  "name": "INVOICE_TO_ORG_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "DELIVER_TO_ORG_ID",
                  "type": "Double"
                },
                "sink": {
                  "name": "DELIVER_TO_ORG_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "SHIP_TO_CONTACT_ID",
                  "type": "Double"
                },
                "sink": {
                  "name": "SHIP_TO_CONTACT_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "DELIVER_TO_CONTACT_ID",
                  "type": "Double"
                },
                "sink": {
                  "name": "DELIVER_TO_CONTACT_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "INVOICE_TO_CONTACT_ID",
                  "type": "Double"
                },
                "sink": {
                  "name": "INVOICE_TO_CONTACT_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "INTMED_SHIP_TO_ORG_ID",
                  "type": "Double"
                },
                "sink": {
                  "name": "INTMED_SHIP_TO_ORG_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "INTMED_SHIP_TO_CONTACT_ID",
                  "type": "Double"
                },
                "sink": {
                  "name": "INTMED_SHIP_TO_CONTACT_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "SOLD_FROM_ORG_ID",
                  "type": "Double"
                },
                "sink": {
                  "name": "SOLD_FROM_ORG_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "SOLD_TO_ORG_ID",
                  "type": "Double"
                },
                "sink": {
                  "name": "SOLD_TO_ORG_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "CUST_PO_NUMBER",
                  "type": "String"
                },
                "sink": {
                  "name": "CUST_PO_NUMBER",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "SHIP_TOLERANCE_ABOVE",
                  "type": "Double"
                },
                "sink": {
                  "name": "SHIP_TOLERANCE_ABOVE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "SHIP_TOLERANCE_BELOW",
                  "type": "Double"
                },
                "sink": {
                  "name": "SHIP_TOLERANCE_BELOW",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "DEMAND_BUCKET_TYPE_CODE",
                  "type": "String"
                },
                "sink": {
                  "name": "DEMAND_BUCKET_TYPE_CODE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "VEH_CUS_ITEM_CUM_KEY_ID",
                  "type": "Double"
                },
                "sink": {
                  "name": "VEH_CUS_ITEM_CUM_KEY_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "RLA_SCHEDULE_TYPE_CODE",
                  "type": "String"
                },
                "sink": {
                  "name": "RLA_SCHEDULE_TYPE_CODE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "CUSTOMER_DOCK_CODE",
                  "type": "String"
                },
                "sink": {
                  "name": "CUSTOMER_DOCK_CODE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "CUSTOMER_JOB",
                  "type": "String"
                },
                "sink": {
                  "name": "CUSTOMER_JOB",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "CUSTOMER_PRODUCTION_LINE",
                  "type": "String"
                },
                "sink": {
                  "name": "CUSTOMER_PRODUCTION_LINE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "CUST_MODEL_SERIAL_NUMBER",
                  "type": "String"
                },
                "sink": {
                  "name": "CUST_MODEL_SERIAL_NUMBER",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "PROJECT_ID",
                  "type": "Double"
                },
                "sink": {
                  "name": "PROJECT_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "TASK_ID",
                  "type": "Double"
                },
                "sink": {
                  "name": "TASK_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "INVENTORY_ITEM_ID",
                  "type": "Double"
                },
                "sink": {
                  "name": "INVENTORY_ITEM_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "TAX_DATE",
                  "type": "DateTime"
                },
                "sink": {
                  "name": "TAX_DATE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "TAX_CODE",
                  "type": "String"
                },
                "sink": {
                  "name": "TAX_CODE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "TAX_RATE",
                  "type": "Double"
                },
                "sink": {
                  "name": "TAX_RATE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "INVOICE_INTERFACE_STATUS_CODE",
                  "type": "String"
                },
                "sink": {
                  "name": "INVOICE_INTERFACE_STATUS_CODE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "DEMAND_CLASS_CODE",
                  "type": "String"
                },
                "sink": {
                  "name": "DEMAND_CLASS_CODE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "PRICE_LIST_ID",
                  "type": "Double"
                },
                "sink": {
                  "name": "PRICE_LIST_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "PRICING_DATE",
                  "type": "DateTime"
                },
                "sink": {
                  "name": "PRICING_DATE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "SHIPMENT_NUMBER",
                  "type": "Double"
                },
                "sink": {
                  "name": "SHIPMENT_NUMBER",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "AGREEMENT_ID",
                  "type": "Double"
                },
                "sink": {
                  "name": "AGREEMENT_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "SHIPMENT_PRIORITY_CODE",
                  "type": "String"
                },
                "sink": {
                  "name": "SHIPMENT_PRIORITY_CODE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "SHIPPING_METHOD_CODE",
                  "type": "String"
                },
                "sink": {
                  "name": "SHIPPING_METHOD_CODE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "FREIGHT_CARRIER_CODE",
                  "type": "String"
                },
                "sink": {
                  "name": "FREIGHT_CARRIER_CODE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "FREIGHT_TERMS_CODE",
                  "type": "String"
                },
                "sink": {
                  "name": "FREIGHT_TERMS_CODE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "FOB_POINT_CODE",
                  "type": "String"
                },
                "sink": {
                  "name": "FOB_POINT_CODE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "TAX_POINT_CODE",
                  "type": "String"
                },
                "sink": {
                  "name": "TAX_POINT_CODE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "PAYMENT_TERM_ID",
                  "type": "Decimal"
                },
                "sink": {
                  "name": "PAYMENT_TERM_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "INVOICING_RULE_ID",
                  "type": "Decimal"
                },
                "sink": {
                  "name": "INVOICING_RULE_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ACCOUNTING_RULE_ID",
                  "type": "Decimal"
                },
                "sink": {
                  "name": "ACCOUNTING_RULE_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "SOURCE_DOCUMENT_TYPE_ID",
                  "type": "Double"
                },
                "sink": {
                  "name": "SOURCE_DOCUMENT_TYPE_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ORIG_SYS_DOCUMENT_REF",
                  "type": "String"
                },
                "sink": {
                  "name": "ORIG_SYS_DOCUMENT_REF",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "SOURCE_DOCUMENT_ID",
                  "type": "Double"
                },
                "sink": {
                  "name": "SOURCE_DOCUMENT_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ORIG_SYS_LINE_REF",
                  "type": "String"
                },
                "sink": {
                  "name": "ORIG_SYS_LINE_REF",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "SOURCE_DOCUMENT_LINE_ID",
                  "type": "Double"
                },
                "sink": {
                  "name": "SOURCE_DOCUMENT_LINE_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "REFERENCE_LINE_ID",
                  "type": "Double"
                },
                "sink": {
                  "name": "REFERENCE_LINE_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "REFERENCE_TYPE",
                  "type": "String"
                },
                "sink": {
                  "name": "REFERENCE_TYPE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "REFERENCE_HEADER_ID",
                  "type": "Double"
                },
                "sink": {
                  "name": "REFERENCE_HEADER_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ITEM_REVISION",
                  "type": "String"
                },
                "sink": {
                  "name": "ITEM_REVISION",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "UNIT_SELLING_PRICE",
                  "type": "Double"
                },
                "sink": {
                  "name": "UNIT_SELLING_PRICE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "UNIT_LIST_PRICE",
                  "type": "Double"
                },
                "sink": {
                  "name": "UNIT_LIST_PRICE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "TAX_VALUE",
                  "type": "Double"
                },
                "sink": {
                  "name": "TAX_VALUE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "CONTEXT",
                  "type": "String"
                },
                "sink": {
                  "name": "CONTEXT",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ATTRIBUTE1",
                  "type": "String"
                },
                "sink": {
                  "name": "ATTRIBUTE1",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ATTRIBUTE2",
                  "type": "String"
                },
                "sink": {
                  "name": "ATTRIBUTE2",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ATTRIBUTE3",
                  "type": "String"
                },
                "sink": {
                  "name": "ATTRIBUTE3",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ATTRIBUTE4",
                  "type": "String"
                },
                "sink": {
                  "name": "ATTRIBUTE4",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ATTRIBUTE5",
                  "type": "String"
                },
                "sink": {
                  "name": "ATTRIBUTE5",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ATTRIBUTE6",
                  "type": "String"
                },
                "sink": {
                  "name": "ATTRIBUTE6",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ATTRIBUTE7",
                  "type": "String"
                },
                "sink": {
                  "name": "ATTRIBUTE7",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ATTRIBUTE8",
                  "type": "String"
                },
                "sink": {
                  "name": "ATTRIBUTE8",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ATTRIBUTE9",
                  "type": "String"
                },
                "sink": {
                  "name": "ATTRIBUTE9",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ATTRIBUTE10",
                  "type": "String"
                },
                "sink": {
                  "name": "ATTRIBUTE10",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ATTRIBUTE11",
                  "type": "String"
                },
                "sink": {
                  "name": "ATTRIBUTE11",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ATTRIBUTE12",
                  "type": "String"
                },
                "sink": {
                  "name": "ATTRIBUTE12",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ATTRIBUTE13",
                  "type": "String"
                },
                "sink": {
                  "name": "ATTRIBUTE13",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ATTRIBUTE14",
                  "type": "String"
                },
                "sink": {
                  "name": "ATTRIBUTE14",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ATTRIBUTE15",
                  "type": "String"
                },
                "sink": {
                  "name": "ATTRIBUTE15",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "GLOBAL_ATTRIBUTE_CATEGORY",
                  "type": "String"
                },
                "sink": {
                  "name": "GLOBAL_ATTRIBUTE_CATEGORY",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "GLOBAL_ATTRIBUTE1",
                  "type": "String"
                },
                "sink": {
                  "name": "GLOBAL_ATTRIBUTE1",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "GLOBAL_ATTRIBUTE2",
                  "type": "String"
                },
                "sink": {
                  "name": "GLOBAL_ATTRIBUTE2",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "GLOBAL_ATTRIBUTE3",
                  "type": "String"
                },
                "sink": {
                  "name": "GLOBAL_ATTRIBUTE3",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "GLOBAL_ATTRIBUTE4",
                  "type": "String"
                },
                "sink": {
                  "name": "GLOBAL_ATTRIBUTE4",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "GLOBAL_ATTRIBUTE5",
                  "type": "String"
                },
                "sink": {
                  "name": "GLOBAL_ATTRIBUTE5",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "GLOBAL_ATTRIBUTE6",
                  "type": "String"
                },
                "sink": {
                  "name": "GLOBAL_ATTRIBUTE6",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "GLOBAL_ATTRIBUTE7",
                  "type": "String"
                },
                "sink": {
                  "name": "GLOBAL_ATTRIBUTE7",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "GLOBAL_ATTRIBUTE8",
                  "type": "String"
                },
                "sink": {
                  "name": "GLOBAL_ATTRIBUTE8",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "GLOBAL_ATTRIBUTE9",
                  "type": "String"
                },
                "sink": {
                  "name": "GLOBAL_ATTRIBUTE9",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "GLOBAL_ATTRIBUTE10",
                  "type": "String"
                },
                "sink": {
                  "name": "GLOBAL_ATTRIBUTE10",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "GLOBAL_ATTRIBUTE11",
                  "type": "String"
                },
                "sink": {
                  "name": "GLOBAL_ATTRIBUTE11",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "GLOBAL_ATTRIBUTE12",
                  "type": "String"
                },
                "sink": {
                  "name": "GLOBAL_ATTRIBUTE12",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "GLOBAL_ATTRIBUTE13",
                  "type": "String"
                },
                "sink": {
                  "name": "GLOBAL_ATTRIBUTE13",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "GLOBAL_ATTRIBUTE14",
                  "type": "String"
                },
                "sink": {
                  "name": "GLOBAL_ATTRIBUTE14",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "GLOBAL_ATTRIBUTE15",
                  "type": "String"
                },
                "sink": {
                  "name": "GLOBAL_ATTRIBUTE15",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "GLOBAL_ATTRIBUTE16",
                  "type": "String"
                },
                "sink": {
                  "name": "GLOBAL_ATTRIBUTE16",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "GLOBAL_ATTRIBUTE17",
                  "type": "String"
                },
                "sink": {
                  "name": "GLOBAL_ATTRIBUTE17",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "GLOBAL_ATTRIBUTE18",
                  "type": "String"
                },
                "sink": {
                  "name": "GLOBAL_ATTRIBUTE18",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "GLOBAL_ATTRIBUTE19",
                  "type": "String"
                },
                "sink": {
                  "name": "GLOBAL_ATTRIBUTE19",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "GLOBAL_ATTRIBUTE20",
                  "type": "String"
                },
                "sink": {
                  "name": "GLOBAL_ATTRIBUTE20",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "PRICING_CONTEXT",
                  "type": "String"
                },
                "sink": {
                  "name": "PRICING_CONTEXT",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "PRICING_ATTRIBUTE1",
                  "type": "String"
                },
                "sink": {
                  "name": "PRICING_ATTRIBUTE1",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "PRICING_ATTRIBUTE2",
                  "type": "String"
                },
                "sink": {
                  "name": "PRICING_ATTRIBUTE2",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "PRICING_ATTRIBUTE3",
                  "type": "String"
                },
                "sink": {
                  "name": "PRICING_ATTRIBUTE3",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "PRICING_ATTRIBUTE4",
                  "type": "String"
                },
                "sink": {
                  "name": "PRICING_ATTRIBUTE4",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "PRICING_ATTRIBUTE5",
                  "type": "String"
                },
                "sink": {
                  "name": "PRICING_ATTRIBUTE5",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "PRICING_ATTRIBUTE6",
                  "type": "String"
                },
                "sink": {
                  "name": "PRICING_ATTRIBUTE6",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "PRICING_ATTRIBUTE7",
                  "type": "String"
                },
                "sink": {
                  "name": "PRICING_ATTRIBUTE7",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "PRICING_ATTRIBUTE8",
                  "type": "String"
                },
                "sink": {
                  "name": "PRICING_ATTRIBUTE8",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "PRICING_ATTRIBUTE9",
                  "type": "String"
                },
                "sink": {
                  "name": "PRICING_ATTRIBUTE9",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "PRICING_ATTRIBUTE10",
                  "type": "String"
                },
                "sink": {
                  "name": "PRICING_ATTRIBUTE10",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "INDUSTRY_CONTEXT",
                  "type": "String"
                },
                "sink": {
                  "name": "INDUSTRY_CONTEXT",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "INDUSTRY_ATTRIBUTE1",
                  "type": "String"
                },
                "sink": {
                  "name": "INDUSTRY_ATTRIBUTE1",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "INDUSTRY_ATTRIBUTE2",
                  "type": "String"
                },
                "sink": {
                  "name": "INDUSTRY_ATTRIBUTE2",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "INDUSTRY_ATTRIBUTE3",
                  "type": "String"
                },
                "sink": {
                  "name": "INDUSTRY_ATTRIBUTE3",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "INDUSTRY_ATTRIBUTE4",
                  "type": "String"
                },
                "sink": {
                  "name": "INDUSTRY_ATTRIBUTE4",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "INDUSTRY_ATTRIBUTE5",
                  "type": "String"
                },
                "sink": {
                  "name": "INDUSTRY_ATTRIBUTE5",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "INDUSTRY_ATTRIBUTE6",
                  "type": "String"
                },
                "sink": {
                  "name": "INDUSTRY_ATTRIBUTE6",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "INDUSTRY_ATTRIBUTE7",
                  "type": "String"
                },
                "sink": {
                  "name": "INDUSTRY_ATTRIBUTE7",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "INDUSTRY_ATTRIBUTE8",
                  "type": "String"
                },
                "sink": {
                  "name": "INDUSTRY_ATTRIBUTE8",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "INDUSTRY_ATTRIBUTE9",
                  "type": "String"
                },
                "sink": {
                  "name": "INDUSTRY_ATTRIBUTE9",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "INDUSTRY_ATTRIBUTE10",
                  "type": "String"
                },
                "sink": {
                  "name": "INDUSTRY_ATTRIBUTE10",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "INDUSTRY_ATTRIBUTE11",
                  "type": "String"
                },
                "sink": {
                  "name": "INDUSTRY_ATTRIBUTE11",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "INDUSTRY_ATTRIBUTE13",
                  "type": "String"
                },
                "sink": {
                  "name": "INDUSTRY_ATTRIBUTE13",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "INDUSTRY_ATTRIBUTE12",
                  "type": "String"
                },
                "sink": {
                  "name": "INDUSTRY_ATTRIBUTE12",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "INDUSTRY_ATTRIBUTE14",
                  "type": "String"
                },
                "sink": {
                  "name": "INDUSTRY_ATTRIBUTE14",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "INDUSTRY_ATTRIBUTE15",
                  "type": "String"
                },
                "sink": {
                  "name": "INDUSTRY_ATTRIBUTE15",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "INDUSTRY_ATTRIBUTE16",
                  "type": "String"
                },
                "sink": {
                  "name": "INDUSTRY_ATTRIBUTE16",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "INDUSTRY_ATTRIBUTE17",
                  "type": "String"
                },
                "sink": {
                  "name": "INDUSTRY_ATTRIBUTE17",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "INDUSTRY_ATTRIBUTE18",
                  "type": "String"
                },
                "sink": {
                  "name": "INDUSTRY_ATTRIBUTE18",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "INDUSTRY_ATTRIBUTE19",
                  "type": "String"
                },
                "sink": {
                  "name": "INDUSTRY_ATTRIBUTE19",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "INDUSTRY_ATTRIBUTE20",
                  "type": "String"
                },
                "sink": {
                  "name": "INDUSTRY_ATTRIBUTE20",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "INDUSTRY_ATTRIBUTE21",
                  "type": "String"
                },
                "sink": {
                  "name": "INDUSTRY_ATTRIBUTE21",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "INDUSTRY_ATTRIBUTE22",
                  "type": "String"
                },
                "sink": {
                  "name": "INDUSTRY_ATTRIBUTE22",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "INDUSTRY_ATTRIBUTE23",
                  "type": "String"
                },
                "sink": {
                  "name": "INDUSTRY_ATTRIBUTE23",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "INDUSTRY_ATTRIBUTE24",
                  "type": "String"
                },
                "sink": {
                  "name": "INDUSTRY_ATTRIBUTE24",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "INDUSTRY_ATTRIBUTE25",
                  "type": "String"
                },
                "sink": {
                  "name": "INDUSTRY_ATTRIBUTE25",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "INDUSTRY_ATTRIBUTE26",
                  "type": "String"
                },
                "sink": {
                  "name": "INDUSTRY_ATTRIBUTE26",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "INDUSTRY_ATTRIBUTE27",
                  "type": "String"
                },
                "sink": {
                  "name": "INDUSTRY_ATTRIBUTE27",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "INDUSTRY_ATTRIBUTE28",
                  "type": "String"
                },
                "sink": {
                  "name": "INDUSTRY_ATTRIBUTE28",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "INDUSTRY_ATTRIBUTE29",
                  "type": "String"
                },
                "sink": {
                  "name": "INDUSTRY_ATTRIBUTE29",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "INDUSTRY_ATTRIBUTE30",
                  "type": "String"
                },
                "sink": {
                  "name": "INDUSTRY_ATTRIBUTE30",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "CREATION_DATE",
                  "type": "DateTime"
                },
                "sink": {
                  "name": "CREATION_DATE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "CREATED_BY",
                  "type": "Double"
                },
                "sink": {
                  "name": "CREATED_BY",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "LAST_UPDATE_DATE",
                  "type": "DateTime"
                },
                "sink": {
                  "name": "LAST_UPDATE_DATE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "LAST_UPDATED_BY",
                  "type": "Double"
                },
                "sink": {
                  "name": "LAST_UPDATED_BY",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "LAST_UPDATE_LOGIN",
                  "type": "Double"
                },
                "sink": {
                  "name": "LAST_UPDATE_LOGIN",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "PROGRAM_APPLICATION_ID",
                  "type": "Double"
                },
                "sink": {
                  "name": "PROGRAM_APPLICATION_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "PROGRAM_ID",
                  "type": "Double"
                },
                "sink": {
                  "name": "PROGRAM_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "PROGRAM_UPDATE_DATE",
                  "type": "DateTime"
                },
                "sink": {
                  "name": "PROGRAM_UPDATE_DATE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "REQUEST_ID",
                  "type": "Double"
                },
                "sink": {
                  "name": "REQUEST_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "TOP_MODEL_LINE_ID",
                  "type": "Double"
                },
                "sink": {
                  "name": "TOP_MODEL_LINE_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "LINK_TO_LINE_ID",
                  "type": "Double"
                },
                "sink": {
                  "name": "LINK_TO_LINE_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "COMPONENT_SEQUENCE_ID",
                  "type": "Double"
                },
                "sink": {
                  "name": "COMPONENT_SEQUENCE_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "COMPONENT_CODE",
                  "type": "String"
                },
                "sink": {
                  "name": "COMPONENT_CODE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "CONFIG_DISPLAY_SEQUENCE",
                  "type": "Double"
                },
                "sink": {
                  "name": "CONFIG_DISPLAY_SEQUENCE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "SORT_ORDER",
                  "type": "String"
                },
                "sink": {
                  "name": "SORT_ORDER",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ITEM_TYPE_CODE",
                  "type": "String"
                },
                "sink": {
                  "name": "ITEM_TYPE_CODE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "OPTION_NUMBER",
                  "type": "Double"
                },
                "sink": {
                  "name": "OPTION_NUMBER",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "OPTION_FLAG",
                  "type": "String"
                },
                "sink": {
                  "name": "OPTION_FLAG",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "DEP_PLAN_REQUIRED_FLAG",
                  "type": "String"
                },
                "sink": {
                  "name": "DEP_PLAN_REQUIRED_FLAG",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "VISIBLE_DEMAND_FLAG",
                  "type": "String"
                },
                "sink": {
                  "name": "VISIBLE_DEMAND_FLAG",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "LINE_CATEGORY_CODE",
                  "type": "String"
                },
                "sink": {
                  "name": "LINE_CATEGORY_CODE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ACTUAL_SHIPMENT_DATE",
                  "type": "DateTime"
                },
                "sink": {
                  "name": "ACTUAL_SHIPMENT_DATE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "CUSTOMER_TRX_LINE_ID",
                  "type": "Double"
                },
                "sink": {
                  "name": "CUSTOMER_TRX_LINE_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "RETURN_CONTEXT",
                  "type": "String"
                },
                "sink": {
                  "name": "RETURN_CONTEXT",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "RETURN_ATTRIBUTE1",
                  "type": "String"
                },
                "sink": {
                  "name": "RETURN_ATTRIBUTE1",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "RETURN_ATTRIBUTE2",
                  "type": "String"
                },
                "sink": {
                  "name": "RETURN_ATTRIBUTE2",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "RETURN_ATTRIBUTE3",
                  "type": "String"
                },
                "sink": {
                  "name": "RETURN_ATTRIBUTE3",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "RETURN_ATTRIBUTE4",
                  "type": "String"
                },
                "sink": {
                  "name": "RETURN_ATTRIBUTE4",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "RETURN_ATTRIBUTE5",
                  "type": "String"
                },
                "sink": {
                  "name": "RETURN_ATTRIBUTE5",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "RETURN_ATTRIBUTE6",
                  "type": "String"
                },
                "sink": {
                  "name": "RETURN_ATTRIBUTE6",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "RETURN_ATTRIBUTE7",
                  "type": "String"
                },
                "sink": {
                  "name": "RETURN_ATTRIBUTE7",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "RETURN_ATTRIBUTE8",
                  "type": "String"
                },
                "sink": {
                  "name": "RETURN_ATTRIBUTE8",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "RETURN_ATTRIBUTE9",
                  "type": "String"
                },
                "sink": {
                  "name": "RETURN_ATTRIBUTE9",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "RETURN_ATTRIBUTE10",
                  "type": "String"
                },
                "sink": {
                  "name": "RETURN_ATTRIBUTE10",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "RETURN_ATTRIBUTE11",
                  "type": "String"
                },
                "sink": {
                  "name": "RETURN_ATTRIBUTE11",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "RETURN_ATTRIBUTE12",
                  "type": "String"
                },
                "sink": {
                  "name": "RETURN_ATTRIBUTE12",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "RETURN_ATTRIBUTE13",
                  "type": "String"
                },
                "sink": {
                  "name": "RETURN_ATTRIBUTE13",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "RETURN_ATTRIBUTE14",
                  "type": "String"
                },
                "sink": {
                  "name": "RETURN_ATTRIBUTE14",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "RETURN_ATTRIBUTE15",
                  "type": "String"
                },
                "sink": {
                  "name": "RETURN_ATTRIBUTE15",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ACTUAL_ARRIVAL_DATE",
                  "type": "DateTime"
                },
                "sink": {
                  "name": "ACTUAL_ARRIVAL_DATE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ATO_LINE_ID",
                  "type": "Double"
                },
                "sink": {
                  "name": "ATO_LINE_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "AUTO_SELECTED_QUANTITY",
                  "type": "Double"
                },
                "sink": {
                  "name": "AUTO_SELECTED_QUANTITY",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "COMPONENT_NUMBER",
                  "type": "Double"
                },
                "sink": {
                  "name": "COMPONENT_NUMBER",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "EARLIEST_ACCEPTABLE_DATE",
                  "type": "DateTime"
                },
                "sink": {
                  "name": "EARLIEST_ACCEPTABLE_DATE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "EXPLOSION_DATE",
                  "type": "DateTime"
                },
                "sink": {
                  "name": "EXPLOSION_DATE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "LATEST_ACCEPTABLE_DATE",
                  "type": "DateTime"
                },
                "sink": {
                  "name": "LATEST_ACCEPTABLE_DATE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "MODEL_GROUP_NUMBER",
                  "type": "Double"
                },
                "sink": {
                  "name": "MODEL_GROUP_NUMBER",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "SCHEDULE_ARRIVAL_DATE",
                  "type": "DateTime"
                },
                "sink": {
                  "name": "SCHEDULE_ARRIVAL_DATE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "SHIP_MODEL_COMPLETE_FLAG",
                  "type": "String"
                },
                "sink": {
                  "name": "SHIP_MODEL_COMPLETE_FLAG",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "SCHEDULE_STATUS_CODE",
                  "type": "String"
                },
                "sink": {
                  "name": "SCHEDULE_STATUS_CODE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "SOURCE_TYPE_CODE",
                  "type": "String"
                },
                "sink": {
                  "name": "SOURCE_TYPE_CODE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "CANCELLED_FLAG",
                  "type": "String"
                },
                "sink": {
                  "name": "CANCELLED_FLAG",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "OPEN_FLAG",
                  "type": "String"
                },
                "sink": {
                  "name": "OPEN_FLAG",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "BOOKED_FLAG",
                  "type": "String"
                },
                "sink": {
                  "name": "BOOKED_FLAG",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "SALESREP_ID",
                  "type": "Decimal"
                },
                "sink": {
                  "name": "SALESREP_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "RETURN_REASON_CODE",
                  "type": "String"
                },
                "sink": {
                  "name": "RETURN_REASON_CODE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ARRIVAL_SET_ID",
                  "type": "Double"
                },
                "sink": {
                  "name": "ARRIVAL_SET_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "SHIP_SET_ID",
                  "type": "Double"
                },
                "sink": {
                  "name": "SHIP_SET_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "SPLIT_FROM_LINE_ID",
                  "type": "Double"
                },
                "sink": {
                  "name": "SPLIT_FROM_LINE_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "CUST_PRODUCTION_SEQ_NUM",
                  "type": "String"
                },
                "sink": {
                  "name": "CUST_PRODUCTION_SEQ_NUM",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "AUTHORIZED_TO_SHIP_FLAG",
                  "type": "String"
                },
                "sink": {
                  "name": "AUTHORIZED_TO_SHIP_FLAG",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "OVER_SHIP_REASON_CODE",
                  "type": "String"
                },
                "sink": {
                  "name": "OVER_SHIP_REASON_CODE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "OVER_SHIP_RESOLVED_FLAG",
                  "type": "String"
                },
                "sink": {
                  "name": "OVER_SHIP_RESOLVED_FLAG",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ORDERED_ITEM_ID",
                  "type": "Double"
                },
                "sink": {
                  "name": "ORDERED_ITEM_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ITEM_IDENTIFIER_TYPE",
                  "type": "String"
                },
                "sink": {
                  "name": "ITEM_IDENTIFIER_TYPE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "CONFIGURATION_ID",
                  "type": "Double"
                },
                "sink": {
                  "name": "CONFIGURATION_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "COMMITMENT_ID",
                  "type": "Double"
                },
                "sink": {
                  "name": "COMMITMENT_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "SHIPPING_INTERFACED_FLAG",
                  "type": "String"
                },
                "sink": {
                  "name": "SHIPPING_INTERFACED_FLAG",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "CREDIT_INVOICE_LINE_ID",
                  "type": "Double"
                },
                "sink": {
                  "name": "CREDIT_INVOICE_LINE_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "FIRST_ACK_CODE",
                  "type": "String"
                },
                "sink": {
                  "name": "FIRST_ACK_CODE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "FIRST_ACK_DATE",
                  "type": "DateTime"
                },
                "sink": {
                  "name": "FIRST_ACK_DATE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "LAST_ACK_CODE",
                  "type": "String"
                },
                "sink": {
                  "name": "LAST_ACK_CODE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "LAST_ACK_DATE",
                  "type": "DateTime"
                },
                "sink": {
                  "name": "LAST_ACK_DATE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "PLANNING_PRIORITY",
                  "type": "Double"
                },
                "sink": {
                  "name": "PLANNING_PRIORITY",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ORDER_SOURCE_ID",
                  "type": "Double"
                },
                "sink": {
                  "name": "ORDER_SOURCE_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ORIG_SYS_SHIPMENT_REF",
                  "type": "String"
                },
                "sink": {
                  "name": "ORIG_SYS_SHIPMENT_REF",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "CHANGE_SEQUENCE",
                  "type": "String"
                },
                "sink": {
                  "name": "CHANGE_SEQUENCE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "DROP_SHIP_FLAG",
                  "type": "String"
                },
                "sink": {
                  "name": "DROP_SHIP_FLAG",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "CUSTOMER_LINE_NUMBER",
                  "type": "String"
                },
                "sink": {
                  "name": "CUSTOMER_LINE_NUMBER",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "CUSTOMER_SHIPMENT_NUMBER",
                  "type": "String"
                },
                "sink": {
                  "name": "CUSTOMER_SHIPMENT_NUMBER",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "CUSTOMER_ITEM_NET_PRICE",
                  "type": "Double"
                },
                "sink": {
                  "name": "CUSTOMER_ITEM_NET_PRICE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "CUSTOMER_PAYMENT_TERM_ID",
                  "type": "Double"
                },
                "sink": {
                  "name": "CUSTOMER_PAYMENT_TERM_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "FULFILLED_FLAG",
                  "type": "String"
                },
                "sink": {
                  "name": "FULFILLED_FLAG",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "END_ITEM_UNIT_NUMBER",
                  "type": "String"
                },
                "sink": {
                  "name": "END_ITEM_UNIT_NUMBER",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "CONFIG_HEADER_ID",
                  "type": "Double"
                },
                "sink": {
                  "name": "CONFIG_HEADER_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "CONFIG_REV_NBR",
                  "type": "Double"
                },
                "sink": {
                  "name": "CONFIG_REV_NBR",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "MFG_COMPONENT_SEQUENCE_ID",
                  "type": "Double"
                },
                "sink": {
                  "name": "MFG_COMPONENT_SEQUENCE_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "SHIPPING_INSTRUCTIONS",
                  "type": "String"
                },
                "sink": {
                  "name": "SHIPPING_INSTRUCTIONS",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "PACKING_INSTRUCTIONS",
                  "type": "String"
                },
                "sink": {
                  "name": "PACKING_INSTRUCTIONS",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "INVOICED_QUANTITY",
                  "type": "Double"
                },
                "sink": {
                  "name": "INVOICED_QUANTITY",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "REFERENCE_CUSTOMER_TRX_LINE_ID",
                  "type": "Double"
                },
                "sink": {
                  "name": "REFERENCE_CUSTOMER_TRX_LINE_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "SPLIT_BY",
                  "type": "String"
                },
                "sink": {
                  "name": "SPLIT_BY",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "LINE_SET_ID",
                  "type": "Double"
                },
                "sink": {
                  "name": "LINE_SET_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "SERVICE_TXN_REASON_CODE",
                  "type": "String"
                },
                "sink": {
                  "name": "SERVICE_TXN_REASON_CODE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "SERVICE_TXN_COMMENTS",
                  "type": "String"
                },
                "sink": {
                  "name": "SERVICE_TXN_COMMENTS",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "SERVICE_DURATION",
                  "type": "Double"
                },
                "sink": {
                  "name": "SERVICE_DURATION",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "SERVICE_START_DATE",
                  "type": "DateTime"
                },
                "sink": {
                  "name": "SERVICE_START_DATE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "SERVICE_END_DATE",
                  "type": "DateTime"
                },
                "sink": {
                  "name": "SERVICE_END_DATE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "SERVICE_COTERMINATE_FLAG",
                  "type": "String"
                },
                "sink": {
                  "name": "SERVICE_COTERMINATE_FLAG",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "UNIT_LIST_PERCENT",
                  "type": "Double"
                },
                "sink": {
                  "name": "UNIT_LIST_PERCENT",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "UNIT_SELLING_PERCENT",
                  "type": "Double"
                },
                "sink": {
                  "name": "UNIT_SELLING_PERCENT",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "UNIT_PERCENT_BASE_PRICE",
                  "type": "Double"
                },
                "sink": {
                  "name": "UNIT_PERCENT_BASE_PRICE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "SERVICE_NUMBER",
                  "type": "Double"
                },
                "sink": {
                  "name": "SERVICE_NUMBER",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "SERVICE_PERIOD",
                  "type": "String"
                },
                "sink": {
                  "name": "SERVICE_PERIOD",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "SHIPPABLE_FLAG",
                  "type": "String"
                },
                "sink": {
                  "name": "SHIPPABLE_FLAG",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "MODEL_REMNANT_FLAG",
                  "type": "String"
                },
                "sink": {
                  "name": "MODEL_REMNANT_FLAG",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "RE_SOURCE_FLAG",
                  "type": "String"
                },
                "sink": {
                  "name": "RE_SOURCE_FLAG",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "FLOW_STATUS_CODE",
                  "type": "String"
                },
                "sink": {
                  "name": "FLOW_STATUS_CODE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "TP_CONTEXT",
                  "type": "String"
                },
                "sink": {
                  "name": "TP_CONTEXT",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "TP_ATTRIBUTE1",
                  "type": "String"
                },
                "sink": {
                  "name": "TP_ATTRIBUTE1",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "TP_ATTRIBUTE2",
                  "type": "String"
                },
                "sink": {
                  "name": "TP_ATTRIBUTE2",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "TP_ATTRIBUTE3",
                  "type": "String"
                },
                "sink": {
                  "name": "TP_ATTRIBUTE3",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "TP_ATTRIBUTE4",
                  "type": "String"
                },
                "sink": {
                  "name": "TP_ATTRIBUTE4",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "TP_ATTRIBUTE5",
                  "type": "String"
                },
                "sink": {
                  "name": "TP_ATTRIBUTE5",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "TP_ATTRIBUTE6",
                  "type": "String"
                },
                "sink": {
                  "name": "TP_ATTRIBUTE6",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "TP_ATTRIBUTE7",
                  "type": "String"
                },
                "sink": {
                  "name": "TP_ATTRIBUTE7",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "TP_ATTRIBUTE8",
                  "type": "String"
                },
                "sink": {
                  "name": "TP_ATTRIBUTE8",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "TP_ATTRIBUTE9",
                  "type": "String"
                },
                "sink": {
                  "name": "TP_ATTRIBUTE9",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "TP_ATTRIBUTE10",
                  "type": "String"
                },
                "sink": {
                  "name": "TP_ATTRIBUTE10",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "TP_ATTRIBUTE11",
                  "type": "String"
                },
                "sink": {
                  "name": "TP_ATTRIBUTE11",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "TP_ATTRIBUTE12",
                  "type": "String"
                },
                "sink": {
                  "name": "TP_ATTRIBUTE12",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "TP_ATTRIBUTE13",
                  "type": "String"
                },
                "sink": {
                  "name": "TP_ATTRIBUTE13",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "TP_ATTRIBUTE14",
                  "type": "String"
                },
                "sink": {
                  "name": "TP_ATTRIBUTE14",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "TP_ATTRIBUTE15",
                  "type": "String"
                },
                "sink": {
                  "name": "TP_ATTRIBUTE15",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "FULFILLMENT_METHOD_CODE",
                  "type": "String"
                },
                "sink": {
                  "name": "FULFILLMENT_METHOD_CODE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "MARKETING_SOURCE_CODE_ID",
                  "type": "Double"
                },
                "sink": {
                  "name": "MARKETING_SOURCE_CODE_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "SERVICE_REFERENCE_TYPE_CODE",
                  "type": "String"
                },
                "sink": {
                  "name": "SERVICE_REFERENCE_TYPE_CODE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "SERVICE_REFERENCE_LINE_ID",
                  "type": "Double"
                },
                "sink": {
                  "name": "SERVICE_REFERENCE_LINE_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "SERVICE_REFERENCE_SYSTEM_ID",
                  "type": "Double"
                },
                "sink": {
                  "name": "SERVICE_REFERENCE_SYSTEM_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "CALCULATE_PRICE_FLAG",
                  "type": "String"
                },
                "sink": {
                  "name": "CALCULATE_PRICE_FLAG",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "UPGRADED_FLAG",
                  "type": "String"
                },
                "sink": {
                  "name": "UPGRADED_FLAG",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "REVENUE_AMOUNT",
                  "type": "Double"
                },
                "sink": {
                  "name": "REVENUE_AMOUNT",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "FULFILLMENT_DATE",
                  "type": "DateTime"
                },
                "sink": {
                  "name": "FULFILLMENT_DATE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "PREFERRED_GRADE",
                  "type": "String"
                },
                "sink": {
                  "name": "PREFERRED_GRADE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ORDERED_QUANTITY2",
                  "type": "Double"
                },
                "sink": {
                  "name": "ORDERED_QUANTITY2",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ORDERED_QUANTITY_UOM2",
                  "type": "String"
                },
                "sink": {
                  "name": "ORDERED_QUANTITY_UOM2",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "SHIPPING_QUANTITY2",
                  "type": "Double"
                },
                "sink": {
                  "name": "SHIPPING_QUANTITY2",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "CANCELLED_QUANTITY2",
                  "type": "Double"
                },
                "sink": {
                  "name": "CANCELLED_QUANTITY2",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "SHIPPED_QUANTITY2",
                  "type": "Double"
                },
                "sink": {
                  "name": "SHIPPED_QUANTITY2",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "SHIPPING_QUANTITY_UOM2",
                  "type": "String"
                },
                "sink": {
                  "name": "SHIPPING_QUANTITY_UOM2",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "FULFILLED_QUANTITY2",
                  "type": "Double"
                },
                "sink": {
                  "name": "FULFILLED_QUANTITY2",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "MFG_LEAD_TIME",
                  "type": "Double"
                },
                "sink": {
                  "name": "MFG_LEAD_TIME",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "LOCK_CONTROL",
                  "type": "Double"
                },
                "sink": {
                  "name": "LOCK_CONTROL",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "SUBINVENTORY",
                  "type": "String"
                },
                "sink": {
                  "name": "SUBINVENTORY",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "UNIT_LIST_PRICE_PER_PQTY",
                  "type": "Double"
                },
                "sink": {
                  "name": "UNIT_LIST_PRICE_PER_PQTY",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "UNIT_SELLING_PRICE_PER_PQTY",
                  "type": "Double"
                },
                "sink": {
                  "name": "UNIT_SELLING_PRICE_PER_PQTY",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "PRICE_REQUEST_CODE",
                  "type": "String"
                },
                "sink": {
                  "name": "PRICE_REQUEST_CODE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ORIGINAL_INVENTORY_ITEM_ID",
                  "type": "Double"
                },
                "sink": {
                  "name": "ORIGINAL_INVENTORY_ITEM_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ORIGINAL_ORDERED_ITEM_ID",
                  "type": "Double"
                },
                "sink": {
                  "name": "ORIGINAL_ORDERED_ITEM_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ORIGINAL_ORDERED_ITEM",
                  "type": "String"
                },
                "sink": {
                  "name": "ORIGINAL_ORDERED_ITEM",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ORIGINAL_ITEM_IDENTIFIER_TYPE",
                  "type": "String"
                },
                "sink": {
                  "name": "ORIGINAL_ITEM_IDENTIFIER_TYPE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ITEM_SUBSTITUTION_TYPE_CODE",
                  "type": "String"
                },
                "sink": {
                  "name": "ITEM_SUBSTITUTION_TYPE_CODE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "OVERRIDE_ATP_DATE_CODE",
                  "type": "String"
                },
                "sink": {
                  "name": "OVERRIDE_ATP_DATE_CODE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "LATE_DEMAND_PENALTY_FACTOR",
                  "type": "Double"
                },
                "sink": {
                  "name": "LATE_DEMAND_PENALTY_FACTOR",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ACCOUNTING_RULE_DURATION",
                  "type": "Decimal"
                },
                "sink": {
                  "name": "ACCOUNTING_RULE_DURATION",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ATTRIBUTE16",
                  "type": "String"
                },
                "sink": {
                  "name": "ATTRIBUTE16",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ATTRIBUTE17",
                  "type": "String"
                },
                "sink": {
                  "name": "ATTRIBUTE17",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ATTRIBUTE18",
                  "type": "String"
                },
                "sink": {
                  "name": "ATTRIBUTE18",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ATTRIBUTE19",
                  "type": "String"
                },
                "sink": {
                  "name": "ATTRIBUTE19",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ATTRIBUTE20",
                  "type": "String"
                },
                "sink": {
                  "name": "ATTRIBUTE20",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "USER_ITEM_DESCRIPTION",
                  "type": "String"
                },
                "sink": {
                  "name": "USER_ITEM_DESCRIPTION",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "UNIT_COST",
                  "type": "Double"
                },
                "sink": {
                  "name": "UNIT_COST",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ITEM_RELATIONSHIP_TYPE",
                  "type": "Double"
                },
                "sink": {
                  "name": "ITEM_RELATIONSHIP_TYPE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "BLANKET_LINE_NUMBER",
                  "type": "Double"
                },
                "sink": {
                  "name": "BLANKET_LINE_NUMBER",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "BLANKET_NUMBER",
                  "type": "Double"
                },
                "sink": {
                  "name": "BLANKET_NUMBER",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "BLANKET_VERSION_NUMBER",
                  "type": "Double"
                },
                "sink": {
                  "name": "BLANKET_VERSION_NUMBER",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "SALES_DOCUMENT_TYPE_CODE",
                  "type": "String"
                },
                "sink": {
                  "name": "SALES_DOCUMENT_TYPE_CODE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "FIRM_DEMAND_FLAG",
                  "type": "String"
                },
                "sink": {
                  "name": "FIRM_DEMAND_FLAG",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "EARLIEST_SHIP_DATE",
                  "type": "DateTime"
                },
                "sink": {
                  "name": "EARLIEST_SHIP_DATE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "TRANSACTION_PHASE_CODE",
                  "type": "String"
                },
                "sink": {
                  "name": "TRANSACTION_PHASE_CODE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "SOURCE_DOCUMENT_VERSION_NUMBER",
                  "type": "Double"
                },
                "sink": {
                  "name": "SOURCE_DOCUMENT_VERSION_NUMBER",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "PAYMENT_TYPE_CODE",
                  "type": "String"
                },
                "sink": {
                  "name": "PAYMENT_TYPE_CODE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "MINISITE_ID",
                  "type": "Double"
                },
                "sink": {
                  "name": "MINISITE_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "END_CUSTOMER_ID",
                  "type": "Double"
                },
                "sink": {
                  "name": "END_CUSTOMER_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "END_CUSTOMER_CONTACT_ID",
                  "type": "Double"
                },
                "sink": {
                  "name": "END_CUSTOMER_CONTACT_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "END_CUSTOMER_SITE_USE_ID",
                  "type": "Double"
                },
                "sink": {
                  "name": "END_CUSTOMER_SITE_USE_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "IB_OWNER",
                  "type": "String"
                },
                "sink": {
                  "name": "IB_OWNER",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "IB_CURRENT_LOCATION",
                  "type": "String"
                },
                "sink": {
                  "name": "IB_CURRENT_LOCATION",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "IB_INSTALLED_AT_LOCATION",
                  "type": "String"
                },
                "sink": {
                  "name": "IB_INSTALLED_AT_LOCATION",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "RETROBILL_REQUEST_ID",
                  "type": "Double"
                },
                "sink": {
                  "name": "RETROBILL_REQUEST_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ORIGINAL_LIST_PRICE",
                  "type": "Double"
                },
                "sink": {
                  "name": "ORIGINAL_LIST_PRICE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "SERVICE_CREDIT_ELIGIBLE_CODE",
                  "type": "String"
                },
                "sink": {
                  "name": "SERVICE_CREDIT_ELIGIBLE_CODE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ORDER_FIRMED_DATE",
                  "type": "DateTime"
                },
                "sink": {
                  "name": "ORDER_FIRMED_DATE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ACTUAL_FULFILLMENT_DATE",
                  "type": "DateTime"
                },
                "sink": {
                  "name": "ACTUAL_FULFILLMENT_DATE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "CHARGE_PERIODICITY_CODE",
                  "type": "String"
                },
                "sink": {
                  "name": "CHARGE_PERIODICITY_CODE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "CONTINGENCY_ID",
                  "type": "Double"
                },
                "sink": {
                  "name": "CONTINGENCY_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "REVREC_EVENT_CODE",
                  "type": "String"
                },
                "sink": {
                  "name": "REVREC_EVENT_CODE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "REVREC_EXPIRATION_DAYS",
                  "type": "Double"
                },
                "sink": {
                  "name": "REVREC_EXPIRATION_DAYS",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ACCEPTED_QUANTITY",
                  "type": "Double"
                },
                "sink": {
                  "name": "ACCEPTED_QUANTITY",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ACCEPTED_BY",
                  "type": "Double"
                },
                "sink": {
                  "name": "ACCEPTED_BY",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "REVREC_COMMENTS",
                  "type": "String"
                },
                "sink": {
                  "name": "REVREC_COMMENTS",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "REVREC_REFERENCE_DOCUMENT",
                  "type": "String"
                },
                "sink": {
                  "name": "REVREC_REFERENCE_DOCUMENT",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "REVREC_SIGNATURE",
                  "type": "String"
                },
                "sink": {
                  "name": "REVREC_SIGNATURE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "REVREC_SIGNATURE_DATE",
                  "type": "DateTime"
                },
                "sink": {
                  "name": "REVREC_SIGNATURE_DATE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "REVREC_IMPLICIT_FLAG",
                  "type": "String"
                },
                "sink": {
                  "name": "REVREC_IMPLICIT_FLAG",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "BYPASS_SCH_FLAG",
                  "type": "String"
                },
                "sink": {
                  "name": "BYPASS_SCH_FLAG",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "PRE_EXPLODED_FLAG",
                  "type": "String"
                },
                "sink": {
                  "name": "PRE_EXPLODED_FLAG",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "INST_ID",
                  "type": "Double"
                },
                "sink": {
                  "name": "INST_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "TAX_LINE_VALUE",
                  "type": "Double"
                },
                "sink": {
                  "name": "TAX_LINE_VALUE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "SERVICE_BILL_PROFILE_ID",
                  "type": "Double"
                },
                "sink": {
                  "name": "SERVICE_BILL_PROFILE_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "SERVICE_COV_TEMPLATE_ID",
                  "type": "Double"
                },
                "sink": {
                  "name": "SERVICE_COV_TEMPLATE_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "SERVICE_SUBS_TEMPLATE_ID",
                  "type": "Double"
                },
                "sink": {
                  "name": "SERVICE_SUBS_TEMPLATE_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "SERVICE_BILL_OPTION_CODE",
                  "type": "String"
                },
                "sink": {
                  "name": "SERVICE_BILL_OPTION_CODE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "SERVICE_FIRST_PERIOD_AMOUNT",
                  "type": "Double"
                },
                "sink": {
                  "name": "SERVICE_FIRST_PERIOD_AMOUNT",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "SERVICE_FIRST_PERIOD_ENDDATE",
                  "type": "DateTime"
                },
                "sink": {
                  "name": "SERVICE_FIRST_PERIOD_ENDDATE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "SUBSCRIPTION_ENABLE_FLAG",
                  "type": "String"
                },
                "sink": {
                  "name": "SUBSCRIPTION_ENABLE_FLAG",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "FULFILLMENT_BASE",
                  "type": "String"
                },
                "sink": {
                  "name": "FULFILLMENT_BASE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "CONTAINER_NUMBER",
                  "type": "String"
                },
                "sink": {
                  "name": "CONTAINER_NUMBER",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "EQUIPMENT_ID",
                  "type": "Double"
                },
                "sink": {
                  "name": "EQUIPMENT_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              }
            ],
            "typeConversion": true,
            "typeConversionSettings": {
              "allowDataTruncation": true,
              "treatBooleanAsNumber": false
            }
          }
        },
        "inputs": [
          {
            "referenceName": "BFG_ODB_OE_ORDER_LINES_ALL",
            "type": "DatasetReference"
          }
        ],
        "outputs": [
          {
            "referenceName": "ADLS_OE_ORDER_LINES_ALL",
            "type": "DatasetReference"
          }
        ]
      },
      {
        "name": "Lookup ODB OE_ORDER_HEADER_LINES_ALL New Watermark",
        "type": "Lookup",
        "dependsOn": [],
        "policy": {
          "timeout": "7.00:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "source": {
            "type": "OracleSource",
            "oracleReaderQuery": {
              "value": "select\t\t\tmax(cast(LAST_UPDATE_DATE as timestamp)) as LAST_UPDATE_DATE\nfrom\t\t\t@{variables('ODB_OWNER_NAME')}.@{variables('Table_OE_ORDER_LINES_ALL')}\nwhere LAST_UPDATE_DATE >= '@{getPastTime(120, 'Day', 'dd/MMM/yy')}'",
              "type": "Expression"
            },
            "partitionOption": "None",
            "queryTimeout": "02:00:00"
          },
          "dataset": {
            "referenceName": "BFG_ODB_OE_ORDER_LINES_ALL",
            "type": "DatasetReference"
          }
        }
      },
      {
        "name": "Lookup SQL OE_ORDER_LINES_ALL Watermark",
        "type": "Lookup",
        "dependsOn": [],
        "policy": {
          "timeout": "7.00:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "source": {
            "type": "AzureSqlSource",
            "sqlReaderQuery": {
              "value": "select WATERMARK_DATETIME \nfrom [dbo].[WATERMARK] \nwhere OWNER_NAME = '@{variables('SQL_OWNER_NAME')}'\nand TABLE_NAME = '@{variables('Table_OE_ORDER_LINES_ALL')}'",
              "type": "Expression"
            },
            "queryTimeout": "02:00:00",
            "partitionOption": "None"
          },
          "dataset": {
            "referenceName": "WATERMARK",
            "type": "DatasetReference"
          }
        }
      },
      {
        "name": "Update OE_ORDER_LINES_ALL Watermark",
        "type": "SqlServerStoredProcedure",
        "dependsOn": [
          {
            "activity": "Copy OE_ORDER_LINES_ALL to ADLS",
            "dependencyConditions": ["Succeeded"]
          }
        ],
        "policy": {
          "timeout": "7.00:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "storedProcedureName": "[dbo].[UpdateWatermark]",
          "storedProcedureParameters": {
            "LastModifiedtime": {
              "value": {
                "value": "@activity('Lookup ODB OE_ORDER_HEADER_LINES_ALL New Watermark').output.FirstRow.LAST_UPDATE_DATE",
                "type": "Expression"
              }
            },
            "OWNER_NAME": {
              "value": {
                "value": "@variables('SQL_OWNER_NAME')",
                "type": "Expression"
              }
            },
            "TABLE_NAME": {
              "value": {
                "value": "@variables('Table_OE_ORDER_LINES_ALL')",
                "type": "Expression"
              }
            }
          }
        },
        "linkedServiceName": {
          "referenceName": "BFG_SQL_DB",
          "type": "LinkedServiceReference"
        }
      },
      {
        "name": "Archive OE_ORDER_HEADERS_ALL",
        "type": "Copy",
        "dependsOn": [
          {
            "activity": "Update OE_ORDER_LINES_ALL Watermark",
            "dependencyConditions": ["Succeeded"]
          }
        ],
        "policy": {
          "timeout": "7.00:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "source": {
            "type": "DelimitedTextSource",
            "storeSettings": {
              "type": "AzureBlobStorageReadSettings",
              "recursive": true,
              "modifiedDatetimeStart": "2022-05-01T00:00:00.000Z",
              "modifiedDatetimeEnd": {
                "value": "@pipeline().TriggerTime",
                "type": "Expression"
              },
              "wildcardFolderPath": "bfguk_erp_prod/schemas/ONT/OE_ORDER_HEADERS_ALL",
              "wildcardFileName": "*",
              "enablePartitionDiscovery": false
            },
            "formatSettings": {
              "type": "DelimitedTextReadSettings"
            }
          },
          "sink": {
            "type": "DelimitedTextSink",
            "storeSettings": {
              "type": "AzureBlobStorageWriteSettings",
              "copyBehavior": "PreserveHierarchy"
            },
            "formatSettings": {
              "type": "DelimitedTextWriteSettings",
              "quoteAllText": true,
              "fileExtension": ".txt"
            }
          },
          "enableStaging": false,
          "parallelCopies": 1,
          "translator": {
            "type": "TabularTranslator",
            "typeConversion": true,
            "typeConversionSettings": {
              "allowDataTruncation": true,
              "treatBooleanAsNumber": false
            }
          }
        },
        "inputs": [
          {
            "referenceName": "ADLS_OE_ORDER_HEADERS_ALL",
            "type": "DatasetReference"
          }
        ],
        "outputs": [
          {
            "referenceName": "OE_ORDER_HEADERS_ALL_Archive",
            "type": "DatasetReference"
          }
        ]
      },
      {
        "name": "Delete OE_ORDER_HEADERS_ALL",
        "type": "Delete",
        "dependsOn": [
          {
            "activity": "Archive OE_ORDER_HEADERS_ALL",
            "dependencyConditions": ["Succeeded"]
          }
        ],
        "policy": {
          "timeout": "7.00:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "dataset": {
            "referenceName": "ADLS_OE_ORDER_HEADERS_ALL",
            "type": "DatasetReference"
          },
          "logStorageSettings": {
            "linkedServiceName": {
              "referenceName": "BFG_Azure_Storage",
              "type": "LinkedServiceReference"
            },
            "path": "raw/oracle_erp/logging"
          },
          "enableLogging": true,
          "storeSettings": {
            "type": "AzureBlobStorageReadSettings",
            "recursive": true,
            "modifiedDatetimeStart": "2022-05-01T00:00:00.000Z",
            "modifiedDatetimeEnd": {
              "value": "@pipeline().TriggerTime",
              "type": "Expression"
            },
            "wildcardFileName": "*",
            "enablePartitionDiscovery": false
          }
        }
      }
    ],
    "variables": {
      "ODB_OWNER_NAME": {
        "type": "String",
        "defaultValue": "ONT"
      },
      "Table_Generic": {
        "type": "String",
        "defaultValue": "ONT_TABLES"
      },
      "Table_OE_ORDER_LINES_ALL": {
        "type": "String",
        "defaultValue": "OE_ORDER_LINES_ALL"
      },
      "ADF_OWNER_NAME": {
        "type": "String",
        "defaultValue": "ADF"
      },
      "SQL_OWNER_NAME": {
        "type": "String",
        "defaultValue": "stg"
      }
    },
    "annotations": []
  }
}
