pipeline/GL_ADLS_To_SQL.json
{
	"name": "GL_ADLS_To_SQL",
	"properties": {
		"activities": [
			{
				"name": "Copy GL_PERIODS To SQL",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy GL_CODE_COMBINATIONS To SQL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"additionalColumns": [
							{
								"name": "_M_TIMESTAMP",
								"value": {
									"value": "@utcnow()",
									"type": "Expression"
								}
							},
							{
								"name": "_M_PIPELINE",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							{
								"name": "_M_DATETIME",
								"value": {
									"value": "@formatDateTime(utcnow())",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"modifiedDatetimeStart": {
								"value": "@activity('Lookup Generic File Timestamp').output.FirstRow.watermark_datetime",
								"type": "Expression"
							},
							"wildcardFolderPath": "bfguk_erp_prod/schemas/GL/GL_PERIODS",
							"wildcardFileName": "*",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": {
							"value": "begin try\ntruncate table [stg].[GL_PERIODS]\nend try\nbegin catch \nselect null\nend catch",
							"type": "Expression"
						},
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "PERIOD_SET_NAME",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "period_set_name",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PERIOD_NAME",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "period_name",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "LAST_UPDATE_DATE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "last_update_date",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "LAST_UPDATED_BY",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "last_updated_by",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "START_DATE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "start_date",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "END_DATE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "end_date",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "YEAR_START_DATE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "year_start_date",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "QUARTER_START_DATE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "quarter_start_date",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PERIOD_TYPE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "period_type",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PERIOD_YEAR",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "period_year",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PERIOD_NUM",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "period_num",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "QUARTER_NUM",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "quarter_num",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ENTERED_PERIOD_NAME",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "entered_period_name",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ADJUSTMENT_PERIOD_FLAG",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "adjustment_period_flag",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CREATION_DATE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "creation_date",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CREATED_BY",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "created_by",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "LAST_UPDATE_LOGIN",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "last_update_login",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "DESCRIPTION",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "description",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE1",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "attribute1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE2",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "attribute2",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE3",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "attribute3",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE4",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "attribute4",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE5",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "attribute5",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE6",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "attribute6",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE7",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "attribute7",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE8",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "attribute8",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CONTEXT",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "context",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ZD_EDITION_NAME",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "zd_edition_name",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ZD_SYNC",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "zd_sync",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "_M_TIMESTAMP",
									"type": "String"
								},
								"sink": {
									"name": "_m_timestamp",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "_M_PIPELINE",
									"type": "String"
								},
								"sink": {
									"name": "_m_pipeline",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "_M_DATETIME",
									"type": "String"
								},
								"sink": {
									"name": "_m_datetime",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ADLS_GL_PERIODS",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SQL_GL_PERIODS",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy GL_CODE_COMBINATIONS To SQL",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookup Generic File Timestamp",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"additionalColumns": [
							{
								"name": "_M_TIMESTAMP",
								"value": {
									"value": "@utcnow()",
									"type": "Expression"
								}
							},
							{
								"name": "_M_PIPELINE",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							{
								"name": "_M_DATETIME",
								"value": {
									"value": "@formatDateTime(utcnow())",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"modifiedDatetimeStart": {
								"value": "@activity('Lookup Generic File Timestamp').output.FirstRow.watermark_datetime",
								"type": "Expression"
							},
							"wildcardFolderPath": "bfguk_erp_prod/schemas/GL/GL_CODE_COMBINATIONS",
							"wildcardFileName": "*",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": {
							"value": "begin try\ntruncate table [stg].[GL_CODE_COMBINATIONS]\nend try\nbegin catch \nselect null\nend catch",
							"type": "Expression"
						},
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "CODE_COMBINATION_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "code_combination_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "LAST_UPDATE_DATE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "last_update_date",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "LAST_UPDATED_BY",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "last_updated_by",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CHART_OF_ACCOUNTS_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "chart_of_accounts_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "DETAIL_POSTING_ALLOWED_FLAG",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "detail_posting_allowed_flag",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "DETAIL_BUDGETING_ALLOWED_FLAG",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "detail_budgeting_allowed_flag",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ACCOUNT_TYPE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "account_type",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ENABLED_FLAG",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "enabled_flag",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SUMMARY_FLAG",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "summary_flag",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SEGMENT1",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "segment1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SEGMENT2",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "segment2",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SEGMENT3",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "segment3",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SEGMENT4",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "segment4",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SEGMENT5",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "segment5",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SEGMENT6",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "segment6",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SEGMENT7",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "segment7",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SEGMENT8",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "segment8",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SEGMENT9",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "segment9",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SEGMENT10",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "segment10",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SEGMENT11",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "segment11",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SEGMENT12",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "segment12",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SEGMENT13",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "segment13",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SEGMENT14",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "segment14",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SEGMENT15",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "segment15",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SEGMENT16",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "segment16",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SEGMENT17",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "segment17",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SEGMENT18",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "segment18",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SEGMENT19",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "segment19",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SEGMENT20",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "segment20",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SEGMENT21",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "segment21",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SEGMENT22",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "segment22",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SEGMENT23",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "segment23",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SEGMENT24",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "segment24",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SEGMENT25",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "segment25",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SEGMENT26",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "segment26",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SEGMENT27",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "segment27",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SEGMENT28",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "segment28",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SEGMENT29",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "segment29",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SEGMENT30",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "segment30",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "DESCRIPTION",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "description",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "TEMPLATE_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "template_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ALLOCATION_CREATE_FLAG",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "allocation_create_flag",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "START_DATE_ACTIVE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "start_date_active",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "END_DATE_ACTIVE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "end_date_active",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE1",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "attribute1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE2",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "attribute2",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE3",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "attribute3",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE4",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "attribute4",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE5",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "attribute5",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE6",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "attribute6",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE7",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "attribute7",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE8",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "attribute8",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE9",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "attribute9",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ATTRIBUTE10",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "attribute10",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CONTEXT",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "context",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SEGMENT_ATTRIBUTE1",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "segment_attribute1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SEGMENT_ATTRIBUTE2",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "segment_attribute2",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SEGMENT_ATTRIBUTE3",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "segment_attribute3",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SEGMENT_ATTRIBUTE4",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "segment_attribute4",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SEGMENT_ATTRIBUTE5",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "segment_attribute5",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SEGMENT_ATTRIBUTE6",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "segment_attribute6",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SEGMENT_ATTRIBUTE7",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "segment_attribute7",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SEGMENT_ATTRIBUTE8",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "segment_attribute8",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SEGMENT_ATTRIBUTE9",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "segment_attribute9",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SEGMENT_ATTRIBUTE10",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "segment_attribute10",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SEGMENT_ATTRIBUTE11",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "segment_attribute11",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SEGMENT_ATTRIBUTE12",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "segment_attribute12",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SEGMENT_ATTRIBUTE13",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "segment_attribute13",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SEGMENT_ATTRIBUTE14",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "segment_attribute14",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SEGMENT_ATTRIBUTE15",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "segment_attribute15",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SEGMENT_ATTRIBUTE16",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "segment_attribute16",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SEGMENT_ATTRIBUTE17",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "segment_attribute17",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SEGMENT_ATTRIBUTE18",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "segment_attribute18",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SEGMENT_ATTRIBUTE19",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "segment_attribute19",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SEGMENT_ATTRIBUTE20",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "segment_attribute20",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SEGMENT_ATTRIBUTE21",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "segment_attribute21",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SEGMENT_ATTRIBUTE22",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "segment_attribute22",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SEGMENT_ATTRIBUTE23",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "segment_attribute23",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SEGMENT_ATTRIBUTE24",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "segment_attribute24",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SEGMENT_ATTRIBUTE25",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "segment_attribute25",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SEGMENT_ATTRIBUTE26",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "segment_attribute26",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SEGMENT_ATTRIBUTE27",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "segment_attribute27",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SEGMENT_ATTRIBUTE28",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "segment_attribute28",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SEGMENT_ATTRIBUTE29",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "segment_attribute29",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SEGMENT_ATTRIBUTE30",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "segment_attribute30",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SEGMENT_ATTRIBUTE31",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "segment_attribute31",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SEGMENT_ATTRIBUTE32",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "segment_attribute32",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SEGMENT_ATTRIBUTE33",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "segment_attribute33",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SEGMENT_ATTRIBUTE34",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "segment_attribute34",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SEGMENT_ATTRIBUTE35",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "segment_attribute35",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SEGMENT_ATTRIBUTE36",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "segment_attribute36",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SEGMENT_ATTRIBUTE37",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "segment_attribute37",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SEGMENT_ATTRIBUTE38",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "segment_attribute38",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SEGMENT_ATTRIBUTE39",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "segment_attribute39",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SEGMENT_ATTRIBUTE40",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "segment_attribute40",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SEGMENT_ATTRIBUTE41",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "segment_attribute41",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SEGMENT_ATTRIBUTE42",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "segment_attribute42",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "REFERENCE1",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "reference1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "REFERENCE2",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "reference2",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "REFERENCE3",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "reference3",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "REFERENCE4",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "reference4",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "REFERENCE5",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "reference5",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "JGZZ_RECON_FLAG",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "jgzz_recon_flag",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "JGZZ_RECON_CONTEXT",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "jgzz_recon_context",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PRESERVE_FLAG",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "preserve_flag",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "REFRESH_FLAG",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "refresh_flag",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "IGI_BALANCED_BUDGET_FLAG",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "igi_balanced_budget_flag",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "COMPANY_COST_CENTER_ORG_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "company_cost_center_org_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "REVALUATION_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "revaluation_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "LEDGER_SEGMENT",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ledger_segment",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "LEDGER_TYPE_CODE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ledger_type_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ALTERNATE_CODE_COMBINATION_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "alternate_code_combination_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "_M_TIMESTAMP",
									"type": "String"
								},
								"sink": {
									"name": "_m_timestamp",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "_M_PIPELINE",
									"type": "String"
								},
								"sink": {
									"name": "_m_pipeline",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "_M_DATETIME",
									"type": "String"
								},
								"sink": {
									"name": "_m_datetime",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ADLS_GL_CODE_COMBINATIONS",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SQL_GL_CODE_COMBINATIONS",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Lookup Generic File Timestamp",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select watermark_datetime \nfrom [dbo].[watermark] \nwhere owner_name = '@{variables('adf_owner_name')}'\nand table_name = '@{variables('table_generic')}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "WATERMARK",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Update Generic ADLS Watermark",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy GL_PERIODS To SQL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_update_watermark]",
					"storedProcedureParameters": {
						"last_modified_time": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "Datetime"
						},
						"owner_name": {
							"value": {
								"value": "@variables('adf_owner_name')",
								"type": "Expression"
							},
							"type": "String"
						},
						"table_name": {
							"value": {
								"value": "@variables('table_generic')",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "BFG_SQL_DB",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"adf_owner_name": {
				"type": "String",
				"defaultValue": "adf"
			},
			"table_generic": {
				"type": "String",
				"defaultValue": "gl_tables"
			},
			"table_gl_import_references": {
				"type": "String",
				"defaultValue": "gl_import_references"
			},
			"odb_owner_name": {
				"type": "String"
			}
		},
		"annotations": []
	}
}