pipeline/Load_From_ADLS_Test.json
{
  "name": "Load_From_ADLS_Test",
  "properties": {
    "activities": [
      {
        "name": "Copy edwin_test",
        "type": "Copy",
        "dependsOn": [
          {
            "activity": "Lookup lastModified date",
            "dependencyConditions": ["Succeeded"]
          }
        ],
        "policy": {
          "timeout": "7.00:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "source": {
            "type": "DelimitedTextSource",
            "storeSettings": {
              "type": "AzureBlobStorageReadSettings",
              "recursive": true,
              "modifiedDatetimeStart": {
                "value": "@activity('Lookup lastModified date').output.firstRow.WATERMARK_DATETIME",
                "type": "Expression"
              },
              "wildcardFolderPath": "test/metalookup/",
              "wildcardFileName": "*",
              "enablePartitionDiscovery": false
            },
            "formatSettings": {
              "type": "DelimitedTextReadSettings"
            }
          },
          "sink": {
            "type": "DelimitedTextSink",
            "storeSettings": {
              "type": "AzureBlobStorageWriteSettings"
            },
            "formatSettings": {
              "type": "DelimitedTextWriteSettings",
              "quoteAllText": true,
              "fileExtension": ".txt"
            }
          },
          "enableStaging": false,
          "translator": {
            "type": "TabularTranslator",
            "mappings": [
              {
                "source": {
                  "name": "name",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "name",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": " surname",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": " surname",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": " colour",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": " colour",
                  "type": "String",
                  "physicalType": "String"
                }
              }
            ],
            "typeConversion": true,
            "typeConversionSettings": {
              "allowDataTruncation": true,
              "treatBooleanAsNumber": false
            }
          }
        },
        "inputs": [
          {
            "referenceName": "edwin_test",
            "type": "DatasetReference"
          }
        ],
        "outputs": [
          {
            "referenceName": "edwin_test_sink",
            "type": "DatasetReference"
          }
        ]
      },
      {
        "name": "Lookup lastModified date",
        "type": "Lookup",
        "dependsOn": [],
        "policy": {
          "timeout": "7.00:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "source": {
            "type": "AzureSqlSource",
            "sqlReaderQuery": "select OWNER_NAME, TABLE_NAME, WATERMARK_DATETIME from [dbo].[WATERMARK]\nwhere OWNER_NAME = 'ADF' and TABLE_NAME = 'edwin_test'",
            "queryTimeout": "02:00:00",
            "partitionOption": "None"
          },
          "dataset": {
            "referenceName": "WATERMARK",
            "type": "DatasetReference"
          },
          "firstRowOnly": true
        }
      }
    ],
    "variables": {
      "edwin_test": {
        "type": "String"
      }
    },
    "annotations": []
  }
}
