pipeline/XLA_ADLS_To_SQL.json
{
  "name": "XLA_ADLS_To_SQL",
  "properties": {
    "activities": [
      {
        "name": "Copy XLA_AE_HEADERS To SQL",
        "type": "Copy",
        "dependsOn": [
          {
            "activity": "Copy XLA_TRANSACTION_ENTITIES To SQL",
            "dependencyConditions": ["Succeeded"]
          }
        ],
        "policy": {
          "timeout": "7.00:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "source": {
            "type": "DelimitedTextSource",
            "additionalColumns": [
              {
                "name": "_M_TIMESTAMP",
                "value": {
                  "value": "@utcnow()",
                  "type": "Expression"
                }
              },
              {
                "name": "_M_PIPELINE",
                "value": {
                  "value": "@pipeline().Pipeline",
                  "type": "Expression"
                }
              },
              {
                "name": "_M_DATETIME",
                "value": {
                  "value": "@formatDateTime(utcnow())",
                  "type": "Expression"
                }
              }
            ],
            "storeSettings": {
              "type": "AzureBlobStorageReadSettings",
              "recursive": true,
              "modifiedDatetimeStart": {
                "value": "@activity('Lookup Generic File Timestamp').output.FirstRow.WATERMARK_DATETIME",
                "type": "Expression"
              },
              "wildcardFolderPath": "oracle_erp/baxdevus/schemas/XLA/XLA_AE_HEADERS",
              "wildcardFileName": "*",
              "enablePartitionDiscovery": false
            },
            "formatSettings": {
              "type": "DelimitedTextReadSettings"
            }
          },
          "sink": {
            "type": "AzureSqlSink",
            "preCopyScript": {
              "value": "truncate table [stg].[XLA_AE_HEADERS]",
              "type": "Expression"
            },
            "writeBehavior": "insert",
            "sqlWriterUseTableLock": false,
            "tableOption": "autoCreate",
            "disableMetricsCollection": false
          },
          "enableStaging": false,
          "translator": {
            "type": "TabularTranslator",
            "mappings": [
              {
                "source": {
                  "name": "AE_HEADER_ID",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "AE_HEADER_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "APPLICATION_ID",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "APPLICATION_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "LEDGER_ID",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "LEDGER_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ENTITY_ID",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "ENTITY_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "EVENT_ID",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "EVENT_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "EVENT_TYPE_CODE",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "EVENT_TYPE_CODE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ACCOUNTING_DATE",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "ACCOUNTING_DATE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "GL_TRANSFER_STATUS_CODE",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "GL_TRANSFER_STATUS_CODE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "GL_TRANSFER_DATE",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "GL_TRANSFER_DATE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "JE_CATEGORY_NAME",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "JE_CATEGORY_NAME",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ACCOUNTING_ENTRY_STATUS_CODE",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "ACCOUNTING_ENTRY_STATUS_CODE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ACCOUNTING_ENTRY_TYPE_CODE",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "ACCOUNTING_ENTRY_TYPE_CODE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "AMB_CONTEXT_CODE",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "AMB_CONTEXT_CODE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "PRODUCT_RULE_TYPE_CODE",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "PRODUCT_RULE_TYPE_CODE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "PRODUCT_RULE_CODE",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "PRODUCT_RULE_CODE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "PRODUCT_RULE_VERSION",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "PRODUCT_RULE_VERSION",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "DESCRIPTION",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "DESCRIPTION",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "DOC_SEQUENCE_ID",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "DOC_SEQUENCE_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "DOC_SEQUENCE_VALUE",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "DOC_SEQUENCE_VALUE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ACCOUNTING_BATCH_ID",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "ACCOUNTING_BATCH_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "COMPLETION_ACCT_SEQ_VERSION_ID",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "COMPLETION_ACCT_SEQ_VERSION_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "CLOSE_ACCT_SEQ_VERSION_ID",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "CLOSE_ACCT_SEQ_VERSION_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "COMPLETION_ACCT_SEQ_VALUE",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "COMPLETION_ACCT_SEQ_VALUE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "CLOSE_ACCT_SEQ_VALUE",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "CLOSE_ACCT_SEQ_VALUE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "BUDGET_VERSION_ID",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "BUDGET_VERSION_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "FUNDS_STATUS_CODE",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "FUNDS_STATUS_CODE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ENCUMBRANCE_TYPE_ID",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "ENCUMBRANCE_TYPE_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "BALANCE_TYPE_CODE",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "BALANCE_TYPE_CODE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "REFERENCE_DATE",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "REFERENCE_DATE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "COMPLETED_DATE",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "COMPLETED_DATE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "PERIOD_NAME",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "PERIOD_NAME",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "PACKET_ID",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "PACKET_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "COMPLETION_ACCT_SEQ_ASSIGN_ID",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "COMPLETION_ACCT_SEQ_ASSIGN_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "CLOSE_ACCT_SEQ_ASSIGN_ID",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "CLOSE_ACCT_SEQ_ASSIGN_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "DOC_CATEGORY_CODE",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "DOC_CATEGORY_CODE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ATTRIBUTE_CATEGORY",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "ATTRIBUTE_CATEGORY",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ATTRIBUTE1",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "ATTRIBUTE1",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ATTRIBUTE2",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "ATTRIBUTE2",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ATTRIBUTE3",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "ATTRIBUTE3",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ATTRIBUTE4",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "ATTRIBUTE4",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ATTRIBUTE5",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "ATTRIBUTE5",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ATTRIBUTE6",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "ATTRIBUTE6",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ATTRIBUTE7",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "ATTRIBUTE7",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ATTRIBUTE8",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "ATTRIBUTE8",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ATTRIBUTE9",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "ATTRIBUTE9",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ATTRIBUTE10",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "ATTRIBUTE10",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ATTRIBUTE11",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "ATTRIBUTE11",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ATTRIBUTE12",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "ATTRIBUTE12",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ATTRIBUTE13",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "ATTRIBUTE13",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ATTRIBUTE14",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "ATTRIBUTE14",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ATTRIBUTE15",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "ATTRIBUTE15",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "GROUP_ID",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "GROUP_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "DOC_SEQUENCE_VERSION_ID",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "DOC_SEQUENCE_VERSION_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "DOC_SEQUENCE_ASSIGN_ID",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "DOC_SEQUENCE_ASSIGN_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "CREATION_DATE",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "CREATION_DATE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "CREATED_BY",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "CREATED_BY",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "LAST_UPDATE_DATE",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "LAST_UPDATE_DATE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "LAST_UPDATED_BY",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "LAST_UPDATED_BY",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "LAST_UPDATE_LOGIN",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "LAST_UPDATE_LOGIN",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "PROGRAM_UPDATE_DATE",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "PROGRAM_UPDATE_DATE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "PROGRAM_APPLICATION_ID",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "PROGRAM_APPLICATION_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "PROGRAM_ID",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "PROGRAM_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "REQUEST_ID",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "REQUEST_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "UPG_BATCH_ID",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "UPG_BATCH_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "UPG_SOURCE_APPLICATION_ID",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "UPG_SOURCE_APPLICATION_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "UPG_VALID_FLAG",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "UPG_VALID_FLAG",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ZERO_AMOUNT_FLAG",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "ZERO_AMOUNT_FLAG",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "PARENT_AE_HEADER_ID",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "PARENT_AE_HEADER_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "PARENT_AE_LINE_NUM",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "PARENT_AE_LINE_NUM",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ACCRUAL_REVERSAL_FLAG",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "ACCRUAL_REVERSAL_FLAG",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "MERGE_EVENT_ID",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "MERGE_EVENT_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "NEED_BAL_FLAG",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "NEED_BAL_FLAG",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "_m_timestamp",
                  "type": "String"
                },
                "sink": {
                  "name": "_m_timestamp",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "_m_pipeline",
                  "type": "String"
                },
                "sink": {
                  "name": "_m_pipeline",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "_m_datetime",
                  "type": "String"
                },
                "sink": {
                  "name": "_m_datetime",
                  "type": "String",
                  "physicalType": "String"
                }
              }
            ],
            "typeConversion": true,
            "typeConversionSettings": {
              "allowDataTruncation": true,
              "treatBooleanAsNumber": false
            }
          }
        },
        "inputs": [
          {
            "referenceName": "ADLS_XLA_AE_HEADERS",
            "type": "DatasetReference"
          }
        ],
        "outputs": [
          {
            "referenceName": "SQL_XLA_AE_HEADERS",
            "type": "DatasetReference"
          }
        ]
      },
      {
        "name": "Copy XLA_AE_LINES To SQL",
        "type": "Copy",
        "dependsOn": [
          {
            "activity": "Copy XLA_AE_HEADERS To SQL",
            "dependencyConditions": ["Succeeded"]
          }
        ],
        "policy": {
          "timeout": "7.00:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "source": {
            "type": "DelimitedTextSource",
            "additionalColumns": [
              {
                "name": "_M_TIMESTAMP",
                "value": {
                  "value": "@utcnow()",
                  "type": "Expression"
                }
              },
              {
                "name": "_M_PIPELINE",
                "value": {
                  "value": "@pipeline().Pipeline",
                  "type": "Expression"
                }
              },
              {
                "name": "_M_DATETIME",
                "value": {
                  "value": "@formatDateTime(utcnow())",
                  "type": "Expression"
                }
              }
            ],
            "storeSettings": {
              "type": "AzureBlobStorageReadSettings",
              "recursive": true,
              "modifiedDatetimeStart": {
                "value": "@activity('Lookup Generic File Timestamp').output.FirstRow.WATERMARK_DATETIME",
                "type": "Expression"
              },
              "wildcardFolderPath": "oracle_erp/baxdevus/schemas/XLA/XLA_AE_LINES",
              "wildcardFileName": "*",
              "enablePartitionDiscovery": false
            },
            "formatSettings": {
              "type": "DelimitedTextReadSettings"
            }
          },
          "sink": {
            "type": "AzureSqlSink",
            "preCopyScript": {
              "value": "truncate table [stg].[XLA_AE_LINES]",
              "type": "Expression"
            },
            "writeBehavior": "insert",
            "sqlWriterUseTableLock": false,
            "tableOption": "autoCreate",
            "disableMetricsCollection": false
          },
          "enableStaging": false,
          "translator": {
            "type": "TabularTranslator",
            "mappings": [
              {
                "source": {
                  "name": "AE_HEADER_ID",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "AE_HEADER_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "AE_LINE_NUM",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "AE_LINE_NUM",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "APPLICATION_ID",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "APPLICATION_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "CODE_COMBINATION_ID",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "CODE_COMBINATION_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "GL_TRANSFER_MODE_CODE",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "GL_TRANSFER_MODE_CODE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "GL_SL_LINK_ID",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "GL_SL_LINK_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ACCOUNTING_CLASS_CODE",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "ACCOUNTING_CLASS_CODE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "PARTY_ID",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "PARTY_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "PARTY_SITE_ID",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "PARTY_SITE_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "PARTY_TYPE_CODE",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "PARTY_TYPE_CODE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ENTERED_DR",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "ENTERED_DR",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ENTERED_CR",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "ENTERED_CR",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ACCOUNTED_DR",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "ACCOUNTED_DR",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ACCOUNTED_CR",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "ACCOUNTED_CR",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "DESCRIPTION",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "DESCRIPTION",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "STATISTICAL_AMOUNT",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "STATISTICAL_AMOUNT",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "CURRENCY_CODE",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "CURRENCY_CODE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "CURRENCY_CONVERSION_DATE",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "CURRENCY_CONVERSION_DATE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "CURRENCY_CONVERSION_RATE",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "CURRENCY_CONVERSION_RATE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "CURRENCY_CONVERSION_TYPE",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "CURRENCY_CONVERSION_TYPE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "USSGL_TRANSACTION_CODE",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "USSGL_TRANSACTION_CODE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "JGZZ_RECON_REF",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "JGZZ_RECON_REF",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "CONTROL_BALANCE_FLAG",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "CONTROL_BALANCE_FLAG",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ANALYTICAL_BALANCE_FLAG",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "ANALYTICAL_BALANCE_FLAG",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ATTRIBUTE_CATEGORY",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "ATTRIBUTE_CATEGORY",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ATTRIBUTE1",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "ATTRIBUTE1",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ATTRIBUTE2",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "ATTRIBUTE2",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ATTRIBUTE3",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "ATTRIBUTE3",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ATTRIBUTE4",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "ATTRIBUTE4",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ATTRIBUTE5",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "ATTRIBUTE5",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ATTRIBUTE6",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "ATTRIBUTE6",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ATTRIBUTE7",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "ATTRIBUTE7",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ATTRIBUTE8",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "ATTRIBUTE8",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ATTRIBUTE9",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "ATTRIBUTE9",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ATTRIBUTE10",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "ATTRIBUTE10",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ATTRIBUTE11",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "ATTRIBUTE11",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ATTRIBUTE12",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "ATTRIBUTE12",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ATTRIBUTE13",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "ATTRIBUTE13",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ATTRIBUTE14",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "ATTRIBUTE14",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ATTRIBUTE15",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "ATTRIBUTE15",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "GL_SL_LINK_TABLE",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "GL_SL_LINK_TABLE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "DISPLAYED_LINE_NUMBER",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "DISPLAYED_LINE_NUMBER",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "CREATION_DATE",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "CREATION_DATE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "CREATED_BY",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "CREATED_BY",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "LAST_UPDATE_DATE",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "LAST_UPDATE_DATE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "LAST_UPDATED_BY",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "LAST_UPDATED_BY",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "LAST_UPDATE_LOGIN",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "LAST_UPDATE_LOGIN",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "PROGRAM_UPDATE_DATE",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "PROGRAM_UPDATE_DATE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "PROGRAM_APPLICATION_ID",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "PROGRAM_APPLICATION_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "PROGRAM_ID",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "PROGRAM_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "REQUEST_ID",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "REQUEST_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "UPG_BATCH_ID",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "UPG_BATCH_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "UPG_TAX_REFERENCE_ID1",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "UPG_TAX_REFERENCE_ID1",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "UPG_TAX_REFERENCE_ID2",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "UPG_TAX_REFERENCE_ID2",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "UPG_TAX_REFERENCE_ID3",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "UPG_TAX_REFERENCE_ID3",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "UNROUNDED_ACCOUNTED_DR",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "UNROUNDED_ACCOUNTED_DR",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "UNROUNDED_ACCOUNTED_CR",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "UNROUNDED_ACCOUNTED_CR",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "GAIN_OR_LOSS_FLAG",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "GAIN_OR_LOSS_FLAG",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "UNROUNDED_ENTERED_DR",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "UNROUNDED_ENTERED_DR",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "UNROUNDED_ENTERED_CR",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "UNROUNDED_ENTERED_CR",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "SUBSTITUTED_CCID",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "SUBSTITUTED_CCID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "BUSINESS_CLASS_CODE",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "BUSINESS_CLASS_CODE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "MPA_ACCRUAL_ENTRY_FLAG",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "MPA_ACCRUAL_ENTRY_FLAG",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ENCUMBRANCE_TYPE_ID",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "ENCUMBRANCE_TYPE_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "FUNDS_STATUS_CODE",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "FUNDS_STATUS_CODE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "MERGE_CODE_COMBINATION_ID",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "MERGE_CODE_COMBINATION_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "MERGE_PARTY_ID",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "MERGE_PARTY_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "MERGE_PARTY_SITE_ID",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "MERGE_PARTY_SITE_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ACCOUNTING_DATE",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "ACCOUNTING_DATE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "LEDGER_ID",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "LEDGER_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "SOURCE_TABLE",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "SOURCE_TABLE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "SOURCE_ID",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "SOURCE_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ACCOUNT_OVERLAY_SOURCE_ID",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "ACCOUNT_OVERLAY_SOURCE_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "_m_timestamp",
                  "type": "String"
                },
                "sink": {
                  "name": "_m_timestamp",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "_m_pipeline",
                  "type": "String"
                },
                "sink": {
                  "name": "_m_pipeline",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "_m_datetime",
                  "type": "String"
                },
                "sink": {
                  "name": "_m_datetime",
                  "type": "String",
                  "physicalType": "String"
                }
              }
            ],
            "typeConversion": true,
            "typeConversionSettings": {
              "allowDataTruncation": true,
              "treatBooleanAsNumber": false
            }
          }
        },
        "inputs": [
          {
            "referenceName": "ADLS_XLA_AE_LINES",
            "type": "DatasetReference"
          }
        ],
        "outputs": [
          {
            "referenceName": "SQL_XLA_AE_LINES",
            "type": "DatasetReference"
          }
        ]
      },
      {
        "name": "Copy XLA_DISTRIBUTION_LINKS To SQL",
        "type": "Copy",
        "dependsOn": [
          {
            "activity": "Lookup Generic File Timestamp",
            "dependencyConditions": ["Succeeded"]
          }
        ],
        "policy": {
          "timeout": "7.00:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "source": {
            "type": "DelimitedTextSource",
            "additionalColumns": [
              {
                "name": "_M_TIMESTAMP",
                "value": {
                  "value": "@utcnow()",
                  "type": "Expression"
                }
              },
              {
                "name": "_M_PIPELINE",
                "value": {
                  "value": "@pipeline().Pipeline",
                  "type": "Expression"
                }
              },
              {
                "name": "_M_DATETIME",
                "value": {
                  "value": "@formatDateTime(utcnow())",
                  "type": "Expression"
                }
              }
            ],
            "storeSettings": {
              "type": "AzureBlobStorageReadSettings",
              "recursive": true,
              "wildcardFolderPath": "oracle_erp/baxdevus/schemas/XLA/XLA_DISTRIBUTION_LINKS",
              "wildcardFileName": "*",
              "enablePartitionDiscovery": false
            },
            "formatSettings": {
              "type": "DelimitedTextReadSettings"
            }
          },
          "sink": {
            "type": "AzureSqlSink",
            "preCopyScript": {
              "value": "truncate table [stg].[XLA_DISTRIBUTION_LINKS]",
              "type": "Expression"
            },
            "writeBehavior": "insert",
            "sqlWriterUseTableLock": false,
            "tableOption": "autoCreate",
            "disableMetricsCollection": false
          },
          "enableStaging": false,
          "translator": {
            "type": "TabularTranslator",
            "mappings": [
              {
                "source": {
                  "name": "APPLICATION_ID",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "APPLICATION_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "EVENT_ID",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "EVENT_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "AE_HEADER_ID",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "AE_HEADER_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "AE_LINE_NUM",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "AE_LINE_NUM",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "SOURCE_DISTRIBUTION_TYPE",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "SOURCE_DISTRIBUTION_TYPE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "SOURCE_DISTRIBUTION_ID_CHAR_1",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "SOURCE_DISTRIBUTION_ID_CHAR_1",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "SOURCE_DISTRIBUTION_ID_CHAR_2",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "SOURCE_DISTRIBUTION_ID_CHAR_2",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "SOURCE_DISTRIBUTION_ID_CHAR_3",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "SOURCE_DISTRIBUTION_ID_CHAR_3",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "SOURCE_DISTRIBUTION_ID_CHAR_4",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "SOURCE_DISTRIBUTION_ID_CHAR_4",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "SOURCE_DISTRIBUTION_ID_CHAR_5",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "SOURCE_DISTRIBUTION_ID_CHAR_5",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "SOURCE_DISTRIBUTION_ID_NUM_1",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "SOURCE_DISTRIBUTION_ID_NUM_1",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "SOURCE_DISTRIBUTION_ID_NUM_2",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "SOURCE_DISTRIBUTION_ID_NUM_2",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "SOURCE_DISTRIBUTION_ID_NUM_3",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "SOURCE_DISTRIBUTION_ID_NUM_3",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "SOURCE_DISTRIBUTION_ID_NUM_4",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "SOURCE_DISTRIBUTION_ID_NUM_4",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "SOURCE_DISTRIBUTION_ID_NUM_5",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "SOURCE_DISTRIBUTION_ID_NUM_5",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "TAX_LINE_REF_ID",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "TAX_LINE_REF_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "TAX_SUMMARY_LINE_REF_ID",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "TAX_SUMMARY_LINE_REF_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "TAX_REC_NREC_DIST_REF_ID",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "TAX_REC_NREC_DIST_REF_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "STATISTICAL_AMOUNT",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "STATISTICAL_AMOUNT",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "REF_AE_HEADER_ID",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "REF_AE_HEADER_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "REF_TEMP_LINE_NUM",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "REF_TEMP_LINE_NUM",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ACCOUNTING_LINE_CODE",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "ACCOUNTING_LINE_CODE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ACCOUNTING_LINE_TYPE_CODE",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "ACCOUNTING_LINE_TYPE_CODE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "MERGE_DUPLICATE_CODE",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "MERGE_DUPLICATE_CODE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "TEMP_LINE_NUM",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "TEMP_LINE_NUM",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "REF_EVENT_ID",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "REF_EVENT_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "LINE_DEFINITION_OWNER_CODE",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "LINE_DEFINITION_OWNER_CODE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "LINE_DEFINITION_CODE",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "LINE_DEFINITION_CODE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "EVENT_CLASS_CODE",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "EVENT_CLASS_CODE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "EVENT_TYPE_CODE",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "EVENT_TYPE_CODE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "UPG_BATCH_ID",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "UPG_BATCH_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "CALCULATE_ACCTD_AMTS_FLAG",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "CALCULATE_ACCTD_AMTS_FLAG",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "CALCULATE_G_L_AMTS_FLAG",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "CALCULATE_G_L_AMTS_FLAG",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ROUNDING_CLASS_CODE",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "ROUNDING_CLASS_CODE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "DOCUMENT_ROUNDING_LEVEL",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "DOCUMENT_ROUNDING_LEVEL",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "UNROUNDED_ENTERED_DR",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "UNROUNDED_ENTERED_DR",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "UNROUNDED_ENTERED_CR",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "UNROUNDED_ENTERED_CR",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "DOC_ROUNDING_ENTERED_AMT",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "DOC_ROUNDING_ENTERED_AMT",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "DOC_ROUNDING_ACCTD_AMT",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "DOC_ROUNDING_ACCTD_AMT",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "UNROUNDED_ACCOUNTED_CR",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "UNROUNDED_ACCOUNTED_CR",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "UNROUNDED_ACCOUNTED_DR",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "UNROUNDED_ACCOUNTED_DR",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "APPLIED_TO_APPLICATION_ID",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "APPLIED_TO_APPLICATION_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "APPLIED_TO_ENTITY_CODE",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "APPLIED_TO_ENTITY_CODE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "APPLIED_TO_ENTITY_ID",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "APPLIED_TO_ENTITY_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "APPLIED_TO_SOURCE_ID_NUM_1",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "APPLIED_TO_SOURCE_ID_NUM_1",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "APPLIED_TO_SOURCE_ID_NUM_2",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "APPLIED_TO_SOURCE_ID_NUM_2",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "APPLIED_TO_SOURCE_ID_NUM_3",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "APPLIED_TO_SOURCE_ID_NUM_3",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "APPLIED_TO_SOURCE_ID_NUM_4",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "APPLIED_TO_SOURCE_ID_NUM_4",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "APPLIED_TO_SOURCE_ID_CHAR_1",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "APPLIED_TO_SOURCE_ID_CHAR_1",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "APPLIED_TO_SOURCE_ID_CHAR_2",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "APPLIED_TO_SOURCE_ID_CHAR_2",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "APPLIED_TO_SOURCE_ID_CHAR_3",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "APPLIED_TO_SOURCE_ID_CHAR_3",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "APPLIED_TO_SOURCE_ID_CHAR_4",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "APPLIED_TO_SOURCE_ID_CHAR_4",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "APPLIED_TO_DISTRIBUTION_TYPE",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "APPLIED_TO_DISTRIBUTION_TYPE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "APPLIED_TO_DIST_ID_NUM_1",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "APPLIED_TO_DIST_ID_NUM_1",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "APPLIED_TO_DIST_ID_NUM_2",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "APPLIED_TO_DIST_ID_NUM_2",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "APPLIED_TO_DIST_ID_NUM_3",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "APPLIED_TO_DIST_ID_NUM_3",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "APPLIED_TO_DIST_ID_NUM_4",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "APPLIED_TO_DIST_ID_NUM_4",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "APPLIED_TO_DIST_ID_NUM_5",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "APPLIED_TO_DIST_ID_NUM_5",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "APPLIED_TO_DIST_ID_CHAR_1",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "APPLIED_TO_DIST_ID_CHAR_1",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "APPLIED_TO_DIST_ID_CHAR_2",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "APPLIED_TO_DIST_ID_CHAR_2",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "APPLIED_TO_DIST_ID_CHAR_3",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "APPLIED_TO_DIST_ID_CHAR_3",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "APPLIED_TO_DIST_ID_CHAR_4",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "APPLIED_TO_DIST_ID_CHAR_4",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "APPLIED_TO_DIST_ID_CHAR_5",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "APPLIED_TO_DIST_ID_CHAR_5",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ALLOC_TO_APPLICATION_ID",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "ALLOC_TO_APPLICATION_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ALLOC_TO_ENTITY_CODE",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "ALLOC_TO_ENTITY_CODE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ALLOC_TO_SOURCE_ID_NUM_1",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "ALLOC_TO_SOURCE_ID_NUM_1",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ALLOC_TO_SOURCE_ID_NUM_2",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "ALLOC_TO_SOURCE_ID_NUM_2",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ALLOC_TO_SOURCE_ID_NUM_3",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "ALLOC_TO_SOURCE_ID_NUM_3",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ALLOC_TO_SOURCE_ID_NUM_4",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "ALLOC_TO_SOURCE_ID_NUM_4",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ALLOC_TO_SOURCE_ID_CHAR_1",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "ALLOC_TO_SOURCE_ID_CHAR_1",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ALLOC_TO_SOURCE_ID_CHAR_2",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "ALLOC_TO_SOURCE_ID_CHAR_2",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ALLOC_TO_SOURCE_ID_CHAR_3",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "ALLOC_TO_SOURCE_ID_CHAR_3",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ALLOC_TO_SOURCE_ID_CHAR_4",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "ALLOC_TO_SOURCE_ID_CHAR_4",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ALLOC_TO_DISTRIBUTION_TYPE",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "ALLOC_TO_DISTRIBUTION_TYPE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ALLOC_TO_DIST_ID_NUM_1",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "ALLOC_TO_DIST_ID_NUM_1",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ALLOC_TO_DIST_ID_NUM_2",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "ALLOC_TO_DIST_ID_NUM_2",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ALLOC_TO_DIST_ID_NUM_3",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "ALLOC_TO_DIST_ID_NUM_3",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ALLOC_TO_DIST_ID_NUM_4",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "ALLOC_TO_DIST_ID_NUM_4",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ALLOC_TO_DIST_ID_NUM_5",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "ALLOC_TO_DIST_ID_NUM_5",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ALLOC_TO_DIST_ID_CHAR_1",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "ALLOC_TO_DIST_ID_CHAR_1",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ALLOC_TO_DIST_ID_CHAR_2",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "ALLOC_TO_DIST_ID_CHAR_2",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ALLOC_TO_DIST_ID_CHAR_3",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "ALLOC_TO_DIST_ID_CHAR_3",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ALLOC_TO_DIST_ID_CHAR_4",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "ALLOC_TO_DIST_ID_CHAR_4",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ALLOC_TO_DIST_ID_CHAR_5",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "ALLOC_TO_DIST_ID_CHAR_5",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "GAIN_OR_LOSS_REF",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "GAIN_OR_LOSS_REF",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "_m_timestamp",
                  "type": "String"
                },
                "sink": {
                  "name": "_m_timestamp",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "_m_pipeline",
                  "type": "String"
                },
                "sink": {
                  "name": "_m_pipeline",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "_m_datetime",
                  "type": "String"
                },
                "sink": {
                  "name": "_m_datetime",
                  "type": "String",
                  "physicalType": "String"
                }
              }
            ],
            "typeConversion": true,
            "typeConversionSettings": {
              "allowDataTruncation": true,
              "treatBooleanAsNumber": false
            }
          }
        },
        "inputs": [
          {
            "referenceName": "ADLS_XLA_DISTRIBUTION_LINKS",
            "type": "DatasetReference"
          }
        ],
        "outputs": [
          {
            "referenceName": "SQL_XLA_DISTRIBUTION_LINKS",
            "type": "DatasetReference"
          }
        ]
      },
      {
        "name": "Copy XLA_EVENTS To SQL",
        "type": "Copy",
        "dependsOn": [
          {
            "activity": "Copy XLA_DISTRIBUTION_LINKS To SQL",
            "dependencyConditions": ["Succeeded"]
          }
        ],
        "policy": {
          "timeout": "7.00:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "source": {
            "type": "DelimitedTextSource",
            "additionalColumns": [
              {
                "name": "_M_TIMESTAMP",
                "value": {
                  "value": "@utcnow()",
                  "type": "Expression"
                }
              },
              {
                "name": "_M_PIPELINE",
                "value": {
                  "value": "@pipeline().Pipeline",
                  "type": "Expression"
                }
              },
              {
                "name": "_M_DATETIME",
                "value": {
                  "value": "@formatDateTime(utcnow())",
                  "type": "Expression"
                }
              }
            ],
            "storeSettings": {
              "type": "AzureBlobStorageReadSettings",
              "recursive": true,
              "modifiedDatetimeStart": {
                "value": "@activity('Lookup Generic File Timestamp').output.FirstRow.WATERMARK_DATETIME",
                "type": "Expression"
              },
              "wildcardFolderPath": "oracle_erp/baxdevus/schemas/XLA/XLA_EVENTS",
              "wildcardFileName": "*",
              "enablePartitionDiscovery": false
            },
            "formatSettings": {
              "type": "DelimitedTextReadSettings"
            }
          },
          "sink": {
            "type": "AzureSqlSink",
            "preCopyScript": {
              "value": "truncate table [stg].[XLA_EVENTS]",
              "type": "Expression"
            },
            "writeBehavior": "insert",
            "sqlWriterUseTableLock": false,
            "tableOption": "autoCreate",
            "disableMetricsCollection": false
          },
          "enableStaging": false,
          "translator": {
            "type": "TabularTranslator",
            "mappings": [
              {
                "source": {
                  "name": "EVENT_ID",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "EVENT_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "APPLICATION_ID",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "APPLICATION_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "EVENT_TYPE_CODE",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "EVENT_TYPE_CODE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "EVENT_DATE",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "EVENT_DATE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ENTITY_ID",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "ENTITY_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "EVENT_STATUS_CODE",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "EVENT_STATUS_CODE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "PROCESS_STATUS_CODE",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "PROCESS_STATUS_CODE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "REFERENCE_NUM_1",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "REFERENCE_NUM_1",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "REFERENCE_NUM_2",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "REFERENCE_NUM_2",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "REFERENCE_NUM_3",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "REFERENCE_NUM_3",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "REFERENCE_NUM_4",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "REFERENCE_NUM_4",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "REFERENCE_CHAR_1",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "REFERENCE_CHAR_1",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "REFERENCE_CHAR_2",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "REFERENCE_CHAR_2",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "REFERENCE_CHAR_3",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "REFERENCE_CHAR_3",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "REFERENCE_CHAR_4",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "REFERENCE_CHAR_4",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "REFERENCE_DATE_1",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "REFERENCE_DATE_1",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "REFERENCE_DATE_2",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "REFERENCE_DATE_2",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "REFERENCE_DATE_3",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "REFERENCE_DATE_3",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "REFERENCE_DATE_4",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "REFERENCE_DATE_4",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "EVENT_NUMBER",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "EVENT_NUMBER",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ON_HOLD_FLAG",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "ON_HOLD_FLAG",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "CREATION_DATE",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "CREATION_DATE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "CREATED_BY",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "CREATED_BY",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "LAST_UPDATE_DATE",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "LAST_UPDATE_DATE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "LAST_UPDATED_BY",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "LAST_UPDATED_BY",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "LAST_UPDATE_LOGIN",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "LAST_UPDATE_LOGIN",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "PROGRAM_UPDATE_DATE",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "PROGRAM_UPDATE_DATE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "PROGRAM_APPLICATION_ID",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "PROGRAM_APPLICATION_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "PROGRAM_ID",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "PROGRAM_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "REQUEST_ID",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "REQUEST_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "UPG_BATCH_ID",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "UPG_BATCH_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "UPG_SOURCE_APPLICATION_ID",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "UPG_SOURCE_APPLICATION_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "UPG_VALID_FLAG",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "UPG_VALID_FLAG",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "TRANSACTION_DATE",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "TRANSACTION_DATE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "BUDGETARY_CONTROL_FLAG",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "BUDGETARY_CONTROL_FLAG",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "MERGE_EVENT_SET_ID",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "MERGE_EVENT_SET_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "_m_timestamp",
                  "type": "String"
                },
                "sink": {
                  "name": "_m_timestamp",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "_m_pipeline",
                  "type": "String"
                },
                "sink": {
                  "name": "_m_pipeline",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "_m_datetime",
                  "type": "String"
                },
                "sink": {
                  "name": "_m_datetime",
                  "type": "String",
                  "physicalType": "String"
                }
              }
            ],
            "typeConversion": true,
            "typeConversionSettings": {
              "allowDataTruncation": true,
              "treatBooleanAsNumber": false
            }
          }
        },
        "inputs": [
          {
            "referenceName": "ADLS_XLA_EVENTS",
            "type": "DatasetReference"
          }
        ],
        "outputs": [
          {
            "referenceName": "SQL_XLA_EVENTS",
            "type": "DatasetReference"
          }
        ]
      },
      {
        "name": "Copy XLA_TRANSACTION_ENTITIES To SQL",
        "type": "Copy",
        "dependsOn": [
          {
            "activity": "Copy XLA_EVENTS To SQL",
            "dependencyConditions": ["Succeeded"]
          }
        ],
        "policy": {
          "timeout": "7.00:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "source": {
            "type": "DelimitedTextSource",
            "additionalColumns": [
              {
                "name": "_M_TIMESTAMP",
                "value": {
                  "value": "@utcnow()",
                  "type": "Expression"
                }
              },
              {
                "name": "_M_PIPELINE",
                "value": {
                  "value": "@pipeline().Pipeline",
                  "type": "Expression"
                }
              },
              {
                "name": "_M_DATETIME",
                "value": {
                  "value": "@formatDateTime(utcnow())",
                  "type": "Expression"
                }
              }
            ],
            "storeSettings": {
              "type": "AzureBlobStorageReadSettings",
              "recursive": true,
              "modifiedDatetimeStart": {
                "value": "@activity('Lookup Generic File Timestamp').output.FirstRow.WATERMARK_DATETIME",
                "type": "Expression"
              },
              "wildcardFolderPath": "oracle_erp/baxdevus/schemas/XLA/XLA_TRANSACTION_ENTITIES",
              "wildcardFileName": "*",
              "enablePartitionDiscovery": false
            },
            "formatSettings": {
              "type": "DelimitedTextReadSettings"
            }
          },
          "sink": {
            "type": "AzureSqlSink",
            "preCopyScript": {
              "value": "truncate table [stg].[XLA_TRANSACTION_ENTITIES]",
              "type": "Expression"
            },
            "writeBehavior": "insert",
            "sqlWriterUseTableLock": false,
            "tableOption": "autoCreate",
            "disableMetricsCollection": false
          },
          "enableStaging": false,
          "translator": {
            "type": "TabularTranslator",
            "mappings": [
              {
                "source": {
                  "name": "ENTITY_ID",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "ENTITY_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "APPLICATION_ID",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "APPLICATION_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "LEGAL_ENTITY_ID",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "LEGAL_ENTITY_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "ENTITY_CODE",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "ENTITY_CODE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "CREATION_DATE",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "CREATION_DATE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "CREATED_BY",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "CREATED_BY",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "LAST_UPDATE_DATE",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "LAST_UPDATE_DATE",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "LAST_UPDATED_BY",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "LAST_UPDATED_BY",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "LAST_UPDATE_LOGIN",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "LAST_UPDATE_LOGIN",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "SOURCE_ID_INT_1",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "SOURCE_ID_INT_1",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "SOURCE_ID_CHAR_1",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "SOURCE_ID_CHAR_1",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "SECURITY_ID_INT_1",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "SECURITY_ID_INT_1",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "SECURITY_ID_INT_2",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "SECURITY_ID_INT_2",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "SECURITY_ID_INT_3",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "SECURITY_ID_INT_3",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "SECURITY_ID_CHAR_1",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "SECURITY_ID_CHAR_1",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "SECURITY_ID_CHAR_2",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "SECURITY_ID_CHAR_2",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "SECURITY_ID_CHAR_3",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "SECURITY_ID_CHAR_3",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "SOURCE_ID_INT_2",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "SOURCE_ID_INT_2",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "SOURCE_ID_CHAR_2",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "SOURCE_ID_CHAR_2",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "SOURCE_ID_INT_3",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "SOURCE_ID_INT_3",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "SOURCE_ID_CHAR_3",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "SOURCE_ID_CHAR_3",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "SOURCE_ID_INT_4",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "SOURCE_ID_INT_4",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "SOURCE_ID_CHAR_4",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "SOURCE_ID_CHAR_4",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "TRANSACTION_NUMBER",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "TRANSACTION_NUMBER",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "LEDGER_ID",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "LEDGER_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "VALUATION_METHOD",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "VALUATION_METHOD",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "SOURCE_APPLICATION_ID",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "SOURCE_APPLICATION_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "UPG_BATCH_ID",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "UPG_BATCH_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "UPG_SOURCE_APPLICATION_ID",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "UPG_SOURCE_APPLICATION_ID",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "UPG_VALID_FLAG",
                  "type": "String",
                  "physicalType": "String"
                },
                "sink": {
                  "name": "UPG_VALID_FLAG",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "_m_timestamp",
                  "type": "String"
                },
                "sink": {
                  "name": "_m_timestamp",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "_m_pipeline",
                  "type": "String"
                },
                "sink": {
                  "name": "_m_pipeline",
                  "type": "String",
                  "physicalType": "String"
                }
              },
              {
                "source": {
                  "name": "_m_datetime",
                  "type": "String"
                },
                "sink": {
                  "name": "_m_datetime",
                  "type": "String",
                  "physicalType": "String"
                }
              }
            ],
            "typeConversion": true,
            "typeConversionSettings": {
              "allowDataTruncation": true,
              "treatBooleanAsNumber": false
            }
          }
        },
        "inputs": [
          {
            "referenceName": "ADLS_XLA_TRANSACTION_ENTITIES",
            "type": "DatasetReference"
          }
        ],
        "outputs": [
          {
            "referenceName": "SQL_XLA_TRANSACTION_ENTITIES",
            "type": "DatasetReference"
          }
        ]
      },
      {
        "name": "Lookup Generic File Timestamp",
        "type": "Lookup",
        "dependsOn": [],
        "policy": {
          "timeout": "7.00:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "source": {
            "type": "AzureSqlSource",
            "sqlReaderQuery": {
              "value": "select WATERMARK_DATETIME \nfrom [dbo].[WATERMARK] \nwhere OWNER_NAME = '@{variables('ADF_OWNER_NAME')}'\nand TABLE_NAME = '@{variables('Table_Generic')}'",
              "type": "Expression"
            },
            "queryTimeout": "02:00:00",
            "partitionOption": "None"
          },
          "dataset": {
            "referenceName": "WATERMARK",
            "type": "DatasetReference"
          }
        }
      },
      {
        "name": "Update Generic ADLS Watermark",
        "type": "SqlServerStoredProcedure",
        "dependsOn": [
          {
            "activity": "Copy XLA_AE_LINES To SQL",
            "dependencyConditions": ["Succeeded"]
          }
        ],
        "policy": {
          "timeout": "7.00:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "storedProcedureName": "[dbo].[UpdateWatermark]",
          "storedProcedureParameters": {
            "LastModifiedtime": {
              "value": {
                "value": "@pipeline().TriggerTime",
                "type": "Expression"
              },
              "type": "Datetime"
            },
            "OWNER_NAME": {
              "value": {
                "value": "@variables('ADF_OWNER_NAME')",
                "type": "Expression"
              },
              "type": "String"
            },
            "TABLE_NAME": {
              "value": {
                "value": "@variables('Table_Generic')",
                "type": "Expression"
              },
              "type": "String"
            }
          }
        },
        "linkedServiceName": {
          "referenceName": "BFG_SQL_DB",
          "type": "LinkedServiceReference"
        }
      }
    ],
    "variables": {
      "ADF_OWNER_NAME": {
        "type": "String",
        "defaultValue": "ADF"
      },
      "Table_Generic": {
        "type": "String",
        "defaultValue": "XLA_TABLES"
      }
    },
    "annotations": []
  }
}
